- content_for(:page, 'apps')
- content_for(:subpage, 'stock management')

- content_for(:title, 'Apps | Stocky')

%section#content
  = render 'layouts/partials/search'

  .page
    = render 'admin/apps/stocky/partials/stocknav'
    .row
      .col-lg-8
        %section.panel.panel-default.table-dynamic
          .panel-heading
            Voorraad
          .table-responsive
            %table.table.table-bordered.table-striped.table-linked
              %thead
                %tr
                  %th
                    .th
                      Product
                  %th
                    .th
                      Aantal
                  %th
                    .th
                      Datum
              - @purchases.each do |purchase|
                %tr
                  %td
                    = @products.find(purchase.checkout_product_id).name
                  %td
                    = purchase.amount
                  %td
                    = purchase.created_at
