- content_for(:page, 'apps')
- content_for(:subpage, 'stock management')

- content_for(:title, 'Apps | Stocky')

%section#content
  = render 'layouts/partials/search'

  .page
    = render 'admin/apps/stocky/partials/stocknav'

    .row
      .col-lg-12
        %section.panel.panel-default.table-dynamic
          .panel-heading
            Voorraad
          .table-responsive
            %table.table.table-bordered.table-striped.table-linked
              %thead
                %tr
                  %th
                    .th
                      Product
                  %th
                    .th
                      Kelder
                  %th
                    .th
                      Kamer
              - @products.each do |product|
                %tr
                  %td
                    =product.name
                  %td
                    = product.storage_stock
                  %td
                    = product.chamber_stock
    .row
      .col-lg-12
        = render 'admin/apps/stocky/partials/new_move',
        url: '/apps/stocky/create', method: :post

    .row
      .col-lg-12
        %section.panel.panel-default.table-dynamic
          .panel-heading
            Verplaatsingen
          .table-responsive
            %table.table.table-bordered.table-striped.table-linked
              %thead
                %tr
                  %th
                    .th
                      Product
                  %th
                    .th
                      From
                  %th
                    .th
                      To
                  %th
                    .th
                      Amount
                  %th
                    .th
                      Date
              - @moves.each do |transaction|
                %tr
                  %td
                    = transaction.checkout_product_type.name
                  %td
                    = transaction.from
                  %td
                    = transaction.to
                  %td
                    = transaction.amount
                  %td
                    = transaction.created_at
