- content_for(:title, "Constipated koala | Digitale Inschrijvingen")

%section#enrollments
  .page.enrollment-page#content
    .container
      - @activities.each do |activity|
        .col-lg-4.col-sm-6.col-xs-12
          .panel.panel-default.panel-activity{ :data => {:'activity-id' => activity.id }}
            .panel-heading
              = activity[ :name ]
            .panel-body.activity-info
              .media-left.poster-thumbnail
                - if activity.poster_updated_at.nil?
                  =image_tag "https://koala-images.s3.amazonaws.com/activities/350/medium.png?1479996031"
                - else
                  =image_tag activity.poster.url(:medium)
              .media-body
                %strong Datum: 
                = activity[ :start_date ].strftime("%d/%m/%Y")
                - if activity.end_date.nil?
                - elsif activity.start_date == activity.end_date
                - else
                  \-
                  = activity[ :end_date ].strftime("%d/%m/%Y")
                - if activity.start_time.nil?
                - else
                  <br/>
                  %strong Begintijd:
                  = activity[ :start_time ].strftime("%H:%M")
                <br/>
                %strong Prijs: 
                &euro;
                = number_with_precision(activity[ :price ], :precision => 2)
            .panel-footer.clearfix
              .pull-right
                .btn-group
                  %button.btn.btn-default
                    Meer info
                  - if @enrollments.ids.include? activity.id
                    %button.btn.btn-warning.cancel
                      Uitschrijven
                  - else
                    %button.btn.btn-success.enroll
                      Inschrijven