- content_for(:page, "enrollments")
- content_for(:title, "Constipated koala | Digitale Inschrijvingen")

%section#enrollments
  .page.enrollment-page#content
    .container
      - @activities.each do |activity|
        .col-lg-4.col-sm-6.col-xs-12
          .panel.panel-default.panel-activity{ :data => {:'activity-id' => activity.id }}
            .panel-heading.text-right
              %span.panel-title.pull-left.activity-title
                = activity[ :name ]
              %span.panel-title.pull-right.activity-count
                - if(activity.participant_limit.nil?)
                  = activity.participants.count
                - elsif(activity.participants.count >= activity.participant_limit)
                  VOL!
                - else
                  = activity.participants.count
                  \/
                  = activity.participant_limit
              .clearfix
            .panel-body
              .media-left.poster-thumbnail
                %a.show-poster-modal{"data-toggle" => "modal", :href => "#"}
                  - if activity.poster_updated_at.nil?
                    =image_tag "https://koala-images.s3.amazonaws.com/activities/350/thumb.png?1479996031", class: "small-poster"
                  - else
                    =image_tag activity.poster.url(:thumb), id: "small-poster"
              .media-body
                %strong Datum:
                = activity[ :start_date ].strftime("%d/%m/%Y")
                - if activity.end_date.nil?
                - elsif activity.start_date == activity.end_date
                - else
                  \-
                  = activity[ :end_date ].strftime("%d/%m/%Y")
                - if activity.start_time.nil?
                - else
                  <br/>
                  %strong Begintijd:
                  = activity[ :start_time ].strftime("%H:%M")
                <br/>
                %strong Prijs:
                &euro;
                = number_with_precision(activity[ :price ], :precision => 2)
                <br/>
                - if(!activity.location.nil?)
                  %strong Locatie:
                  = activity.location
                - if(!activity.unenroll_date.nil?)
                  Uitschrijfdeadline:
                  %span.activity-unenroll
                    = activity[ :unenroll_date ].strftime("%d/%m/%Y")
            .panel-footer.clearfix
              .pull-right
                .btn-group
                  = link_to "Meer info", "enrollments/#{activity.id}", class: "btn btn-default"
                  - if @enrollments.ids.include? activity.id
                    %button.btn.btn-warning.cancel
                      Uitschrijven
                  - else
                    %button.btn.btn-success.enroll
                      Inschrijven
    #poster-modal.modal{:role => "dialog"}
      .modal-dialog
        .modal-content#activity-modal
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              &times;
            %h4.panel-title#activity-title
          .modal-body
            %img.full-width#image-view
          .modal-footer
            .col-md-1
              %button.btn.btn-default#prev-poster <
            .col-md-6.col-md-offset-2
              %button.btn.btn-default.full-width{"data-dismiss" => "modal"} Sluiten
            .col-md-1.col-md-offset-2
              %button.btn.btn-default#next-poster >
