- content_for(:page, "enrollments")
- content_for(:title, "Activiteiten | #{@activity.name}")

%section#enrollments
  .page.enrollment-show#content
    .container#activity-container
      - if @activity.reservists.count > 0
        .col-lg-6
          = render 'layouts/activity/users/view', activity: @activity, view: 'show'
      - else
        .col-lg-9
          = render 'layouts/activity/users/view', activity: @activity, view: 'show'

      %template#participant_table_row_template
        = render 'layouts/activity/users/participant_table_row', participant: Participant.new(activity: @activity, member: Member.new), is_template: true
      .col-lg-3.col-md-6.cramtable
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-user
            %span#attendees-count.number= @activity.attendees.count
            deelnemers

          %table#attendees_table.table.table-striped.table-linked{ :data => {'id' => @activity.id }}
            %tbody
              - @activity.attendees.sort_by { |participant| [participant.member.first_name, participant.member.last_name] }.each do |participant|
                = render 'layouts/activity/users/participant_table_row', participant: participant

      - if @activity.reservists.count > 0
        .col-lg-3.col-md-6.cramtable
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-user
              %span#reservists-count.number= @activity.reservists.count
              op reservelijst

            %table#reservists_table.table.table-striped.table-linked{ :data => {'id' => @activity.id }}
              %tbody
                - @activity.reservists.sort_by { |participant| [participant.member.first_name, participant.member.last_name] }.each do |participant|
                  = render 'layouts/activity/users/participant_table_row', participant: participant

      = link_to "mailto:pleasedotheneedful@svsticky.nl" , class: "btn btn-danger helpme"do
        %i.fa.fa-bug
        BUG!
    = render 'layouts/activity/poster_modal'
