-#
  @param {participant} participant  - Participant for this row of the table

%tr{ :data => { :id => participant.id || '{0}', :'data-activities-id' => @activity.id, :email => participant.member.email || '{3}', reservist: participant.reservist.to_s || 'false' }  }
  %td.name-td
    = participant.member.name.blank? ? '-' : participant.member.name

  %td.price-td{:style => 'padding: 0px; min-width: 10%; width: 10%; text-align:left;' }
    = number_to_currency(participant.currency, :unit => '')

  %td.notes-td
    - if participant.notes
      %p
        = participant.notes
  %td.had-paid-td
    = participant.paid ? '✓' : 'x'

  %td.had-paid-td
    -# = participant.spare ? '✓' : 'x'
    = 'x'
