-#
  @param {member} {"entity", "is_reservist"} - Involved person for this row of the table

%tr{ :data => { :id => member["entity"].id || '{0}', :'data-activities-id' => @activity.id, :email => member["entity"].member.email || '{3}', reservist: member["entity"].reservist.to_s || 'false' }  }
  %td.name-td
    = member["entity"].member.name.blank? ? '-' : member["entity"].member.name

  %td.price-td{:style => 'padding: 0px; min-width: 10%; width: 10%; text-align:left;' }
    = number_to_currency(member["entity"].currency, :unit => '')

  %td.notes-td
    - if member["entity"].notes
      %p
        = member["entity"].notes
  %td.had-paid-td
    = member["entity"].paid ? '✓' : 'x'

  %td.had-paid-td
    = member["is_reservist"] ? '✓' : 'x'
