-#
  @param {activity} @activity   - Activity of the current page set in the controller

= form_for :activity, url: url, method: method, :class => 'form-validation' do |f|
  - if @activity.errors.any?
    .alert.alert-danger
      %button.close{ type: "button" } ×
      %span Oeps, niet alles is goed ingevuld;
      %ul
      - @activity.errors.full_messages.each do |msg|
        %li= msg

  .panel.panel-default
    .panel-heading
      %i.fa.fa-fw.fa-ticket
      =activity_textfield
    .panel-body
      .form-group
        .row
          .col-md-8
            = label(:activity, :name)
            = f.text_field :name, :value => @activity.name, :class => 'form-control'
          .col-md-4
            = label(:activity, :price)
            = f.text_field :price, :value => number_to_currency(@activity.price, :unit => ''), :class => 'form-control'

      .form-group.poster
        .row
          .col-md-12
            = label(:activity, :description)
            = f.text_area :description, :value => @activity.description, :class => 'form-control', :rows => 8

      .form-group.poster
        .row
          .col-md-12
            = label(:activity, :poster)
            .input-group
              %input#output.form-control{ :readonly => '', :value => ("#{@activity.poster.url(:medium)}" if !@activity.poster_file_name.nil?) }

              .input-group-btn
                %div.btn.btn-primary.file-input-wrapper
                  %span uploaden
                  = f.file_field :poster, { 'data-ui-file-upload' => '' }
                %button.btn.btn-primary.dropdown-toggle{ 'data-toggle' => 'dropdown', :type => 'button', :class => ( 'disabled' if @activity.poster_file_name.nil? ) }
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'download', @activity.poster.url(:medium), :download => ''
                  %li.divider
                  %li
                    = link_to 'verwijder', '#', :class => 'remove'

            = f.hidden_field :_destroy, :class => 'remove_poster'

      %span.poster.hidden-xs
        - if !@activity.poster_file_name.nil?
          =image_tag @activity.poster.url(:thumb)

      .form-group
        .row
          .col-md-6
            = label(:activity, :start_date)
            = f.date_field :start_date, :value => @activity.start_date, :class => 'form-control'
          .col-md-6
            = label(:activity, :start_time)
            = f.time_field :start_time, :value => (I18n.l(@activity.start_time, :format => :short) unless @activity.end_time.nil?), :class => 'form-control'
      .form-group
        .row
          .col-md-6
            = label(:activity, :end_date)
            = f.date_field :end_date, :value => @activity.end_date, :class => 'form-control'
          .col-md-6
            = label(:activity, :end_time)
            = f.time_field :end_time, :value => (I18n.l(@activity.end_time, :format => :short) unless @activity.end_time.nil?), :class => 'form-control'
      .form-group
        .row
          .col-md-12
            = label(:activity, :unenroll_date)
            = f.date_field :unenroll_date, :value => @activity.unenroll_date, :class => 'form-control'
      .form-group
        .row
          .col-md-12
            = label(:activity, :location)
            = f.text_field :location, :class => 'form-control'
      .form-group
        .row
          .col-md-12
            = label(:activity, :organized_by)
            .ui-select
              = f.select :organized_by, options_for_select(Group.has_members.order(:category, :name).map{ |group| [group.name, group.id] }, @activity.organized_by), :include_blank => '-'

      .form-group
        .row
          .col-md-12
            = label(:activity, :notes)
        .row
          .col-md-8
            = f.text_field :notes, :value => @activity.notes, :class => 'form-control', id: "activity-notes"
          .col-md-2
            = label(:activity, :notes_public)
            = f.check_box :notes_public, checked: @activity.notes_public
          .col-md-2
            = label(:activity, :notes_mandatory)
            = f.check_box :notes_mandatory, checked: @activity.notes_mandatory

      .form-group
        = label(:activity, :comments)
        = f.text_area :comments, :value => @activity.comments, :class => 'form-control'

      .form-group
        .row
          .col-md-2
            = label(:activity, :is_alcoholic)
            = f.check_box :is_alcoholic, checked: @activity.is_alcoholic
          .col-md-2
            = label(:activity, :is_viewable)
            = f.check_box :is_viewable, checked: @activity.is_viewable || @activity.name.nil?, data: {original: @activity.is_viewable}, id: "is_viewable"
          .col-md-2
            = label(:activity, :is_enrollable)
            = f.check_box :is_enrollable, checked: @activity.is_enrollable, disabled: !@activity.is_viewable, data: {original: @activity.is_enrollable}, id: "is_enrollable"
          .col-md-2
            = label(:activity, :is_masters)
            = f.check_box :is_masters, checked: @activity.is_masters
          .col-md-2
            = label(:activity, :is_freshmans)
            = f.check_box :is_freshmans, checked: @activity.is_freshmans
      .form-group
        .row
          .col-md-6
            = label(:activity, :participant_limit)
            = f.number_field :participant_limit, min: 0, disabled: !@activity.is_enrollable, data: {original: @activity.participant_limit}, id: "participant_limit"

      %button.btn.btn-success.wait{type: 'submit'} Opslaan
      - if (@activity.id)
        = link_to 'Back', :back, { :class => 'button btn btn-default' }
        = link_to 'Verwijderen', activity_path(@activity.id), { :class => 'button btn btn-danger pull-right', 'data-method' => :delete }
      - else
        = link_to 'Annuleren', activities_path, { :class => 'button btn btn-default' }
