.panel.panel-default.panel-activity{ :data => {:'activity-id' => activity.id }}
  .panel-heading.text-right
    %span.panel-title.pull-left.activity-title{ :style => 'text-overflow: ellipsis;'}
      = activity.name
    = activity.participant_counter
    .clearfix
  .panel-body
    .media-left.poster-thumbnail
      %a.show-poster-modal{'data-toggle': 'modal', 'data-target': '#poster-modal'}
        - if activity.poster_updated_at.nil?
          =image_tag "https://koala-images.s3.amazonaws.com/geen_poster_placeholder.svg", class: "small-poster"
        - else
          =image_tag activity.poster.url(:thumb), class: "small-poster"
    .media-body
      - if activity.start_date != activity.end_date
        %strong Wanneer:
        = activity.start_date.strftime("%d/%m/%Y")
        - if !activity.start_time.nil?
          = activity.start_time.strftime("%H:%M")
        \-
        = activity.end_date.strftime("%d/%m/%Y")
        - if !activity.end_time.nil?
          = activity.end_time.strftime("%H:%M")
      - else
        %strong Datum:
        = activity.start_date.strftime("%d/%m/%Y")
        - if !activity.start_time.nil?
          <br/>
          %strong Tijd:
          = activity.start_time.strftime("%H:%M")
        - if !activity.end_time.nil?
          \-
          = activity.end_time.strftime("%H:%M")
      <br/>
      %strong Prijs:
      - if !activity.price.nil? and activity.price != 0
        &euro;
        = number_with_precision(activity.price, :precision => 2)
        <br/>
      - else
        Gratis
        <br/>
      - if !activity.location.nil? && activity.location != ''
        %strong Locatie:
        = activity.location
        <br/>
      - if !activity.unenroll_date.nil?
        %strong Uitschrijfdeadline:
        %span.activity-unenroll
          = activity.unenroll_date.strftime("%d/%m/%Y")
      <br/>
      - if view == 'index'
        - if !activity.notes.blank?
          %span{style: 'color: red; font-weight: bold; display:block; padding-top: 14px'} Vereist extra info!
  - if view =='show'
    .panel-body.show-activity-topborder
      %strong Omschrijving:
      <br/>
      - if activity.description.blank?
        Geen beschrijving beschikbaar :(
      - else
        = simple_format(activity.description)
    - if !activity.notes.blank?
      .panel-body.show-activity-topborder
        %strong
          = activity.notes
        %textarea.form-control.notes{:maxlength => '30', :value => (@enrollment.notes unless @enrollment.nil?)}
          = @enrollment.notes unless @enrollment.nil?
  .panel-footer.clearfix
    .pull-right
      .btn-group
        - if view == 'index'
          -if !activity.notes.blank?
            = link_to raw("Meer info&nbsp;&nbsp;&nbsp;<i class='fa fa-pencil-square-o'></i>"), "/enrollments/#{activity.id}", class: "btn btn-default more-info"
          -else
            = link_to "Meer info", "/enrollments/#{activity.id}", class: "btn btn-default more-info"
        -else
          =link_to "Terug", "/enrollments/", class: "btn btn-default more-info"

        - if !activity.notes.blank? && view == 'show'
          %button.btn.btn-info.update-enrollment{ :class => ('hide' unless @member.confirmed_activities.ids.include? activity.id || (@member.reservist_activities.ids.include? activity.id))}
            Update info
        - if @member.confirmed_activities.ids.include? activity.id
          - button_text = 'Uitschrijven'
          - button_class = 'btn-danger'
          - if !activity.unenroll_date.nil? && activity.unenroll_date < Date.today
            - button_class += ' disabled'
        - elsif @member.reservist_activities.ids.include? activity.id
          - button_text = 'Uitschrijven Reservelijst'
          - button_class = 'btn-warning'
        - elsif activity.participant_limit != nil && activity.participant_limit <= activity.participants.count
          - button_text = 'Inschrijven Reservelijst'
          - button_class = 'btn-warning-sat'
        - else
          - button_text = 'Inschrijven'
          - button_class = 'btn-success'
          - if !activity.notes.blank? && view == 'index'
            -button_class += ' disabled'

        - if activity.is_enrollable
          %button.btn.enrollment{ :class => button_class}
            = button_text
