.row
  = form_for :user, url: new_member_confirm_path, method: :post, :html => { :class => 'form-horizontal'} do |f|

    - if @user.errors.any?
      - @user.errors.full_messages.each do |message|
        .alert.alert-danger
          %span
            = message

    - if flash[:alert]
      .alert.alert-danger
        %span.dark:text-white
          = flash[:alert]

    - if flash[:notice]
      .alert.alert-info
        %span
          = flash[:notice]

    %fieldset
      %h4.dark:text-white
        = I18n.t :activate, scope: 'devise.confirmations'

      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-envelope
          %label.form-control.form-control-disabled
            = @user.email

      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-lock
          = f.password_field :password, autocomplete: 'off', placeholder: t('activerecord.attributes.user.password'), :class => 'form-control'

      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-lock
          = f.password_field :password_confirmation, autocomplete: 'off', placeholder: t('activerecord.attributes.user.password_confirmation'), :class => 'form-control'
      .form-group
        = f.hidden_field :confirmation_token, value: @user.confirmation_token
        = f.submit t('devise.confirmations.activate_account'), :class => 'btn btn-primary btn-block'
        -# i18n todo

= render 'devise/partials/form_footer'

