.row
  = form_for :user, url: user_confirmation_path, method: :post, :html => { :class => 'form-horizontal'} do |f|

    - if !resource.errors.full_messages.blank?
      - resource.errors.full_messages.each do |message|
        .alert.alert-danger
          %span
            = message

    - if flash[:alert]
      .alert.alert-danger
        %span
          = flash[:alert]

    - if flash[:notice]
      .alert.alert-info
        %span
          = flash[:notice]

    %fieldset
      %h4.dark:text-white= I18n.t 'devise.confirmations.new.instruction'

      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-envelope
          = f.email_field :email, :value => @user.unconfirmed_email, :class => 'form-control form-control-disabled', :disabled => true

      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-lock
          = f.password_field :password, autocomplete: 'off', placeholder: t('activerecord.attributes.user.password'), :class => 'form-control'

      .form-group
        = f.hidden_field :confirmation_token, value: @user.confirmation_token
        = f.submit t('devise.confirmations.new.submit'), :class => 'btn btn-primary btn-block'

= render 'devise/partials/form_footer'
