%p{:style => "font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"}
  = t('mailings.greeting')
  %strong= "%recipient.first_name%,"

%p{:style => "font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"}
  = @activity.start_date <= Date.today ? t('mailings.participants.inform.activity_visited_html', subject: subject) : t('mailings.participants.inform.activity_payable_unvisited_html', subject: subject)

%p{:style => "font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"}
  = t('mailings.participants.inform.payment_instructions_html', subject: @activity.escaped_name)

%p{:style => "font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"}
  != current_user.credentials.signature
