- content_for(:page, 'members')
- content_for(:title, "Leden | #{@member.name}")

%section#content
  .page.page-form
    .row
      = form_for :member, url: member_path(@member), method: :patch, :class => 'form-validation' do |f|

        - if @member.errors.any?
          .col-md-12
            .alert.alert-danger
              %button.close{ type: "button" } ×
              %span Oh snap, niet alles is goed ingevuld;
              %ul
              - @member.errors.full_messages.each do |msg|
                %li= msg

        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-user
              Algemene gegevens
            .panel-body
              .form-group
                .row
                  .col-md-5
                    = label(:member, :first_name)
                    = f.text_field :first_name, :value => @member.first_name, :class => 'form-control'
                  .col-md-2
                    = label(:member, :infix)
                    = f.text_field :infix, :value => @member.infix, :class => 'form-control'
                  .col-md-5
                    = label(:member, :last_name)
                    = f.text_field :last_name, :value => @member.last_name, :class => 'form-control'

              .form-group
                .row
                  .col-md-6
                    = label(:member, :gender)
                    .ui-select
                      = f.select :gender, options_for_select([["MAN", "m"], ["VROUW", "f"]], @member.gender)
                  .col-md-6
                    = label(:member, :birth_date)
                    = f.date_field :birth_date, :value => @member.birth_date, :class => 'form-control'

              .form-group
                .row
                  .col-md-8
                    = label(:member, :address)
                    = f.text_field :address, :value => @member.address, :class => 'form-control'
                  .col-md-4
                    = label(:member, :house_number)
                    = f.text_field :house_number, :value => @member.house_number, :class => 'form-control'

              .form-group
                .row
                  .col-md-6
                    = label(:member, :postal_code)
                    = f.text_field :postal_code, :value => @member.postal_code, :class => 'form-control'
                  .col-md-6
                    = label(:member, :city)
                    = f.text_field :city, :value => @member.city, :class => 'form-control'

              .form-group
                = label(:member, :phone_number)
                = f.telephone_field :phone_number, :value => @member.phone_number, :class => 'form-control'

              .form-group
                = label(:member, :email)
                = f.email_field :email, :value => @member.email, :class => 'form-control'
                .help-block Dit kan niet een uu email zijn!

              .form-group
                = label(:member, :tags)
                = f.select :tags, options_for_select( Tag.names.map{ |tag, id| [I18n.t( tag, scope: 'activerecord.attributes.tag.names' ), tag] }, @member.tags.collect{ |tag| tag.name }), { :include_blank => true }, :multiple => true, :name => 'member[tags_names][]', :class => 'form-control'

              .form-group
                = label(:member, :comments)
                = f.text_area :comments, :value => @member.comments, :class => 'form-control'

        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-image
              Profielfoto
            .panel-body
              .callout.callout-info
                %p Als profielfoto gebruiken we een gravatar die gekoppeld is aan je e-mailadres.

        .col-md-6.education
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-graduation-cap
              Studiegegevens
            .panel-body
              .form-group
                = label(:member, :student_id)
                = f.text_field :student_id, :value => @member.student_id, :class => 'form-control'

              .form-group
                = label(:member, :join_date)
                = f.date_field :join_date, :value => @member.join_date, :class => 'form-control'

              .form-group
                %label{for: 'member_educations'}
                  = I18n.t('activerecord.attributes.member.educations')
                  %a.close{ :type => 'button' } +
                - @member.educations.each do |education|
                  = f.fields_for 'educations_attributes[]', education do |fs|
                    .form-group.copyable
                      - if !education.id.nil? && education.id > 0
                        = fs.hidden_field :id, :class => 'id'
                      .row
                        .col-md-6
                          .ui-select
                            = fs.select :study_id, options_for_select(Study.all.map{|s| [I18n.t(s.code.downcase, scope: 'activerecord.attributes.study.names'), s.id]}, education.study_id), :include_blank => "--"
                        .col-md-6
                          .ui-select
                            = fs.select :status, options_for_select(Education.statuses.map{ |name, id| [I18n.t(name, scope: 'activerecord.attributes.education.status'), name]}, education.status)
                      .row
                        .col-md-6
                          = fs.date_field :start_date, :class => 'form-control', :placeholder => 'begin datum'
                        .col-md-6
                          = fs.date_field :end_date, :class => 'form-control', :placeholder => 'eind datum'
                        = fs.hidden_field :_destroy, :class => 'destroy'


                      %a.btn.btn-default.destroy{ :type => 'button' }
                        %span.fa.fa-trash-o

        .col-md-12
          .panel.panel-default
            .panel-body
              %button.btn.btn-success{type: 'submit'} Opslaan
              = link_to 'Annuleren', member_path, { :class => 'button btn btn-default' }
              = link_to 'Verwijderen', member_path(@member.id), { :class => 'button btn btn-danger pull-right', 'data-method' => :delete }
