- content_for(:page, 'members')
- content_for(:title, 'Leden')

%section#content
  = render 'layouts/partials/search'

  .page.page-table
    %section.card.table-dynamic
      .card-header
        %i.fa.fa-fw.fa-user
        Leden
        = link_to '+', :new_member, { :class => 'btn btn-secondary float-right', :style => 'line-height: 1;' }

      .table-responsive
        %table.table.table-bordered.table-striped.table-linked
          %thead
            %tr
              %th
                .th
                  Voornaam
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Tussenvoegsel
              %th
                .th
                  Achternaam
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Telefoonnummer
              %th
                .th
                  E-mailadres
              %th
                .th
                  Studentnummer
              %th
                .th
                  Studie
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down

          - @members.each do |member|
            %tr
              %td= link_to "#{member.first_name}", member
              %td= link_to "#{member.infix}", member
              %td= link_to "#{member.last_name}", member
              %td
                = link_to "tel:#{member.phone_number}" do
                  %i.fa.fa-phone
                  = member.phone_number
              %td= link_to "#{member.email}", member
              %td= link_to "#{member.student_id}", member
              %td= link_to "#{member.educations.map{ |s| s.study.code }.join(', ')}", member

        %footer.table-footer
          .row
            .col-lg-5.page-num-info.d-none.d-sm-block{ :data => { :limit => @limit, :pagination => 4, :search => @search, :all => @all } }
              %span
                Toon
                = select_tag 'limit', options_for_select([20,50,100], @limit)
                leden per pagina

            -# will_paginate doesn't work for search results, so we use a simpler footer then
            - if @search.present?
              .col-lg-3
                -# Only show button if there are pages to go back to
                - if @page > 1
                  = link_to( { search: @search, limit: @limit.to_i, page: @page - 1 }, class: 'btn btn-light') do
                    ="←"

              .col-lg-3
                -# Only show button if there are as many results as the limit
                - if @members.count >= @limit
                  = link_to( { search: @search, limit: @limit, page: @page + 1 }, class: 'btn btn-light') do
                    ="→"

            - else
              .col-lg-6
                = will_paginate @members, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
