- content_for(:page, 'members')
- content_for(:title, 'Leden')

%section#content
  = render 'layouts/partials/search'

  .page.page-table
    %section.card.table-dynamic
      .card-header
        %i.fa.fa-fw.fa-user
        Leden
        = link_to '+', :new_member, { :class => 'btn btn-secondary float-right', :style => 'line-height: 1;' }

      .table-responsive
        %table.table.table-bordered.table-striped.table-linked
          %thead
            %tr
              %th
                .th
                  Voornaam
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Tussenvoegsel
              %th
                .th
                  Achternaam
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Telefoonnummer
              %th
                .th
                  E-mailadres
              %th
                .th
                  Studentnummer
              %th
                .th
                  Studie
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down

          - @members.each do |member|
            %tr
              %td= link_to "#{member.first_name}", member
              %td= link_to "#{member.infix}", member
              %td= link_to "#{member.last_name}", member
              %td.d-none.d-sm-table-cell= link_to "#{member.phone_number}", member
              %td.d-block.d-sm-none= link_to "#{member.phone_number}", "tel:#{member.phone_number}", :style => 'color: darkblue;'
              %td= link_to "#{member.email}", member
              %td= link_to "#{member.student_id}", member
              %td= link_to "#{member.educations.map{ |s| s.study.code }.join(', ')}", member

      - if @search == nil
        %footer.table-footer
          .row
            .col-lg-5.page-num-info.d-none.d-sm-block{ :data => { :limit => @limit, :pagination => 4, :search => @search, :all => @all } }
              %span
                Toon
                = select_tag 'limit', options_for_select([20,50,100], @limit)
                leden per pagina

            .col-lg-6
              = will_paginate @members, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
