- content_for(:page, 'members')
- content_for(:title, 'Leden')

%section#content
  = render 'layouts/partials/search'

  .page.page-table
    %section.card.table-dynamic
      .card-header
        %i.fa.fa-fw.fa-user
        Leden
        = link_to '+', :new_member, class: 'btn btn-outline-primary'

      %table.table.card-body.table-striped
        %thead
          %tr
            %th
              .th
                Voornaam
                -#
                  %span.glyphicon.glyphicon-chevron-up
                  %span.glyphicon.glyphicon-chevron-down
            %th
              .th
                Tussenvoegsel
            %th
              .th
                Achternaam
                -#
                  %span.glyphicon.glyphicon-chevron-up
                  %span.glyphicon.glyphicon-chevron-down
            %th
              .th
                Telefoonnummer
            %th
              .th
                E-mailadres
            %th
              .th
                Studentnummer
            %th
              .th
                Studie
                -#
                  %span.glyphicon.glyphicon-chevron-up
                  %span.glyphicon.glyphicon-chevron-down

        - @members.each do |member|
          %tr
            %td= link_to "#{member.first_name}", member
            %td= link_to "#{member.infix}", member
            %td= link_to "#{member.last_name}", member
            %td= link_to "#{member.phone_number}", "tel:#{member.phone_number}"
            %td= link_to "#{member.email}", member
            %td= link_to "#{member.student_id}", member
            %td= link_to "#{member.educations.map{ |s| s.study.code }.join(', ')}", member

      .card-footer
        = render partial: 'layouts/partials/pagination', locals: {pagy: @pagination}
