.row
  .div

    - if flash[:alert]
      .alert.alert-danger
        %span
          = flash[:alert]

    - if flash[:notice]
      .alert.alert-info
        %span
          = flash[:notice]

    %code#authorization_code= params[:code]

.row
  .text-center
    = link_to (I18n.t 'devise.registrations.password_recovery'), new_user_password_path
    |
    = link_to (I18n.t 'devise.registrations.sign_up'), new_registration_path
