.row
  = form_for :user, url: new_registration_path, method: :post, :html => { :class => 'form-horizontal'} do |f|

    - if @user.errors.any?
      - @user.errors.full_messages.each do |message|
        .alert.alert-danger
          %button.close{ type: "button" } ×
          %span
            = message

    - if flash[:alert]
      .alert.alert-danger
        %span
          = flash[:alert]

    - if flash[:notice]
      .alert.alert-info
        %span
          = flash[:notice]

    %fieldset
      %h4= I18n.t :new, scope: 'devise.registrations'

      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-envelope-o
          = f.email_field :email, autofocus: true, placeholder: 'e-mailadres', :class => 'form-control'

      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password, autocomplete: 'off', placeholder: 'wachtwoord', :class => 'form-control'

      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'wachtwoord herhalen', :class => 'form-control'
      .form-group
        = f.submit 'Wachtwoord aanvragen', :class => 'btn btn-primary btn-block'

.row
  .text-center
    = link_to (I18n.t'devise.registrations.passwordrecovery'), new_user_password_path
    |
    = link_to (I18n.t'devise.registrations.login'), new_user_session_path
