- content_for(:page, 'settings')
- content_for(:subpage, 'generic')

- content_for(:title, 'Constipated koala | settings') 

%section#content
  = render 'layouts/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row    
      .col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-fw.fa-wrench
            Instellingen
          %ul.list-group
            = form_for 'settings[]', url: settings_path, method: :patch, :class => 'form-validation' do |f|
              - @settings.each do |setting|
                %li.list-group-item
                  = f.hidden_field :id, :value => setting.id
                  
                  .col-md-6
                    %b= setting.name
                    %p= setting.description
                  
                  .col-md-6
                    - if setting.config_type == 'array'
                      = f.text_field 'value', :value => setting.value
                    - if setting.config_type == 'boolean'
                      = f.text_field 'value', :value => setting.value
                    - if setting.config_type == 'integer'
                      = f.text_field 'value', :value => setting.value
      
      .col-md-6
        - if @advert.errors.any?
          .alert.alert-danger
            %button.close{ type: "button" } ×
            %span Oh snap, niet alles is goed ingevuld;
            %ul
            - @advert.errors.full_messages.each do |msg|
              %li= msg
      
        .panel.panel-default#advertisements
          .panel-heading
            %i.fa.fa-fw.fa-fw.fa-desktop
            Advertenties
          .table-responsive
            %table.table.table-bordered.table-striped.table-linked

              - @advertisements.each do |advertisement|
                %tr{ :data => { 'id' => advertisement.id }}
                  %td
                    = advertisement.name
                    %a{ :href => advertisement.poster.url(:medium), :download => '' }= advertisement.poster.url(:medium)
                  %td.buttons
                    .btn-group
                      %button.btn.btn-default.destroy
                        %i.fa.fa-fw.fa-trash-o
  
          = form_for :advertisement, url: settings_advertisement_path, method: :post, :class => 'form-validation' do |f|                          
            .form-group
              .input-group
                = f.text_field :name, { :class => 'form-control' }
                .input-group-btn
                  %button.btn.btn-primary.file-input-wrapper
                    %span Uploaden
                    = f.file_field :poster, { 'data-ui-file-upload' => '' }    
                  %button.btn.btn-success.wait{type: 'submit'} Opslaan
