- content_for(:page, "edit")
- content_for(:title, @member.name)

= form_for :member, method: :patch, :class => 'form-validation' do |f|

  - if @member.errors.any?
    .col-md-9
      .alert.alert-danger
        %button.close{ type: "button" } ×
        %span= I18n.t('activerecord.errors.incomplete')
        %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .col-md-9
    .panel.panel-default
      .panel-heading
        %i.fa.fa-fw.fa-user
        = I18n.t('members.home.edit.general_data')
      .panel-body
        .form-group
          .row
            .col-md-5
              = f.label(:first_name)
              = f.label :first_name, 'value' => @member.first_name, :class => 'form-control form-control-disabled'
            .col-md-2
              = f.label(:infix)
              = f.label :infix, 'value' => @member.infix, :class => 'form-control form-control-disabled'
            .col-md-5
              = f.label(:last_name)
              = f.label :last_name, 'value' => @member.last_name, :class => 'form-control form-control-disabled'

        .form-group
          .row
            .col-md-6
              = f.label(:gender)
              .ui-select
                = f.select :gender, options_for_select([[I18n.t('members.genders.male'), "m"], [I18n.t('members.genders.female'), "f"]], @member.gender)
            .col-md-6
              = f.label(:birth_date)
              = f.label :birth_date, 'value' => @member.birth_date, :class => 'form-control form-control-disabled birthdate'

        .form-group
          .row
            .col-md-8
              = f.label(:address)
              = f.text_field :address, :value => @member.address, :class => 'form-control'
            .col-md-4
              = f.label(:house_number)
              = f.text_field :house_number, :value => @member.house_number, :class => 'form-control'

        .form-group
          .row
            .col-md-6
              = f.label(:postal_code)
              = f.text_field :postal_code, :value => @member.postal_code, :class => 'form-control'
            .col-md-6
              = f.label(:city)
              = f.text_field :city, :value => @member.city, :class => 'form-control'

        .form-group
          = f.label(:phone_number)
          = f.telephone_field :phone_number, :value => @member.phone_number, :class => 'form-control'

        .form-group
          = f.label(:emergency_phone_number)
          = f.telephone_field :emergency_phone_number, :value => @member.emergency_phone_number, :class => 'form-control'

        .form-group
          = f.label(:email)
          = f.email_field :email, :value => @member.email, :class => 'form-control'
          .help-block= I18n.t('activerecord.annotations.member.email')


  .col-md-9
    .panel.panel-default
      .panel-heading
        %i.fa.fa-fw.fa-envelope
        %label{for: ''}= I18n.t(:mailinglists, scope: 'activerecord.annotations.member')
      .panel-body

        .form-group
          .row
            .col-md-12
              %label.ui-checkbox
                = f.check_box "mailchimp_interests[#{Settings['mailchimp.interests.mmm']}]", :checked => @member.mailchimp_interests[Settings['mailchimp.interests.mmm']]
                %span= I18n.t('mmm.name', scope: 'activerecord.annotations.member')
                .help-block= I18n.t('mmm.description', scope: 'activerecord.annotations.member')
          .row
            .col-md-12
              %label.ui-checkbox
                = f.check_box "mailchimp_interests[#{Settings['mailchimp.interests.business']}]", :checked => @member.mailchimp_interests[Settings['mailchimp.interests.business']]
                %span= I18n.t('business.name', scope: 'activerecord.annotations.member')
                .help-block= I18n.t('business.description', scope: 'activerecord.annotations.member')

          .row
            .col-md-12
              %label.ui-checkbox
                = f.check_box "mailchimp_interests[#{Settings['mailchimp.interests.alv']}]", :checked => @member.mailchimp_interests[Settings['mailchimp.interests.alv']]
                %span= I18n.t('alv.name', scope: 'activerecord.annotations.member')
                .help-block= I18n.t('alv.description', scope: 'activerecord.annotations.member')

  .col-md-9
    .panel.panel-default
      .panel-body

        - if @member.user && @member.user.unconfirmed_email
          .callout.callout-warning
            = raw I18n.t( :unconfirmed_email, scope: 'activerecord.messages.member', email: @member.user.unconfirmed_email )


        %button.btn.btn-success{type: 'submit'}= I18n.t("editing.save")
        = link_to I18n.t("editing.cancel"), users_root_path, { :class => 'button btn btn-default' }

  -#
    .col-md-9
      .panel.panel-default
        .panel-heading
          %i.fa.fa-fw.fa-rocket
          = I18n.t("members.home.edit.externe_applicaties")
        %table.table.table-striped.table-linked
          - @applications.each do |application|
            %tr
              %td= application.name
              %td= I18n.l application.created_at
              %td
                = link_to authorized_applications_path(application), 'data-method' => :delete do
                  = I18n.t("members.home.edit.revoke")
