- content_for(:page, "edit")
- content_for(:title, @member.name)

= form_for :member, method: :patch, :class => 'form-validation' do |f|

  - if @member.errors.any? || flash[:error]
    .alert.alert-danger
      %span= I18n.t('activerecord.errors.incomplete')
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg
        - if flash[:error].present?
          %li= flash[:error]

  .row
    .col-xl-6
      .card
        .card-header
          %i.fa.fa-fw.fa-user
          = I18n.t('members.home.edit.general_data')
        .card-body
          .form-group
            .row
              .col-lg-4
                = f.label(:first_name)
                = f.text_field :first_name, 'value' => @member.first_name, :class => 'form-control form-control-disabled', :disabled => true
              .col-lg-3
                = f.label(:infix)
                = f.text_field :infix, :value => @member.infix, :class => 'form-control form-control-disabled', :disabled => true
              .col-lg-5
                = f.label(:last_name)
                = f.text_field :last_name, :value => @member.last_name, :class => 'form-control form-control-disabled', :disabled => true

            .callout.callout-info Sommige gegevens kan je niet zelf wijzigen (bijvoorbeeld je naam, geboortedatum en studentnummer), neem hiervoor contact op met #{link_to 'het bestuur', 'mailto:bestuur@svsticky.nl'}.
          %hr

          .form-group
            .row
              .col-md-4
                = f.label(:birth_date)
                = f.label :birth_date, :value => I18n.l(@member.birth_date), :class => 'form-control form-control-disabled'
              .col-md-8
                = f.label(:email) + "¹"
                = f.email_field :email, :value => @member.email, :class => 'form-control'

          .form-group
            .row
              .col-lg-6
                = f.label(:phone_number)
                = f.telephone_field :phone_number, :value => @member.phone_number, :class => 'form-control'
              .col-lg-6
                = f.label(:emergency_phone_number) + "²"
                = f.telephone_field :emergency_phone_number, :value => @member.emergency_phone_number, :class => 'form-control'

          %hr

          .form-group
            .row
              .col-lg-8
                = f.label(:address)
                = f.text_field :address, :value => @member.address, :class => 'form-control'
              .col-lg-4
                = f.label(:house_number)
                = f.text_field :house_number, :value => @member.house_number, :class => 'form-control'

          .form-group
            .row
              .col-lg-6
                = f.label(:postal_code)
                = f.text_field :postal_code, :value => @member.postal_code, :class => 'form-control'
              .col-lg-6
                = f.label(:city)
                = f.text_field :city, :value => @member.city, :class => 'form-control'

          %hr

          .footnote
            %span.footnote 1
            .help-block= I18n.t('activerecord.annotations.member.email')

          .footnote
            %span.footnote 2
            .help-block Als je minderjarig bent is het verplicht om een telefoonnummer in te vullen voor noodgevallen.

    - if !Settings['mailchimp.interests'].empty?
      .col-xl-6
        .card
          .card-header
            %i.fa.fa-fw.fa-envelope
            = I18n.t(:mailinglists, scope: 'activerecord.annotations.member')
          .card-body
            .form-group
              - if !@member.mailchimp_interests.nil?
                - Settings['mailchimp.interests'].each do |name, key|
                  .row
                    .col-md-12
                      %label.ui-checkbox
                        = f.check_box "mailchimp_interests[#{key}]", :checked => @member.mailchimp_interests[key]
                        %span= I18n.t("#{name}.name", scope: 'activerecord.annotations.member')
                        .callout.callout-info= I18n.t("#{name}.description", scope: 'activerecord.annotations.member')

    .col-xl-6
      .card
        .card-header
          %i.fa.fa-fw.fa-graduation-cap
          Studiegegevens
        .card-body
          .form-group
            .row
              .col-md-6
                = f.label(:student_id)
                = f.text_field :student_id, :value => @member.student_id, :class => 'form-control form-control-disabled', :disabled => true
              .col-md-6
                = f.label(:join_date)
                = f.text_field :join_date, :value => I18n.l(@member.join_date), :class => 'form-control form-control-disabled', :disabled => true

          %hr

          .form-group
            %label{for: 'member_educations'}
              = I18n.t('activerecord.attributes.member.educations')

          %table.table.table-striped
            %tbody
              - @member.educations.each do |education|
                = f.fields_for 'educations_attributes[]', education do |fs|
                  %tr
                    %td= I18n.t(education.study.code.downcase, scope: 'activerecord.attributes.study.names')

                    %td.dropdown
                      - if education.status == 'active'
                        = fs.hidden_field :id

                      .ui-select
                        - if education.status == 'active'
                          = fs.select :status, options_for_select( [:active, :graduated, :stopped].map{ |name| [I18n.t(name, scope: 'activerecord.attributes.education.status').downcase, name] }, education.status )
                        - else
                          %span
                            = I18n.t(education.status, scope: 'activerecord.attributes.education.status').downcase

          - if @member.educations.any? { |education| education.status == 'active' }
            .callout.callout-info
              Voor de vereniging is het belangrijk om inzichtelijk te hebben of je studeert aan de Universiteit Utrecht. Het bijwerken van je studiestatus wordt op prijs gesteld.
              %br
              %br
              Muteren van reeds afgesloten studies en toevoegen van nieuwe studies kan het bestuur voor je doen, mail naar #{link_to 'bestuur@svsticky.nl', 'mailto:bestuur@svsticky.nl'}. Vergeet niet te opslaan!

      .card
        .card-header
          %i.fa.fa-fw.fa-gavel
          = I18n.t 'members.home.edit.privacy_panel.header'
        .card-body
          = I18n.t 'members.home.edit.privacy_panel.view'
          = link_to 'https://svsticky.nl/wp-content/uploads/privacystatement.pdf' do
            = I18n.t 'members.home.edit.privacy_panel.privacy_statement'

  - if @applications.any?
    .col-xl-6
      .card
        .card-header
          %i.fa.fa-fw.fa-rocket
          = I18n.t("members.home.edit.externe_applicaties")
        %table.table.table-striped.table-linked
          - @applications.each do |application|
            %tr
              %td= application.name
              %td= I18n.l application.created_at
              %td
                = link_to authorized_applications_path(application), 'data-method' => :delete do
                  = I18n.t("members.home.edit.revoke")

  .row
    .col-xl-12
      .card
        .card-body
          .btn-group
            %button.btn.btn-success{type: 'submit'}
              = I18n.t("editing.save")
            = link_to I18n.t("editing.cancel"), users_root_path, { :class => 'button btn btn-secondary' }

          .btn-group.pull-right
            = link_to password_change_path, { :class => 'button btn btn-warning' } do
              %i.fa.fa-key
              = I18n.t 'members.home.edit.password_options.change_password'

            = link_to download_path, { :class => 'button btn btn-secondary' } do
              %i.fa.fa-download
              Download persoonsgegevens
