- content_for(:page, 'home')

.row
  .col-md-8
    - @pinned.each do |post|
      .card
        .card-header{class: ('avatar-padding' if post.author.avatar.attached?)}
          - if post.author.avatar.attached?
            = image_tag post.author.avatar_representation, class: 'avatar'
          %h4= post.author.name
          %ul
            %li= I18n.l(post.published_at, format: "%d %B %H:%m")

            - if post.pinned?
              %li.bold pinned

            - post.tags&.each do |tag|
              %li= tag
        .card-body.content
          = raw post.content

    .card.d-block.d-md-none
      .card-body.debt-card
        %i.fas.fa-calendar-week.fa-2x
        %span= number_to_currency(@debt, :precision => 2, :unit => '€ ', separator: ',', delimiter: '.')
        %p Openstaande betalingen

    - unless @balance.blank?
      .card.d-block.d-md-none
        .card-body.mongoose-card
          %i.fa.fa-shopping-bag.fa-2x
          %span= number_to_currency(@balance.balance, :precision => 2, :unit => '€ ', separator: ',', delimiter: '.')
          %p Mongoose tegoed

    .card.d-block.d-md-none
      .card-header
        %i.far.fa-calendar-alt
        Ingeschreven activiteiten

      %table.table.card-body.table-striped.table-sm
        - @attending.each do |participant|
          %tr
            %td
              = link_to participant.activity.name, participant.activity
              %br
              = format_date(participant.activity, format: '%d-%m-%Y')
            %td.text-center.d-none.d-sm-block
              - if participant.reservist?
                reserve

    - @unpinned.each do |post|
      .card
        .card-header{class: ('avatar-padding' if post.author.avatar.attached?)}
          - if post.author.avatar.attached?
            = image_tag post.author.avatar, class: 'activity'
          %h4= post.author.name
          %ul
            %li= I18n.l(post.published_at, format: "%d %B %H:%m")

            - post.tags.each do |tag|
              %li= tag
        .card-body.content
          = raw post.content


  .col-md-4.sidecar.d-none.d-md-block
    .card
      .card-body.debt-card
        %i.fas.fa-calendar-week.fa-2x
        %span= number_to_currency(@debt, :precision => 2, :unit => '€ ', separator: ',', delimiter: '.')
        %p Openstaande betalingen

    - unless @balance.blank?
      .card
        .card-body.mongoose-card
          %i.fa.fa-shopping-bag.fa-2x
          %span= number_to_currency(@balance.balance, :precision => 2, :unit => '€ ', separator: ',', delimiter: '.')
          %p Mongoose tegoed

    .card-group
      - @activities.each do |activity|
        = link_to activity, class: 'card' do
          = image_tag activity.thumbnail_representation

    .card
      .card-header
        %i.far.fa-calendar-alt
        Ingeschreven activiteiten

      %table.table.card-body.table-striped.table-sm
        - @attending.each do |participant|
          %tr
            %td
              = link_to participant.activity.name, participant.activity
              %br
              = format_date(participant.activity, format: '%d-%m-%Y')
            %td.text-center.d-none.d-sm-block
              - if participant.reservist?
                reserve
