- content_for(:page, 'home')

%section#content
  = render 'layouts/search'
  
  .page
    .row 
      .col-lg-3.col-xsm-6.clickable
        %a.panel.mini-box{href: '/members'}
          %span.box-icon.bg-success
            %i.fa.fa-user
          .box-info
            %p.size-h2 
              = @members
            %p.text-muted Leden
            
      .col-lg-3.col-xsm-6.clickable
        %a.panel.mini-box{href: '/activities'}
          %span.box-icon.bg-info
            %i.fa.fa-ticket
          .box-info
            %p.size-h2
              = @activities
            %p.text-muted Activiteiten
            
      .col-lg-3.col-xsm-6.clickable
        %a.panel.mini-box{href: '/checkout'}
          %span.box-icon.bg-warning
            %i.fa.fa-shopping-cart
          .box-info
            %p.size-h2
              = @transactions
            %p.text-muted Mongoose transacties
            
      .col-lg-3.col-xsm-6.clickable
        %a.panel.mini-box{href: '/activities'}
          %span.box-icon.bg-danger
            %i.fa.fa-eur
          .box-info
            %p.size-h2 
              = number_to_currency(@unpayed, :unit => '')
            %p.text-muted Openstaande betalingen
            
  .page.hidden-xs
    .row
      %div.col-md-3
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-graduation-cap
            Studies
                        
          %table.table.table-striped.table-linked
            %tbody
              - @studies.each do | study, count |
                %tr
                  %td= link_to "#{study.name}", '#'
                  %td= count
                  
      %div.col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-shopping-cart
            Transacties
          %table.table.table-striped.table-linked
            %tbody


      %div.col-md-3
        .panel.panel-default
          .panel-heading
            %span.glyphicon.glyphicon-th
            Wanbetalers
          %table.table.table-striped.table-linked
            %tbody
              - @defaulters.each do | member, amount |
                %tr
                  %td= link_to "#{member.name}", member
                  %td.text-right= number_to_currency(amount, :unit => '€')
