- content_for(:page, 'groups')
- content_for(:title, 'Constipated koala | groepen')

%section#content
  = render 'layouts/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token} }
    .row
      .col-md-6
        .panel.panel-default.table-dynamic
          .panel-heading
            %i.fa.fa-fw.fa-fw.fa-users
            Groepen

          %table.table.table-striped.table-linked
            %tbody
              - @groups.each do |group|
                %tr
                  %td= link_to "#{group.name}", group
                  %td= group.group_members.map{ |member| member.member.name }.join(', ')
                %tr
                  %td{ :colspan => 2 }= group.comments
