- content_for(:page, 'groups')
- content_for(:title, "Constipated koala | groepen | #{@group.name}")

%section#content
  = render 'layouts/search'

  .page{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      %div
        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-users
              Commissie
            .panel-body
              %p
                %strong #{@group.name}
              %p
                #{@group.comments}

          .panel.panel-default
            .panel-body
              = link_to 'Back', :back, { :class => 'button btn btn-default' }
              = link_to 'Edit', edit_committee_path(@group.id), { :class => 'button btn btn-warning' }
          
        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-users
              Commissieleden
            .panel_body
              %table.table.table-striped.table-linked#members
                %thead
                  %tr
                    %th Naam
                    %th Functie
                %tbody
                  - @group.committeeMembers.each do |committeeMember|
                    %tr
                      %td= link_to "#{committeeMember.member.name}", committeeMember.member
                      %td= link_to "#{committeeMember.function}", committeeMember.member