!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Constipated koala"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag :defaults
    = csrf_meta_tags
  %body#app
    .page-err
      .text-center
        .err-status
          %h1 500
        .err-message
          %h2 Something's wrong with server.
        .err-body
          %a.btn.btn-lg.btn-goback{href: "/"}
            %span.glyphicon.glyphicon-home
            Go Back to Home Page