.row
  = form_for(resource, as: resource_name, url: password_path(resource_name), :html => { :class => 'form-horizontal', :method => 'patch'}) do |f|

    - if !resource.errors.full_messages.blank?
      - resource.errors.full_messages.each do |message|
        .alert.alert-danger
          %span
            = message

    - if flash[:alert]
      .alert.alert-danger
        %span
          = flash[:alert]

    - if flash[:notice]
      .alert.alert-info
        %span
          = flash[:notice]

    = f.hidden_field :reset_password_token

    %fieldset
      %h4= I18n.t :edit, scope: 'devise.passwords'

      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password, autocomplete: 'off', placeholder: 'wachtwoord', :class => 'form-control'

      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'wachtwoord herhalen', :class => 'form-control'

      .form-group
        = f.submit 'Verander wachtwoord', :class => 'btn btn-primary btn-block'

.row
  .text-center
    = link_to 'wachtwoord vergeten', new_user_password_path
    |
    = link_to 'wachtwoord aanmaken', new_registration_path
