- content_for(:page, 'members')
- content_for(:title, 'Constipated koala | leden')

%section#content
  = render 'layouts/search'

  .page.page-table
    %section.panel.panel-default.table-dynamic
      .panel-heading
        %i.fa.fa-fw.fa-fw.fa-user
        Leden
        = link_to '+', :new_member, { :class => 'close', :type => 'button' }
      .table-responsive
        %table.table.table-bordered.table-striped.table-linked
          %thead
            %tr
              %th
                .th
                  Voornaam
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Tussenvoegsel
              %th
                .th
                  Achternaam
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th.hidden-xs
                  Telefoonnummer
                .th.visible-xs
                  Telefoonnummer
              %th
                .th
                  E-mailadres
              %th
                .th
                  Studentnummer
              %th
                .th
                  Studie
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down

          - @members.each do |member|
            %tr
              %td= link_to "#{member.first_name}", member
              %td= link_to "#{member.infix}", member
              %td= link_to "#{member.last_name}", member
              %td.hidden-xs= link_to "#{member.phone_number}", member
              %td.visible-xs= link_to "#{member.phone_number}", "tel:#{member.phone_number}", :style => 'color: darkblue;'
              %td= link_to "#{member.email}", member
              %td= link_to "#{member.student_id}", member
              %td= link_to "#{member.educations.map{ |s| s.study.code }.join(', ')}", member

      %footer.table-footer
        .row
          .col-md-6.page-num-info.hidden-xs{ :data => { :limit => @limit, :pagination => 4, :search => @search, :all => @all } }
            %span
              Toon
              = select_tag 'limit', options_for_select([20,50,100], @limit)
              leden per pagina

          .col-md-6.text-right.pagination-container
            %ul.pagination-sm.pagination
              %li{ :class => ( 'disabled' if @offset == 0)}
                %a{ :data => { :offset => @offset - @limit }} vorige

              %li.scroll{ :class => ( 'disabled' if @page / 4 == 0)}
                %a{ :data => { :offset => (@page / 4 * 4 -1) * @limit }} <<

              - (0 .. @pages -1).each do |i|
                - if i == @page
                  %li.active
                    - if i.between?(4 * (@page / 4), 4 * (@page / 4) + 4 -1 )
                      %a{ :data => { :offset => @limit * i }}= i+1
                    -else
                      %a.hidden{ :data => { :offset => @limit * i }}= i+1
                - else
                  %li
                    - if i.between?(4 * (@page / 4), 4 * (@page / 4) + 4 -1 )
                      %a{ :data => { :offset => @limit * i }}= i+1
                    - else
                      %a.hidden{ :data => { :offset => @limit * i }}= i+1

              %li.scroll{ :class => ( 'disabled' if @pages / 4.to_f <= 1 || @page +1 > (@pages -1) / 4 * 4)}
                %a{ :data => { :offset => (@page / 4 +1) * 4 * @limit }} >>

              %li{ :class => ( 'disabled' if @offset >= @limit * @pages )}
                %a{ :data => { :offset => @offset + @limit }} volgende
