- content_for(:page, 'payments')
- content_for(:title, 'Betalingen')

%section#content
  = render 'layouts/partials/search'

  .page.page-form
    .row

      .col-xl-6
        .card
          .card-header
            %i.fa.fa-fw.fa-ticket-alt
            Niet betaalde activiteiten

          .card-body#participants.filtered-search
            - @detailed.each do |activity|
              %table.table.table-striped{ :data => { 'id' => activity.id } }
                %thead
                  %tr
                    %td{ :colspan => 3 }= link_to "#{activity.name}", activity

                %tbody
                  - activity.attendees.joins(:member).order('members.first_name', 'members.last_name').where(:paid => false).each do |participant|
                    - if !participant.currency.nil? && participant.currency > 0
                      %tr{ :class => ('in-debt' unless participant.currency.nil? || participant.paid), :data => { :'activities-id' => activity.id, :id => participant.id, :email => participant.member.email, :name => participant.member.name } }
                        %td= link_to "#{participant.member.name}", participant.member

                        - if !participant.currency.nil?
                          %td= link_to "#{number_to_currency(participant.currency, :unit => '€')}", participant.member

                        %td.btn-group.float-right
                          - if participant.paid
                            %button.btn.btn-primary.unpaid{ :class => ('d-none' if participant.currency.nil? || participant.currency == 0 )}
                              %i.fa.fa-fw.fa-check
                          - else
                            %button.btn.btn-warning.paid{ :class => ('d-none' if participant.currency.nil? || participant.currency == 0 )}
                              %i.fa.fa-fw.fa-times
                          %button.btn.btn-light.destroy
                            %i.fa.fa-fw.fa-trash

      .col-xl-6
        .card
          .card-header
            %i.fa.fa-fw.fa-envelope
            Betalingsmails

          %table.table.card-body.table-striped#paymentmails
            %thead
              %th Activiteit
              %th Dagen
            %tbody
            - @last_impressions.each do |activity, days|
              %tr{ class: ('in-debt' if days.is_a? Numeric and days < 7)}
                %td= link_to activity.name, activity
                %td= days

        .card
          .card-header
            %i.fab.fa-fw.fa-whatsapp
            Achterstallige betalingen (> 4 mails)

          -#TODO: check whatsapp button
          %table.table.table-striped#paymentmails
            %thead
              %th Lid
              %th{colspan: 2} WhatsApp
            %tbody
            - @late_payments.each do |member|
              %tr
                %td= link_to "#{member.name}", member
                %td
                  - if member.phone_number
                    = link_to payment_whatsapp_redirect_path(member), class: 'btn btn-success', target: '_blank' do
                      %i.fab.fa-fw.fa-whatsapp
                  - else
                    %a.btn.btn-default{disabled: true}
                      %i.fab.fa-fw.fa-whatsapp
                %td
                  %button.btn.btn-clipboard.btn-danger{ data: {'texturl': member_payment_whatsapp_path(member)} }
                    %i.fa.fa-fw.fa-copy

        .card
          .card-header
            %i.far.fa-fw.fa-money-bill-alt
            Checkout transacties (Gepind)

          .card-body
            .form-group.mb-0
              .row
                .col-4
                  %input#pin-total-date{ :type => 'date', :value =>  1.days.ago.strftime('%Y-%m-%d') }

                .col-4
                  Dagtotaal:
                  = number_to_currency(@checkout_transactions.sum(&:price), unit: '€')

                .col-4
                  .input-group-btn
                    %button.btn.btn-warning Update

                    %button.btn.btn-light.btn-clipboard{ :"data-clipboard-text" => @dat }
                      %i.fa.fa-copy
                      Copy


          %table.table.table-striped.card-body#transactions
            %thead
              %th Lid
              %th Prijs
              %th Datum
            %tbody
              - @checkout_transactions.each do |transaction|
                %tr
                  %td
                    - unless transaction.checkout_balance.nil? || transaction.checkout_balance.member.nil?
                      = link_to "#{transaction.checkout_balance.member.name}", transaction.checkout_balance.member
                  %td
                    = number_to_currency(transaction.price, :unit => '€')
                  %td
                    = transaction.created_at.strftime("%Y-%m-%d")
              - if @checkout_transactions.empty?
                %tr
                  %td{ colspan: 3 }
                    %em Geen transacties
