- content_for(:page, 'payments')
- content_for(:title, 'Constipated koala | betalingen')

%section#content
  = render 'layouts/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token} }
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-ticket
            Niet betaalde activiteiten

          .panel-body#participants.filtered-search
            - @detailed.each do |activity|
              %table.table.table-striped.table-linked{ :data => { 'id' => activity.id } }
                %thead
                  %tr{ :style => 'font-size: 1.1em;' }
                    %td{ :colspan => 3 }= link_to "#{activity.name}", activity, :style => 'left: -10px; position: relative;'

                %tbody
                  - activity.participants.joins(:member).order('members.first_name', 'members.last_name').where(:paid => false).each do |participant|
                    - if !participant.currency.nil? && participant.currency > 0
                      %tr{ :class => ('red' unless participant.currency.nil? || participant.paid), :data => { :'activities-id' => activity.id, :id => participant.id, :email => participant.member.email, :name => participant.member.name } }
                        %td= link_to "#{participant.member.name}", participant.member

                        - if !participant.currency.nil?
                          %td= link_to "#{number_to_currency(participant.currency, :unit => '€')}", participant.member

                        %td.buttons
                          .btn-group
                            - if participant.paid
                              %button.btn.btn-primary.unpaid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 )}
                                %i.fa.fa-fw.fa-check
                            - else
                              %button.btn.btn-warning.paid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 )}
                                %i.fa.fa-fw.fa-times
                            %button.btn.btn-default.destroy
                              %i.fa.fa-fw.fa-trash-o