- content_for(:page, 'payments')
- content_for(:title, I18n.t('admin.navigation.payments'))

%section#content
  = render 'layouts/partials/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token} }
    .row

      .col-xl-6
        .card
          .card-header
            %i.fa.fa-fw.fa-ticket-alt
            = I18n.t('admin.payment.not_paid')

          .card-body#participants.filtered-search
            - @detailed.each do |activity|
              %table.table.table-striped.table-linked{ :data => { 'id' => activity.id } }
                %thead
                  %tr{ :style => 'font-size: 1.1em;' }
                    %td{ :colspan => 3 }= link_to "#{ activity.name }", activity, :style => 'left: -10px; position: relative;'

                %tbody
                  - activity.attendees.joins(:member).order('members.first_name', 'members.last_name').where(:paid => false).each do |participant|
                    - if !participant.currency.nil? && participant.currency > 0
                      %tr{ :class => ('red' unless participant.currency.nil? || participant.paid), :data => { :'activities-id' => activity.id, :id => participant.id, :email => participant.member.email, :name => participant.member.name } }
                        %td{:style=> 'width: 100%;'}= link_to "#{participant.member.name}", participant.member

                        - if !participant.currency.nil?
                          %td{:style=> 'text-align: right;'}= link_to "#{number_to_currency(participant.currency, :unit => '€')}", participant.member

                        %td.buttons
                          .btn-group
                            - if participant.paid
                              %button.btn.btn-primary.unpaid{ :class => ('d-none' if participant.currency.nil? || participant.currency == 0 )}
                                %i.fa.fa-fw.fa-check
                            - else
                              %button.btn.btn-warning.paid{ :class => ('d-none' if participant.currency.nil? || participant.currency == 0 )}
                                %i.fa.fa-fw.fa-times
                            %button.btn.btn-danger.destroy
                              %i.fa.fa-fw.fa-trash

      .col-xl-6
        .card
          .card-header
            %i.fa.fa-fw.fa-envelope
            = I18n.t('admin.payment.mails')
          .card-body#paymentmails
            %table.table.table-striped.table-linked
              %thead
                %th
                  = I18n.t('admin.activities.single')
                %th
                  = I18n.t('admin.payment.days')
                %th
                  = I18n.t('admin.payment.sent_mails')
              %tbody
              - @last_impressions.each do |tuple|
                :ruby
                  activity = tuple[0]
                  days = (tuple[1] == -1 ? '-' : tuple[1])
                  sent_mails = "#{tuple[2]}x"
                %tr{ :style => 'height: 36px; line-height: 36px;' }
                  - if days.is_a? Numeric and days < 7
                    %td= link_to activity.name, activity
                    %td= days
                    %td= sent_mails
                  - else
                    %td= link_to activity.name, activity, { :style => 'color:red'}
                    %td{ :style => 'color:red'}= days
                    %td= sent_mails
        .card
          .card-header
            %i.fa.fa-fw.fa-clock
            = I18n.t('admin.payment.late_unpayable_activities')
          %table.table.table-striped.table-linked
            %tbody
            - @late_unpayable_activities.each do |activity|
              %tr
              %td= link_to activity.name, activity

        .card
          .card-header
            %i.fab.fa-fw.fa-whatsapp
            = I18n.t('admin.payment.overdue')

          -# TODO: check whatsapp button
          %table.table.table-striped.table-linked#paymentmails
            %thead
              %th
                = I18n.t('admin.payment.member')
              %th{colspan: 2} WhatsApp
            %tbody
            - @late_payments.each do |member|
              %tr{ :style => 'height: 36px; line-height: 36px;' }
                %td= link_to "#{member.name}", member
                %td
                  - if member.phone_number
                    = link_to payment_whatsapp_redirect_path(member), class: 'btn btn-success', target: '_blank' do
                      %i.fab.fa-fw.fa-whatsapp
                  - else
                    %a.btn.btn-default{disabled: true}
                      %i.fab.fa-fw.fa-whatsapp
                %td
                  %button.btn.btn-clipboard.btn-danger{ data: {'texturl': member_payment_whatsapp_path(member)} }
                    %i.fa.fa-fw.fa-copy
        = form_with url: payment_transactions_export_path, method: :get, id: "export-transactions" do |f|
          .card
            .card-header
              %i.fas.fa-fw.fa-qrcode
              = I18n.t('admin.payment.export')
            .card-body.container
              .row.mb-3
                .col-5
                  %small.form-text= I18n.t('admin.payment.from')
                  = f.date_field :start_date, value:1.weeks.ago.strftime('%Y-%m-%d'), :class => "form-control col-sm-10", :required => true
                .col-5
                  %small.form-text= I18n.t('admin.payment.till')
                  = f.date_field :end_date, value: 1.days.from_now.strftime('%Y-%m-%d'), :class => "form-control", :required => true
              .row
              .row.form-group
                .col-5
                  = f.radio_button :export_type, "all", :checked => true
                  = f.label I18n.t('admin.payment.all')
                  = f.radio_button :export_type, "daily"
                  = f.label I18n.t('admin.payment.daily')
                .form-group.col-5
                  %span.input-group-btn
                    = f.button :export, {class: "btn btn-success", type:"submit"} do
                      %i.fa.fa-download
                      = I18n.t('editing.download')
