- content_for(:page, 'apps')
- content_for(:subpage, 'transacties')

- content_for(:title, 'Apps | Checkout')

%section#content
  = render 'layouts/partials/search'

  .page.page-table{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-lg-8
        %section.panel.panel-default.table-dynamic
          .panel-heading
            %i.fa.fa-fw.fa-fw.fa-shopping-cart
            Transacties
          .table-responsive#transactions
            %table.table.table-bordered.table-striped.table-linked
              %thead
                %tr
                  %th
                    .th
                      Datum
                  %th
                    .th
                      Prijs
                  %th
                    .th
                      Lid
                  %th.hidden-sm
                    .th
                      Producten

              - @transactions.each do |transaction|
                %tr
                  %td #{I18n.l transaction.created_at}
                  %td
                    = number_to_currency(transaction.price, :unit => '€')
                    - if transaction.price > 0
                      %span.fa.fa-sort-asc.pull-right{ :style => 'padding-up: 3px;'}
                    - else
                      %span.fa.fa-sort-desc.pull-right

                  %td
                    - unless transaction.checkout_balance.nil? || transaction.checkout_balance.member.nil?
                      = link_to "#{transaction.checkout_balance.member.name}", transaction.checkout_balance.member
                    - else
                      \-

                  %td.hidden-sm
                    = transaction.products

          %footer.table-footer
            .row
              .col-md-6.page-num-info.hidden-xs{ :data => { :limit => @limit, :pagination => @pagination } }
                %span
                  Toon
                  = select_tag 'limit', options_for_select([20,50,100], @limit)
                  transacties per pagina

              .col-md-6.text-right.pagination-container
                %ul.pagination-sm.pagination
                  %li{ :class => ( 'disabled' if @offset == 0)}
                    %a{ :data => { :offset => @offset - @limit }} vorige

                  %li.scroll{ :class => ( 'disabled' if @page / @pagination == 0)}
                    %a{ :data => { :offset => (@page / @pagination * @pagination -1) * @limit }} <<

                  - (0 .. @pages).each do |i|
                    - if i == @page
                      %li.active
                        - if i.between?(@pagination * (@page / @pagination), @pagination * (@page / @pagination) + @pagination -1 )
                          %a{ :data => { :offset => @limit * i }}= i+1
                        -else
                          %a.hidden{ :data => { :offset => @limit * i }}= i+1
                    - else
                      %li
                        - if i.between?(@pagination * (@page / @pagination), @pagination * (@page / @pagination) + @pagination -1 )
                          %a{ :data => { :offset => @limit * i }}= i+1
                        - else
                          %a.hidden{ :data => { :offset => @limit * i }}= i+1

                  %li.scroll{ :class => ( 'disabled' if @pages / @pagination * @pagination <= @page )}
                    %a{ :data => { :offset => (@page / @pagination +1) * @pagination * @limit }} >>

                  %li{ :class => ( 'disabled' if @offset == @limit * @pages )}
                    %a{ :data => { :offset => @offset + @limit }} volgende

      .col-lg-4#credit
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-money
            Opwaarderen
          .panel-body{ :style => 'position: relative;' }
            %form.form-inline
              .form-group.col-md-12#card
                %input.form-control#card_holder{ :placeholder => 'zoek lid op voornaam, achternaam, of studentnummer', :tabindex => '-1' }
                %ul.dropdown-menu.col-md-12

              .form-group.col-md-3.amount{ :style => 'display: none;' }
                %input.form-control#amount{ :placeholder => 'hoeveel', :autocomplete => 'off' }

              .form-group.col-md-3.amount{ :style => 'display: none;' }
                %select.form-control#payment_method{ :required => true }
                  %option{:value => "Gepind"}= "Gepind"
                  %option{:value => "Contant"}= "Contant"
                  %option{:value => "", :selected => "selected" }= "-"
                  %option{:value => "Verkoop"}= "Verkoop"

              .form-group.col-md-12{ :style => 'display: none;' }
                %button.form-control.btn.btn-line-primary opslaan

      .col-lg-4#cards
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-credit-card
            Niet geactiveerde kaarten
          %ul.list-group
            - @cards.each do |card|
              %li.list-group-item{ :data => { 'uuid' => card.uuid }}
                %p= link_to "#{card.member.name}", card.member
                %p.uuid= card.uuid
                .btn-group
                  %button.btn.btn-primary activeer
                  %button.btn.btn-line-primary verwijder
            - if @cards.length == 0
              %li.list-group-item
                %p.text-center
                  %em geen kaarten

        .panel.panel-box.info-box
          .panel-left.panel-item.bg-reverse
            %p.size-h1.no-margin
              = number_to_currency @credit, :unit => '€'
            %p.text-muted.no-margin
              Mongoose tegoed
          .panel-right.panel-item.bg-warning
            %i.fa.fa-credit-card.fa-3x

        = link_to checkout_products_path, { :class => 'panel panel-box info-box' } do
          .panel-left.panel-item.bg-primary-light
            %i.fa.fa-shopping-cart.fa-3x
          .panel-right.panel-item.bg-reverse
            %p.size-h1.no-margin
              = @products
            %p.text-muted.no-margin
              Producten
