- content_for(:page, 'apps')
- content_for(:subpage, 'transacties')

- content_for(:title, 'Apps | Checkout')

%section#content

  .page.page-table
    .row
      .col-xl-8
        %section.card.table-dynamic
          .card-header
            %i.fa.fa-fw.fa-fw.fa-shopping-cart
            Transacties
          %table.table.table-striped.card-body
            %thead
              %tr
                %th
                  .th
                    Datum
                %th
                  .th
                    Prijs
                %th
                  .th
                    Lid
                %th.d-none.d-md-block
                  .th
                    Producten

            - @transactions.each do |transaction|
              %tr
                %td #{I18n.l transaction.created_at}
                %td
                  = number_to_currency(transaction.price, :unit => '€')
                  - if transaction.price > 0
                    %span.fa.fa-sort-asc.float-right{ :style => 'padding-up: 3px;'}
                  - else
                    %span.fa.fa-sort-desc.float-right

                %td
                  - unless transaction.checkout_balance.nil? || transaction.checkout_balance.member.nil?
                    = link_to "#{transaction.checkout_balance.member.name}", transaction.checkout_balance.member
                  - else
                    \-

                %td.d-none.d-md-block
                  = transaction.products

          .card-footer
            = render partial: 'layouts/partials/pagination', locals: {pagy: @pagination}

      .col-xl-4#credit
        .card
          .card-header
            %i.far.fa-fw.fa-money-bill-alt
            Opwaarderen
          %form
            .card-body
              .form-group.m-0#search_card
                %input.form-control#card_holder{ :placeholder => 'zoek lid op voornaam, achternaam, of studentnummer', :tabindex => '-1' }
                %ul.dropdown-menu

            .card-body.amount
              .form-group.m-0
                .input-group
                  %input.form-control#amount{ :placeholder => 'bedrag', :autocomplete => 'off' }

                  %select.form-control#method{ :required => true }
                    %option{:value => "Gepind"}= "Gepind"
                    %option{:value => "Contant"}= "Contant"
                    %option{:value => "", :selected => "selected" }= "-"
                    %option{:value => "Verkoop"}= "Verkoop"
                .input-group-append
                  %button.form-control.btn.btn-outline-primary{type: 'submit'} opwaarderen

        .card#cards
          .card-header
            %i.fa.fa-fw.fa-credit-card
            Niet geactiveerde kaarten
          %ul.list-group
            - @cards.each do |card|
              %li.list-group-item{ :data => { 'uuid' => card.uuid }}
                %p.m-0= link_to "#{card.member.name}", card.member
                %p.uuid= card.uuid
                .btn-group
                  %button.btn.btn-primary activeer
                  %button.btn.btn-outline-danger verwijder
            - if @cards.length == 0
              %li.list-group-item
                %p.text-center
                  %em geen kaarten

        .card.card-box
          .row.no-gutters
            .col.card-body
              %p.size-h2.no-margin
                = number_to_currency @credit, :unit => '€'
              %p.text-muted.no-margin
                Mongoose tegoed
            .col.bg-warning.card-body
              %i.fa.fa-credit-card.fa-3x

        = link_to checkout_products_path, { :class => 'card card-box' } do
          .row.no-gutters
            .col.bg-primary.card-body
              %i.fa.fa-shopping-cart.fa-3x
            .col.card-body
              %p.size-h2.no-margin
                = @products
              %p.text-muted.no-margin
                Producten
