- content_for(:page, 'apps')
- content_for(:subpage, 'transacties')

- content_for(:title, 'Apps | Checkout')

%section#content

  .page.page-table{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-xl-8
        %section.card.table-dynamic
          .card-header
            %i.fa.fa-fw.fa-fw.fa-shopping-cart
            = I18n.t('checkout.transactions.title')
          .table-responsive#transactions
            %table.table.table-bordered.table-striped.table-linked
              %thead
                %tr
                  %th
                    .th
                      = I18n.t('checkout.transactions.date')
                  %th
                    .th
                      = I18n.t('checkout.transactions.price')
                  %th
                    .th
                      = I18n.t('checkout.transactions.member')
                  %th.d-none.d-md-block
                    .th
                      = I18n.t('checkout.products.title')

              - @transactions.each do |transaction|
                %tr
                  %td #{I18n.l transaction.created_at}
                  %td
                    = number_to_currency(transaction.price, :unit => '€')
                    - if transaction.price > 0
                      %span.fa.fa-sort-asc.float-right{ :style => 'padding-up: 3px;'}
                    - else
                      %span.fa.fa-sort-desc.float-right

                  %td
                    - unless transaction.checkout_balance.nil? || transaction.checkout_balance.member.nil?
                      = link_to "#{transaction.checkout_balance.member.name}", transaction.checkout_balance.member
                    - else
                      \-

                  %td.d-none.d-md-block
                    = transaction.products

          %footer.table-footer
            .row
              .col-lg-3.page-num-info.d-none.d-sm-block{ :data => { :limit => @limit, :pagination => @pagination } }
                %span
                  = I18n.t('admin.payment.show')
                  = select_tag 'limit', options_for_select([20,50,100], @limit)
                  = I18n.t('admin.payment.per_page')

              .col-12.col-lg-6
                = will_paginate @transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

      .col-xl-4#credit
        .card
          .card-header
            %i.far.fa-fw.fa-money-bill-alt
            = I18n.t('checkout.top_up.title')
          .card-body{ :style => 'position: relative;' }
            %form.form-inline
              .form-group.col-md-12#search_card
                %input.form-control#card_holder{ :placeholder => I18n.t('checkout.top_up.search'), :tabindex => '-1' }
                %ul.dropdown-menu.col-md-12

              .form-group.col-md-3.amount{ :style => 'display: none;' }
                %input.form-control#amount{ :placeholder => I18n.t('checkout.top_up.amount'), :autocomplete => 'off' }

              .form-group.col-md-3.amount{ :style => 'display: none;' }
                %select.form-control#payment_method{ :required => true }
                  %option{:value => "Gepind"}= I18n.t('checkout.top_up.pin')
                  %option{:value => "Contant"}= I18n.t('checkout.top_up.cash')
                  %option{:value => "", :selected => "selected" }= "-"
                  %option{:value => "Verkoop"}= I18n.t('checkout.top_up.sale')

              .form-group.col-md-12{ :style => 'display: none;' }
                %button.form-control.btn.btn-line-primary
                  = I18n.t('checkout.top_up.save')

        .card#cards
          .card-header
            %i.fa.fa-fw.fa-credit-card
            = I18n.t('checkout.card.to_be_activated')
          %ul.list-group
            - @cards.each do |card|
              %li.list-group-item{ :data => { 'uuid' => card.uuid }}
                %p= link_to "#{card.member.name}", card.member
                %p.uuid= card.uuid
                .btn-group
                  %button.btn.btn-primary 
                    = I18n.t('checkout.card.activate')
                  %button.btn.btn-line-primary 
                    = I18n.t('checkout.card.remove')
            - if @cards.length == 0
              %li.list-group-item
                %p.text-center
                  %em
                    = I18n.t('checkout.card.none')

        .card.card-box
          .row.no-gutters
            .col.card-body
              %p.size-h2.no-margin
                = number_to_currency @credit, :unit => '€'
              %p.text-muted.no-margin
                = I18n.t('activerecord.models.checkout_balance')
            .col.bg-warning.card-body
              %i.fa.fa-credit-card.fa-3x

        = link_to checkout_products_path, { :class => 'card card-box' } do
          .row.no-gutters
            .col.bg-primary.card-body
              %i.fa.fa-shopping-cart.fa-3x
            .col.card-body
              %p.size-h2.no-margin
                = @products
              %p.text-muted.no-margin
                = I18n.t('checkout.products.title')
