- content_for(:page, 'apps')
- content_for(:subpage, 'ideal')

- content_for(:title, 'iDeal')

%section#content
  = render 'layouts/partials/search'

  - if flash[:warning].present?
    .page{ :style => 'padding-bottom: 0px;'}
      .alert.alert-danger{ :style => 'margin: 0px;'}
        = flash[:warning]

  .page.page-table
    %section.panel.panel-default.table-dynamic
      .panel-heading
        %i.fa.fa-fw.fa-credit-card
        iDeal transacties

      .table-responsive
        %table.table.table-bordered.table-striped.table-linked
          %thead
            %tr
              %th
                .th
                  Datum
              %th
                .th
                  Lid
              %th
                .th
                  Omschrijving
              %th
                .th
                  Prijs
              %th
                .th
                  Status

          - @transactions.each do |transaction|
            %tr
              %td= I18n.l Time.parse transaction.created_at.to_s
              %td
                - if transaction.member.present?
                  = link_to transaction.member.name, transaction.member

              %td
                - if transaction.transaction_type.downcase == 'checkouttransaction'
                  = I18n.t 'checkout', scope: 'activerecord.errors.models.ideal_transaction.attributes'
                - elsif transaction.transaction_type.downcase == 'activity'
                  - transaction.activities.each do |activity|
                    = link_to activity.name, activity, :class => 'inline'
                - else
                  = transaction.description

              %td= number_to_currency(transaction.amount, :unit => '€')

              %td
                - if transaction.status == 'paid' || transaction.status == 'paidout'
                  %span.label.label-success= transaction.status
                - elsif transaction.status == 'open' || transaction.status == 'pending'
                  %span.label.label-warning= transaction.status
                - else
                  %span.label.label-danger= transaction.status

      %footer.table-footer
        .row
          .col-md-6.page-num-info.hidden-xs{ :data => { :limit => @limit, :pagination => 4, :all => @all } }
            %span
              Toon
              = select_tag 'limit', options_for_select([20,50,100], @limit)
              transacties per pagina

          .col-md-6.text-right.pagination-container
            %ul.pagination-sm.pagination
              %li{ :class => ( 'disabled' if @offset == 0)}
                %a{ :data => { :offset => @offset - @limit < 0 ? 0 : @offset - @limit }} vorige

              %li
                %a{ :data => { :offset => @offset + @limit }} volgende
