- content_for(:page, 'apps')
- content_for(:subpage, 'ideal')

- content_for(:title, 'iDeal')

%section#content

  - if flash[:warning].present?
    .page{ :style => 'padding-bottom: 0px;'}
      .alert.alert-danger{ :style => 'margin: 0px;'}
        = flash[:warning]

  .page.page-table
    %section.card.table-dynamic
      .card-header
        %i.fa.fa-fw.fa-credit-card
        iDeal transacties

      %table.table.table-striped.card-body
        %thead
          %tr
            %th
              .th
                Datum
            %th
              .th
                Lid
            %th
              .th
                Omschrijving
            %th
              .th
                Prijs
            %th
              .th
                Status

        - @transactions.each do |transaction|
          %tr
            %td= I18n.l Time.parse transaction.created_at.to_s
            %td
              - if transaction.member.present?
                = link_to transaction.member.name, transaction.member

            %td
              - if transaction.transaction_type.downcase == 'checkouttransaction'
                = I18n.t 'checkout', scope: 'activerecord.errors.models.ideal_transaction.attributes'
              - elsif transaction.transaction_type.downcase == 'activity'
                - transaction.activities.each do |activity|
                  = link_to activity.name, activity, :class => 'inline'
              - else
                = transaction.description

            %td= number_to_currency(transaction.amount, :unit => '€')

            %td
              - if transaction.status == 'paid' || transaction.status == 'paidout'
                %span.label.label-success= transaction.status
              - elsif transaction.status == 'open' || transaction.status == 'pending'
                %span.label.label-warning= transaction.status
              - else
                %span.label.label-danger= transaction.status

      .card-footer
        = render partial: 'layouts/partials/pagination', locals: {pagy: @pagination}
