= javascript_include_tag 'data-turbolinks-track' => 'reload'

- content_for(:page, 'apps')
- content_for(:subpage, 'checkout')

- content_for(:title, "Apps | #{I18n.t('checkout.products.title')}")

%section#content
  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token}, :'data-turbolinks' => 'false'}
    .row.product-cards
      .col-md-6
        .card
          .card-header
            .card-header-text
              %i.fa.fa-fw.fa-ticket-alt
              = I18n.t('checkout.products.title')
            
            =link_to "+", checkout_products_path, class: "new-product btn btn-success"
            
          %table.table.table-striped.table-linked#products
            %tbody
              - @products.each do |product|
                %tr{ :data => { 'id' => product.id }, :class => ( 'inactive' unless product.active ), :id => 'product_' + product.id.to_s}
                  %td.col-xs-4= link_to product.name, checkout_product_path(product.id, :anchor => 'product_' + product.id.to_s)
                  %td.col-xs-4= I18n.t( product.category, scope: 'activerecord.attributes.checkout_product.categories' ).downcase
                  %td.col-xs-4= number_to_currency( product.price, :unit => '€' )
                  %td.col-xs-4
                    - if product.active
                      %button.btn.btn-warning.deactivate
                        %i.fa.fa-fw.fa-times
                        = I18n.t('checkout.products.deactivate')
                    - else
                      %button.btn.btn-primary.activate
                        %i.fa.fa-fw.fa-check
                        = I18n.t('checkout.products.activate')

      .col-md-6.update-side-bar
        - unless @product.nil?
          = form_for :checkout_product, url: checkout_product_path(@product), method: :patch, :class => 'form-validation' do |f|
            - if @product.errors.any?
              .col-md-12
                .alert.alert-danger
                  %span
                  = I18n.t('admin.error.invalid_values')
                  %ul
                  - @product.errors.full_messages.each do |msg|
                    %li= msg

            .col-md-12.float-right
              .card
                .card-header
                  %i.fa.fa-fw.fa-ticket-alt
                  = I18n.t('checkout.products.edit')
                .card-body

                  .form-group.edit-product-form
                    .row
                      .col-md-8
                        = label(:checkout_product, I18n.t( :name, scope: 'activerecord.attributes.checkout_product' ))
                        = f.text_field :name, :value => @product.name, :class => 'form-control', :disabled => @product.children?
                      .col-md-4
                        = label(:checkout_product, I18n.t( :price, scope: 'activerecord.attributes.checkout_product' ))
                        = f.text_field :price, :value => number_to_currency(@product.price, :unit => ''), :class => 'form-control', :disabled => @product.children?

                  .form-group.edit-product-form-lower
                    .row
                      .col-md-4
                        = label(:checkout_product, I18n.t( :category, scope: 'activerecord.attributes.checkout_product' ))
                        .ui-select
                          = f.select :category, options_for_select( CheckoutProduct.categories.map{ |name, id| [I18n.t(name, scope: 'activerecord.attributes.checkout_product.categories'), name] }, @product.category )
                      .col-md-8
                        = label(:checkout_product, I18n.t( :image, scope: 'activerecord.attributes.checkout_product' ))
                        .input-group
                          %input#output.form-control{ :readonly => ''}

                          .input-group-btn
                            %div.btn.btn-primary.file-input-wrapper{ disabled: @product.children?}
                              %span
                              = I18n.t('checkout.products.upload')
                              = f.file_field :image, { 'data-ui-file-upload' => '' }

                  %span.thumb.d-none.d-sm-block
                    - if @product.url.present?
                      =image_tag @product.url

                  %button.btn.btn-success.wait.save-btn{ type: 'submit', disabled: @product.children? }
                    = I18n.t('editing.save')

                %table.table.table-striped.table-linked#products
                  %tbody

                  - @product.parents.take(5).each do |parent|
                    %tr
                      %td= I18n.l parent.created_at
                      %td= parent.name
                      %td= I18n.t( parent.category, scope: 'activerecord.attributes.checkout_product.categories' ).downcase
                      %td= number_to_currency( parent.price, :unit => '€' )

        - unless @new.nil?
          = form_for :checkout_product, url: checkout_products_path, method: :post, :class => 'form-validation' do |f|
            - if @new.errors.any?
              .col-md-12.float-right
                .alert.alert-danger
                  %span
                  = I18n.t('admin.error.invalid_values')
                  %ul
                  - @new.errors.full_messages.each do |msg|
                    %li= msg

            .col-md-12.float-right
              .card
                .card-header
                  %i.fa.fa-fw.fa-ticket-alt
                  = I18n.t('checkout.products.new')
                .card-body

                  .form-group
                    .row
                      .col-md-8
                        = label(:checkout_product, I18n.t( :name, scope: 'activerecord.attributes.checkout_product' ))
                        = f.text_field :name, :value => @new.name, :class => 'form-control'
                      .col-md-4
                        = label(:checkout_product, I18n.t( :price, scope: 'activerecord.attributes.checkout_product' ))
                        = f.text_field :price, :value => number_to_currency(@new.price, :unit => ''), :class => 'form-control'

                  .form-group
                    .row
                      .col-md-4
                        = label(:checkout_product, I18n.t( :category, scope: 'activerecord.attributes.checkout_product' ))
                        .ui-select
                          = f.select :category, options_for_select( CheckoutProduct.categories.map{ |name, id| [I18n.t(name, scope: 'activerecord.attributes.checkout_product.categories'), name] }, @new.category )
                      .col-md-8
                        = label(:checkout_product, I18n.t( :image, scope: 'activerecord.attributes.checkout_product' ))
                        .input-group
                          %input#output.form-control{ :readonly => ''}

                          .input-group-btn
                            %div.btn.btn-primary.file-input-wrapper
                              %span
                              = I18n.t('checkout.products.upload')
                              = f.file_field :image, { 'data-ui-file-upload' => '' }

                  %button.btn.btn-success.wait.save-btn{type: 'submit'} 
                    = I18n.t('editing.save')

        - unless @product.nil? || @total.nil?
          .col-md-12.float-right
            .card
              .card-header.year
                %i.fa.fa-fw.fa-ticket-alt
                = I18n.t('checkout.products.sales')
                .ui-select
                  = select_tag :year, options_for_select( @years, params['year'] )
              %table.table.table-striped.table-linked#products
                %tbody

                - @product.sales( params['year'] ).each do |sale|
                  - if sale.first[1].to_i > 0
                    %tr
                      %td=link_to sale.first[0].name, checkout_product_path(sale.first[0].id)
                      %td= number_to_currency( sale.first[0].price, :unit => '€')
                      %td.text-right= number_to_currency( sale.first[0].price * sale.first[1].to_i, :unit => '€' )

                %tr.total
                  %td{ :colspan => 2}= I18n.t('checkout.products.total')
                  %td.text-right= number_to_currency( @total.to_f, :unit => '€' )
