- content_for(:page, 'activities')
- content_for(:title, 'Activiteiten')

.row
  .col-md-12
    .card-deck
      - @activities.each do |activity|

        = link_to activity, class: 'card' do
          = image_tag activity.thumbnail_representation, class: 'card-img-top'

          - participant = current_user.credentials.participants.find_by_activity_id activity.id
          - if participant.present?
            .card-img-overlay
              - if participant.reservist
                %span.ribbon reserve
              - else
                %span.ribbon.attendee ingeschreven


          .card-body
            %h3.card-title= activity.name
            %p.card-text
              = format_date(activity, format: '%d-%m-%Y')
              = format_time(activity, display_end: false)

              - if !activity.price.nil? and activity.price != 0
                %span.card-price
                  = number_to_currency(activity.price, :precision => 2, :unit => '€')
