- content_for(:page, 'activities')
- content_for(:title, 'Activiteiten')

#activity-container{:data => {:view => 'index'}}
  - unless @activities.any?
    .alert.alert-warning= I18n.t('members.activities.index.no_activities')

  - @activities.each do |activity|
    .flexwrap
      = render 'members/activities/partials/view', activity: activity, view: 'index'

= link_to 'mailto:pleasedotheneedful@svsticky.nl' , class: 'btn btn-danger helpme' do
  %i.fa.fa-bug
  BUG!

= link_to calendarfeed_url(protocol: :webcal, format: :ics), class: 'btn btn-success subscribe' do
  %i.fa.fa-calendar
  Subscribe!

= render 'layouts/partials/poster_modal', view: 'index'
