- content_for(:page, 'activities')
- content_for(:title, "Activiteiten | #{@activity.name}")

.container.col-12#activity-container{:data => {:view => 'show'}}
  %div{:class => "col-12 col-lg-#{@activity.show_participants ? (12 - (@activity.attendees.count > 0 ? 3 : 0) - (@activity.reservists.count > 0 ? 3 : 0)) : 12}"}
    = render 'members/activities/partials/view', activity: @activity, view: 'show'

  %template#participant_table_row_template
    = render 'members/activities/partials/participant_table_row', participant: Participant.new(activity: @activity, member: Member.new), is_template: true, activity: @activity
  - if @activity.attendees.count > 0 && @activity.show_participants
    .col-12.col-md-6.col-xl-3.cramtable
      .card
        .card-header
          %i.fa.fa-fw.fa-user
          %span#attendees-count.number= @activity.attendees.count
          = I18n.t("activerecord.models.participants.attendees", count: @activity.attendees.count)

        %table#attendees_table.table.table-striped.table-linked{ :data => {'id' => @activity.id }}
          %tbody
            - @attendees.each do |participant|
              = render 'members/activities/partials/participant_table_row', participant: participant, activity: @activity

  - if @activity.reservists.count > 0 && @activity.show_participants
    .col-12.col-md-6.col-xl-3.cramtable
      .card
        .card-header
          %i.fa.fa-fw.fa-user
          %span#reservists-count.number= @reservists.count
          = I18n.t("activerecord.models.participants.reservists", count: @activity.reservists.count)

        %table#reservists_table.table.table-striped.table-linked{ :data => {'id' => @activity.id }}
          %tbody
            - @reservists.each do |participant|
              = render 'members/activities/partials/participant_table_row', participant: participant, activity: @activity

= render 'layouts/partials/poster_modal', view: 'show'
