
= flash[:errors].inspect
= flash[:notice].inspect

.col-md-12
  .panel.panel-default
    %p hello


= form_for :consent, :url => alumni_path(:token => @token.token), :class => 'form-validation' do |f|
  .col-md-12
    .panel.panel-default
      .form-group

        %dt Consent this year
        %dd
          %label.ui-checkbox
            = check_box_tag 'yearly'
            %span Consent this year

        %dt Consent forever
        %dd
          %label.ui-checkbox
            = check_box_tag 'indefinite'
            %span Consent forever

    - if @member.is_destroyable? || true
      .panel.panel-default
        .form-group
          = link_to alumni_path(:token => @token.token), 'data-method' => :delete do
            %button.btn.btn-warning Destroy


  .col-md-12
    .panel.panel-default
      .panel-body
        %button.btn.btn-success{type: 'submit'} Opslaan
