- content_for(:page, 'committees')
- content_for(:title, "Contipated koala | commissies | #{@committee.name}")

= render 'committees/committeeMember.html.js'

%section#content
  = render 'layouts/search'

  .page.page-form
    .col-md-6
      .panel.panel-default
        .panel-heading
          %i.fa.fa-fw.fa-users
          Commissie
        .panel-body
          = form_for :committee, url: committee_path(@committee), method: :patch, :class => 'form-validation' do |f|
            - if @committee.errors.any?
              .col-md-12
                .alert.alert-danger
                  %button.close{ type: "button" } ×
                  %span Oh snap, niet alles is goed ingevuld;
                  %ul
                  - @committee.errors.full_messages.each do |msg|
                    %li= msg

            .form-group
              %label{for: ''} Naam
              = f.text_field :name, :value => @committee.name, :class => 'form-control'
            .form-group
              %label{for: ''} Comments
              = f.text_area :comments, :value => @committee.comments, :class => 'form-control'

            .callout.callout-info
              %p Om wijzigingen door te voeren moet je op de opslaan knop drukken.

            %button.btn.btn-success{type: 'submit'} Opslaan
            = link_to 'Annuleren', committees_path, { :class => 'button btn btn-default' }
            = link_to 'Verwijderen', committee_path(@committee.id), { :class => 'button btn btn-danger pull-right', 'data-method' => :delete }

    .col-md-6
      .panel.panel-default
        .panel-heading
          %i.fa.fa-fw.fa-users
          Commissieleden
        .panel_body
          %table.table.table-striped.table-linked#committeeMembers{ :data => { 'id' => @committee.id } }
            %thead
              %tr
                %th Naam
                %th Functie
                %th
            %tbody
              - @committee.committeeMembers.each do |committeeMember|
                %tr{ :data => { :id => committeeMember.id } }
                  %td= link_to "#{committeeMember.member.name}", committeeMember.member
                  %td
                    %input.form-control.function{ :style => 'margin: 5px 0;', :type => 'text', :value => committeeMember.function}
                  %td
                    .btn-group{ :style => 'margin-top: 3px; margin-right:3px; float: right;'}
                      %button.btn.btn-default.destroy
                        %i.fa.fa-fw.fa-trash-o
              %tr
                %td.col-md-8{ :style => 'position: relative; padding-right: 5px;'}
                  %input.form-control.committeeMember{ :style => 'margin: 5px;', :type => 'text'}
                  %ul.dropdown-menu.col-md-11{ :style => 'display: none; position: absolute; left: 8px; top: 30px;'}
                %td
                %td
