!!!
%html
  %head
    %title= 'Constipated koala'
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag :defaults
    = csrf_meta_tags
  %body#app
    .view-container
      .page-signin
        .signin-header
          .container.text-center
            %section.logo
              %a.ng-binding{href: '/'} Constipated koala
        .signin-body
          .container{style: 'margin-top: 100px;'}
            .form-container
              = form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'form-horizontal' ) do |f|
                %fieldset
                  .form-group
                    .input-group.input-group-lg
                      %span.input-group-addon
                        %span.glyphicon.glyphicon-envelope
                      = f.email_field :email, autofocus: true, placeholder: 'E-mailadres', :class => 'form-control'
                  .form-group
                    .input-group.input-group-lg
                      %span.input-group-addon
                        %span.glyphicon.glyphicon-lock
                      = f.password_field :password, autocomplete: 'off', placeholder: 'password', :class => 'form-control'
                  .form-group
                    = f.submit 'Log in', :class => 'btn btn-primary btn-lg btn-block'
              %section
                %p.text-center
                  %a{href: '/admins/password/new'} Forgot your password?
                /%p.text-center.text-muted.text-small
                /  Don't have an account yet?
                /  %a{href: '/admins/signup'} Sign up