.row
  = form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-horizontal'} ) do |f|

    - if !resource.errors.full_messages.blank?
      - resource.errors.full_messages.each do |message|
        .alert.alert-danger
          %span
            = message

    - if flash[:alert]
      .alert.alert-danger
        %span
          = flash[:alert]

    - if flash[:notice]
      .alert.alert-info
        %span
          = flash[:notice]

    %fieldset
      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-envelope-o
          = f.email_field :email, autofocus: true, placeholder: 'e-mailadres', :class => 'form-control'
      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password, autocomplete: 'off', placeholder: 'wachtwoord', :class => 'form-control'
      .form-group
        = f.submit 'Log in', :class => 'btn btn-primary btn-block'

.row
  .text-center
    = link_to 'wachtwoord vergeten', new_user_password_path
    |
    = link_to 'wachtwoord aanmaken', '#'
