
-#
  @param {activity} activity
  @param {?} @enrollment
  @param {member} @member

.panel.panel-default.panel-activity{ data: {:'activity-id' => activity.id, :'notes-mandatory' => activity.notes_mandatory, :'unenroll-date' => activity.unenroll_date.at_end_of_day.to_i }}
  .panel-heading.text-right
    %span.panel-title.pull-left.activity-title{ :style => 'text-overflow: ellipsis;'}
      = activity.name
    .fullness
      = activity.fullness
    .clearfix
  .panel-body
    - if activity.poster.attached?
      .media-left.poster-thumbnail
        %a.show-poster-modal{'data-toggle': 'modal', 'data-target': '#poster-modal'}
          =image_tag activity.poster.representation(resize: '764x1080!'), class: "small-poster"
    .media-body
      - if activity.start_date != activity.end_date
        %strong= I18n.t("activerecord.labels.activities.when")
        = activity.start_date.strftime("%d/%m/%Y")
        - if !activity.start_time.nil?
          = activity.start_time.strftime("%H:%M")
        \-
        = activity.end_date.strftime("%d/%m/%Y")
        - if !activity.end_time.nil?
          = activity.end_time.strftime("%H:%M")
      - else
        %strong= I18n.t("activerecord.labels.activities.date")
        = activity.start_date.strftime("%d/%m/%Y")
        - if !activity.start_time.nil?
          <br/>
          %strong= I18n.t("activerecord.labels.activities.time")
          = activity.start_time.strftime("%H:%M")
        - if !activity.end_time.nil?
          \-
          = activity.end_time.strftime("%H:%M")
      <br/>
      %strong= I18n.t("activerecord.attributes.activity.price")
      - if !activity.price.nil? and activity.price != 0
        &euro;
        = number_with_precision(activity.price, :precision => 2)
        <br/>
      - else
        = I18n.t("activerecord.missing_value_placeholders.activity.free")
        <br/>
      - if !activity.location.nil? && activity.location != ''
        %strong= I18n.t("activerecord.attributes.activity.location")
        = activity.location
        <br/>
      - if !activity.unenroll_date.nil? && activity.is_enrollable?
        %strong= I18n.t("activerecord.attributes.activity.unenroll_date")
        %span.activity-unenroll
          = activity.unenroll_date.strftime("%d/%m/%Y")
          23:59
      <br/>
      - if view == 'index'
        - if activity.notes_mandatory
          %span{style: 'color: red; font-weight: bold; display:block; padding-top: 14px'}= I18n.t("members.activities.partials.view.notes_mandatory")
  - if view =='show'
    .panel-body.show-activity-topborder
      %strong= I18n.t("activerecord.attributes.activity.description")
      <br/>
      - if activity.description.blank?
        = I18n.t("activerecord.missing_value_placeholders.activity.description")
      - else
        = simple_format(activity.description)
    - if !activity.notes.blank?
      .panel-body.show-activity-topborder
        %strong
          = activity.notes
        %textarea.form-control.notes{:maxlength => '30', :value => (@enrollment.notes unless @enrollment.nil?)}
          = @enrollment.notes unless @enrollment.nil?
  .panel-footer.clearfix
    .pull-right
      .btn-group
        - if view == 'index'
          -if !activity.notes.blank?
            = link_to raw("#{I18n.t('members.activities.partials.view.more_info')}&nbsp;&nbsp;&nbsp;<i class='fa fa-pencil-square-o'></i>"), "/activities/#{activity.id}", class: "btn btn-default more-info"
          -else
            = link_to I18n.t('members.activities.partials.view.more_info'), "/activities/#{activity.id}", class: "btn btn-default more-info"
        -else
          = link_to I18n.t("navigation.back"), "/activities/", class: "btn btn-default"

        - if !activity.notes.blank? && view == 'show'
          %button.btn.btn-info.update-enrollment{ :class => ('hide' unless @member.confirmed_activities.ids.include? activity.id || (@member.reservist_activities.ids.include? activity.id))}
            = I18n.t("members.activities.partials.view.actions.update_info")
        - if activity.is_enrollable
          - if @member.confirmed_activities.ids.include? activity.id
            - button_text = I18n.t("members.activities.partials.view.actions.unenroll")
            - button_class = 'btn-danger'
            - if !activity.unenroll_date.nil? && activity.unenroll_date < Date.today
              - button_class += ' disabled'
          - elsif @member.reservist_activities.ids.include? activity.id
            - button_text = I18n.t("members.activities.partials.view.actions.reservist_unenroll")
            - button_class = 'btn-warning'
          - elsif activity.participant_limit != nil && activity.participant_limit <= activity.participants.count
            - button_text = I18n.t("members.activities.partials.view.actions.reservist_enroll")
            - button_class = 'btn-warning-sat'
          - else
            - button_text = I18n.t("members.activities.partials.view.actions.enroll")
            - button_class = 'btn-success'
          %button.btn.enrollment{ :class => button_class}
            = button_text
