
-#
  @param {activity} activity
  @param {?} @enrollment
  @param {member} @member

.card.panel-activity{ data: {:'activity-id' => activity.id, :'notes-mandatory' => activity.notes_mandatory, :'unenroll-date' => activity.unenroll_date.at_end_of_day.to_i }}
  .card-header.text-right
    %span.card-title.float-left.activity-title{ :style => 'text-overflow: ellipsis;'}
      -if view == 'show'
        = link_to ("/activities/") do
          %i.fa.fa-chevron-left
          = activity.name
      -else
        = activity.name
    .fullness
      = activity.fullness
    .clearfix
  .card-body.media.row
    - if activity.poster.attached?
      .media-left.poster-thumbnail.col-12.col-sm-6
        %a.show-poster-modal{'data-toggle': 'modal', 'data-target': '#poster-modal'}
          =image_tag activity.thumbnail_representation, class: "small-poster"
          .mask.d-flex.justify-content-center
            %span.align-self-center{'style': 'color: White'}
              %i.fas.fa-search.fa-3x
    .media-body.col-12.col-sm-6
      - if activity.start_date != activity.end_date
        %strong= I18n.t("activerecord.labels.activities.when")
        =l(activity.start_date, format: "%A %d/%m/%Y")
        - if !activity.start_time.nil?
          = activity.start_time.strftime("%H:%M")
        \-
        = l(activity.end_date, format: "%A %d/%m/%Y")
        - if !activity.end_time.nil?
          = activity.end_time.strftime("%H:%M")
      - else
        %strong= I18n.t("activerecord.labels.activities.date")
        = l(activity.start_date, format: "%A %d/%m/%Y")
        - if !activity.start_time.nil?
          <br/>
          %strong= I18n.t("activerecord.labels.activities.time")
          = activity.start_time.strftime("%H:%M")
        - if !activity.end_time.nil?
          \-
          = activity.end_time.strftime("%H:%M")
      <br/>
      %strong= I18n.t("activerecord.attributes.activity.price")
      - if !activity.price.nil? and activity.price != 0
        &euro;
        = number_with_precision(activity.price, :precision => 2)
        <br/>
      - else
        = I18n.t("activerecord.missing_value_placeholders.activity.free")
        <br/>
      - if !activity.location.nil? && activity.location != ''
        %strong= I18n.t("activerecord.attributes.activity.location")
        = activity.location
        <br/>
      - if !activity.unenroll_date.nil? && activity.open?
        %strong= I18n.t("activerecord.attributes.activity.unenroll_date")
        %span.activity-unenroll
          = l(activity.unenroll_date, format: "%A %d/%m/%Y")
          23:59
      <br/>
      - if view == 'index'
        - if activity.notes_mandatory && activity.notes.present?
          %span{style: 'color: red; font-weight: bold; display:block; padding-top: 14px'}= I18n.t("members.activities.info.notes_mandatory")
  - if view =='show'
    .card-body.show-activity-topborder
      %strong= I18n.t("activerecord.attributes.activity.description")
      <br/>
      - if @user.language == 'nl' && !activity.description_nl.blank?
        = simple_format(activity.description_nl)
      - elsif @user.language == 'en' && !activity.description_en.blank?
        = simple_format(activity.description_en)
      - elsif !activity.description_nl.blank?
        = simple_format(activity.description_nl)
      - elsif !activity.description_en.black?
        = simple_format(activity.description_en)
      - else
        = I18n.t("activerecord.missing_value_placeholders.activity.description")
    - if !activity.notes.blank?
      .card-body.show-activity-topborder
        %strong
          = activity.notes
        %textarea.form-control.notes{:maxlength => '30', :value => (@enrollment.notes unless @enrollment.nil?)}
          = @enrollment.notes unless @enrollment.nil?
  .card-footer.clearfix
    .row
      - if view == 'index'
        -if !activity.notes.blank?
          = link_to raw("#{I18n.t('members.activities.info.more_info')}&nbsp;&nbsp;&nbsp;<i class='fas fa-edit'></i>"), "/activities/#{ activity.id }", class: "btn btn-secondary more-info col-12 col-sm-6"
        -else
          = link_to I18n.t('members.activities.info.more_info'), "/activities/#{ activity.id }", class: "btn btn-secondary more-info col-12 col-sm-6"

      - if activity.notes.present? && view == 'show'
        %button.btn.btn-info.update-enrollment.col-9.col-sm-6{ :class => ('d-none' unless (@member.confirmed_activities.ids.include? activity.id) || (@member.reservist_activities.ids.include? activity.id))}
          = I18n.t("members.activities.actions.update_info")
      - if activity.open?
        - if @member.confirmed_activities.ids.include? activity.id
          - button_text = I18n.t("members.activities.actions.unenroll")
          - button_class = 'btn-danger col-12 col-sm-6'
          - if !activity.unenroll_date.nil? && activity.unenroll_date < Date.today
            - button_class += ' disabled'
        - elsif @member.reservist_activities.ids.include? activity.id
          - button_text = I18n.t("members.activities.actions.reservist_unenroll")
          - button_class = 'btn-warning col-12 col-sm-6'
        - elsif activity.participant_limit != nil && activity.participant_limit <= activity.participants.count
          - button_text = I18n.t("members.activities.actions.reservist_enroll")
          - button_class = 'btn-warning col-12 col-sm-6'
        - else
          - button_text = I18n.t("members.activities.actions.enroll")
          - button_class = 'btn-success col-12 col-sm-6'
        %button.btn.enrollment{ :class => button_class}
          = button_text
