- content_for(:page, 'home')

%section#content
  = render 'layouts/search'

  .page
    .row
      .col-lg-3.col-xsm-6.clickable
        = link_to :members, :class => 'panel mini-box' do
          %span.box-icon.bg-success
            %i.fa.fa-user
          .box-info
            %p.size-h2
              = @members
            %p.text-muted Leden

      .col-lg-3.col-xsm-6.clickable
        = link_to :activities, :class => 'panel mini-box' do
          %span.box-icon.bg-info
            %i.fa.fa-ticket
          .box-info
            %p.size-h2
              = @activities
            %p.text-muted Activiteiten

      .col-lg-3.col-xsm-6.clickable
        = link_to :checkout, :class => 'panel mini-box' do
          %span.box-icon.bg-warning
            %i.fa.fa-shopping-cart
          .box-info
            %p.size-h2
              = @transactions
            %p.text-muted Checkout transacties

      .col-lg-3.col-xsm-6.clickable
        = link_to :activities, :class => 'panel mini-box' do
          %span.box-icon.bg-danger
            %i.fa.fa-eur
          .box-info
            %p.size-h2
              = number_to_currency(@unpayed, :unit => '')
            %p.text-muted Openstaande betalingen

  .page
    .row
      %div.col-md-3.hidden-xs
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-graduation-cap
            Studies

          %table.table.table-striped.table-linked
            %tbody
              - @studies.each do | code, count |
                %tr
                  %td= link_to I18n.t(code.downcase, scope: 'activerecord.attributes.study.names'), "/members?utf8=✓&search=studie:#{I18n.t(code.downcase, scope: 'activerecord.attributes.study.names').downcase.gsub( ' ', '-' )}"
                  %td= count

      %div.col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-shopping-cart
            Laatste transacties vandaag
          %table.table.table-striped.table-linked
            %tbody
              - @recent.each do |transaction|
                %tr
                  %td= I18n.l transaction.created_at, :format => :short
                  %td{ :style => 'min-width: 80px;' }
                    = number_to_currency(transaction.price, :unit => '€')
                    - if transaction.price > 0
                      %span.fa.fa-sort-asc.pull-right{ :style => 'padding-up: 3px;'}
                    - else
                      %span.fa.fa-sort-desc.pull-right

                  %td{ :style => 'white-space: nowrap;' }
                    - unless transaction.checkout_balance.member.nil?
                      = link_to "#{transaction.checkout_balance.member.name}", transaction.checkout_balance.member
                    - else
                      \-

                  %td.hidden-sm
                    = transaction.products

              - if @recent.empty?
                %tr
                  %td.text-center
                    %em geen transacties vandaag

      %div.col-md-3
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-ticket
            Wanbetalers
          %table.table.table-striped.table-linked
            %tbody
              - @defaulters.each do | member, amount |
                %tr
                  %td= link_to member.name, member
                  %td= number_to_currency( amount, :unit => '€' )
