- content_for(:page, 'home')

%section#content
  = render 'layouts/partials/search'

  .page
    .row
      .col-lg
        .card
          = link_to :members do
            .row.no-gutters
              %span.box-icon.bg-success
                %i.fa.fa-homepage.fa-user
              .card-body.box-info
                %h2.text-center
                  = @members
                %p.text-muted
                  = I18n.t('admin.members.title')

      .col-lg
        .card
          = link_to :activities do
            .row.no-gutters
              %span.box-icon.bg-info
                %i.fa.fa-homepage.fa-ticket-alt
              .card-body.box-info
                %h2.text-center
                  = @activities
                %p.text-muted
                  = I18n.t('admin.activities.title')

    .row
      // Checkout transactions used to be shown here.
      // That isn't in Koala anymore and was thus removed,
      // but we do not want to move the outstanding payment
      // card, so we leave this here as 'spacer'
      .col-lg

      .col-lg
        .card
          = link_to :payments do
            .row.no-gutters
              %span.box-icon.bg-danger
                %i.fa.fa-homepage.fa-euro-sign
              .card-body.box-info
                %h2.text-center
                  = number_to_currency(@unpaid, :unit => '')
                %p.text-muted
                  = I18n.t('admin.front.outstanding_payments')

    .row
      .col-lg
        .card
          .card-header
            %i.fa.fa-fw.fa-graduation-cap
            = I18n.t('admin.front.studies')

          %table.table.table-striped.table-linked
            %tbody
              - @studies.each do |code, count|
                %tr
                  %td= link_to I18n.t(code.downcase, scope: 'activerecord.attributes.study.names'), "/members?utf8=✓&search=studie:#{I18n.t(code.downcase, scope: 'activerecord.attributes.study.names').downcase.gsub( ' ', '-' )}"
                  %td= count

      .col-lg
        .card
          .card-header
            %i.fa.fa-fw.fa-credit-card
            = I18n.t('admin.front.activity_transactions_today')
          %table.table.table-striped.table-linked
            %tbody
              - @recentactivities.each do |transaction|
                %tr
                  %td= I18n.l transaction.created_at, :format => :short
                  %td{ :style => 'min-width: 80px;' }
                    = number_to_currency(transaction.amount, :unit => '€')
                    - if transaction.amount > 0
                      %span.fa.fa-sort-asc.float-right{ :style => 'padding-up: 3px;'}
                    - else
                      %span.fa.fa-sort-desc.float-right

                  %td{ :style => 'white-space: nowrap;' }
                    = link_to "#{transaction.member.name}", transaction.member


                  %td.d-none.d-md-table-cell
                    = transaction.activities.map(&:name).join(', ')

              - if @recentactivities.empty?
                %tr
                  %td.text-center
                    %em= I18n.t('admin.front.no_transactions')

      .col-lg
        .card
          .card-header
            %i.fa.fa-fw.fa-ticket-alt
            = I18n.t('admin.front.defaulters')
          %table.table.table-striped.table-linked
            %tbody
              - @defaulters.each do |member, amount|
                %tr
                  %td= link_to member.name, member
                  %td= number_to_currency( member.total_outstanding_payments, :unit => '€' )
