- content_for(:page, 'home')

%section#content
  = render 'layouts/partials/search'

  .page
    .row

      .col-12.col-md-6
        .card
          = link_to :members do
            .row.no-gutters
              %span.box-icon.bg-success
                %i.fa.fa-homepage.fa-user
              .card-body.box-info
                %h2.text-center
                  = @members
                %p.text-muted Leden

      .col-12.col-md-6
        .card
          = link_to :activities do
            .row.no-gutters
              %span.box-icon.bg-info
                %i.fa.fa-homepage.fa-ticket-alt
              .card-body.box-info
                %h2.text-center
                  = @activities
                %p.text-muted Activiteiten

      .col-12.col-md-6
        .card
          = link_to :checkout do
            .row.no-gutters
              %span.box-icon.bg-warning
                %i.fa.fa-homepage.fa-shopping-cart
              .card-body.box-info
                %h2.text-center
                  = @transactions
                %p.text-muted Checkout transacties

      .col-12.col-md-6
        .card
          = link_to :payments do
            .row.no-gutters
              %span.box-icon.bg-danger
                %i.fa.fa-homepage.fa-euro-sign
              .card-body.box-info
                %h2.text-center
                  = number_to_currency(@unpayed, :unit => '')
                %p.text-muted Openstaande betalingen

    .row
      %div.col-lg-3.d-none.d-sm-block
        .card
          .card-header
            %i.fa.fa-fw.fa-graduation-cap
            Studies

          %table.table.table-striped.table-linked
            %tbody
              - @studies.each do | code, count |
                %tr
                  %td= link_to I18n.t(code.downcase, scope: 'activerecord.attributes.study.names'), "/members?utf8=✓&search=studie:#{I18n.t(code.downcase, scope: 'activerecord.attributes.study.names').downcase.gsub( ' ', '-' )}"
                  %td= count

      %div.col-lg-6
        .card
          .card-header
            %i.fa.fa-fw.fa-shopping-cart
            Laatste transacties vandaag
          %table.table.table-striped.table-linked
            %tbody
              - @recent.each do |transaction|
                %tr
                  %td= I18n.l transaction.created_at, :format => :short
                  %td{ :style => 'min-width: 80px;' }
                    = number_to_currency(transaction.price, :unit => '€')
                    - if transaction.price > 0
                      %span.fa.fa-sort-asc.pull-right{ :style => 'padding-up: 3px;'}
                    - else
                      %span.fa.fa-sort-desc.pull-right

                  %td{ :style => 'white-space: nowrap;' }
                    - unless transaction.checkout_balance.nil? || transaction.checkout_balance.member.nil?
                      = link_to "#{transaction.checkout_balance.member.name}", transaction.checkout_balance.member


                  %td.d-none.d-md-table-cell
                    = transaction.products

              - if @recent.empty?
                %tr
                  %td.text-center
                    %em geen transacties vandaag

      %div.col-lg-3
        .card
          .card-header
            %i.fa.fa-fw.fa-ticket-alt
            Wanbetalers
          %table.table.table-striped.table-linked
            %tbody
              - @defaulters.each do | member, amount |
                %tr
                  %td= link_to member.name, member
                  %td= number_to_currency( amount, :unit => '€' )
