- content_for(:page, 'settings')
- content_for(:title, 'Instellingen')

%section#content

  .page.page-form
    .row
      .col-md-6
        .card
          .card-header
            %i.fas.fa-fw.fa-wrench
            Instellingen
          %ul.card-body.p-0.m-0#settings
            = form_tag settings_url do

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'mongoose_ideal_costs.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'mongoose_ideal_costs.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_mongoose_ideal_costs', :name => 'mongoose_ideal_costs', :value => Settings.mongoose_ideal_costs, :placeholder => '' }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'liquor_time.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'liquor_time.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_liquor_time', :name => 'liquor_time', :value => Settings.liquor_time, :placeholder => 'hh:mm' }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'begin_study_year.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'begin_study_year.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_begin_study_year', :name => 'begin_study_year', :value => Settings.begin_study_year, :placeholder => 'yyyy-mm-dd' }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'intro_membership.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'intro_membership.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_intro_membership', :name => 'intro.membership', :value => Settings['intro.membership'].join(', ') }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'intro_activities.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'intro_activities.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_intro_activities', :name => 'intro.activities', :value => Settings['intro.activities'].join(', '), :placeholder => 'gescheiden met komma\'s' }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'additional_committee_positions.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'additional_committee_positions.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_additional_committee_positions', :name => 'additional_positions.committee', :value =>Settings['additional_positions.committee'].join(', '), :placeholder => 'gescheiden met komma\'s' }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'additional_moot_positions.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'additional_moot_positions.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_additional_moot_positions', :name => 'additional_positions.moot', :value => Settings['additional_positions.moot'].join(', '), :placeholder => 'gescheiden met komma\'s' }

      .col-md-6
        = form_for :admin, :url => profile_settings_path, method: :patch, :html => { :class => 'form-validation signature' } do |f|
          .card
            .card-header
              %i.fa.fa-fw.fa-user
              Admin gegevens
            .card-body
              = f.hidden_field :id, :value => @admin.id, :class => 'id'

              .form-group
                .image-group
                  - if @admin.avatar.attached?
                    = image_tag @admin.avatar, class: 'avatar'

                .row
                  .col-md-4
                    %label{for: ''} Voornaam
                    = f.text_field :first_name, :value => @admin.first_name, :class => 'form-control'
                  .col-md-3
                    %label{for: ''} Tussenvoegsel
                    = f.text_field :infix, :value => @admin.infix, :class => 'form-control'
                  .col-md-5
                    %label{for: ''} Achternaam
                    = f.text_field :last_name, :value => @admin.last_name, :class => 'form-control'

                .row
                  .col-lg-12
                    = label(:admin, :avatar)
                    .input-group
                      %input#output.form-control{ :readonly => '', :value => ("#{@admin.avatar.filename}" if @admin.avatar.attached?) }

                      .input-group-append
                        %div.btn.btn-primary.file-input-wrapper
                          %span
                            = I18n.t('files.upload')
                          = f.file_field :avatar, { 'data-ui-file-upload' => '' }
                      .input-group-append
                        %button.btn.btn-primary.dropdown-toggle{ 'data-toggle' => 'dropdown', :type => 'button', :class => ( 'disabled' unless @admin.avatar.attached? ) }
                          %span.caret
                        %ul.dropdown-menu
                          %li
                            - if @admin.avatar.attached?
                              = link_to 'Download', @admin.avatar, :download => '', :class => 'dropdown-item'
                          %li.divider
                          %li
                            = link_to I18n.t('files.delete'), '#', :class => 'dropdown-item remove'

              .form-group.signature
                = f.hidden_field :signature, value: @admin.signature

                %label{for: ''} Ondertekening

                #editor
                  != @admin.signature

              %button.btn.btn-success{type: 'submit'} Opslaan

        - if @advert.errors.any?
          .alert.alert-danger
            %span Oh snap, niet alles is goed ingevuld;
            %ul
            - @advert.errors.full_messages.each do |msg|
              %li= msg

        .card#advertisements
          .card-header
            %i.fa.fa-fw.fa-fw.fa-desktop
            Advertenties
          %table.table.table-striped.card-body
            - @advertisements.each do |advertisement|
              %tr{ :data => { 'id' => advertisement.id }}
                %td
                  = advertisement.name
                  %br
                  = link_to advertisement.poster.filename, advertisement.poster.representation(resize: '764x1080!'), :download => ''
                %td.btn-group.float-right
                  %button.btn.btn-light
                    %i.fa.fa-fw.fa-trash

          .card-footer
            = form_for :advertisement, url: advertisement_settings_path, method: :post, :class => 'form-validation' do |f|
              .form-group.m-0
                .input-group
                  = f.text_field :name, { :class => 'form-control', :placeholder => 'Omschrijving' }
                  %div.btn.btn-primary.file-input-wrapper
                    %span Uploaden
                    = f.file_field :poster, { 'data-ui-file-upload' => '' }
                  %button.btn.btn-success.wait{type: 'submit'} Opslaan

        .card
          .card-header
            %i.fa.fa-fw.fa-rocket
            Externe applicaties
          %table.table.table-striped.card-body
            - @applications.each do |application|
              %tr
                %td= link_to application.name, application.redirect_uri
                %td= application.redirect_uri
