- content_for(:page, 'settings')

- content_for(:title, I18n.t('admin.navigation.settings'))

%section#content

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-md-6
        .card
          .card-header
            %i.fas.fa-fw.fa-wrench
            = I18n.t('admin.navigation.settings')
          %ul.list-group#settings
            = form_tag settings_url do
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'liquor_time.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'liquor_time.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_liquor_time', :name => 'liquor_time', :value => Settings.liquor_time, :placeholder => 'hh:mm' }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'begin_study_year.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'begin_study_year.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_begin_study_year', :name => 'begin_study_year', :value => Settings.begin_study_year, :placeholder => 'yyyy-mm-dd' }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'intro_membership.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'intro_membership.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_intro_membership', :name => 'intro.membership', :value => Settings['intro.membership'].join(', ') }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'intro_activities.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'intro_activities.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_intro_activities', :name => 'intro.activities', :value => Settings['intro.activities'].join(', '), :placeholder => I18n.t('admin.settings.separate') }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'additional_committee_positions.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'additional_committee_positions.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_additional_committee_positions', :name => 'additional_positions.committee', :value =>Settings['additional_positions.committee'].join(', '), :placeholder => I18n.t('admin.settings.separate') }

              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'additional_moot_positions.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'additional_moot_positions.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_additional_moot_positions', :name => 'additional_positions.moot', :value => Settings['additional_positions.moot'].join(', '), :placeholder => I18n.t('admin.settings.separate') }
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'mongoose_ideal_costs.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'mongoose_ideal_costs.description', scope: 'activerecord.attributes.settings'

                  .col-md-6
                    %input.form-control{ :id => 'options_mongoose_ideal_costs', :name => 'mongoose_ideal_costs', :value => Settings.mongoose_ideal_costs, :placeholder => '' }
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'payconiq_transaction_costs.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'payconiq_transaction_costs.description', scope: 'activerecord.attributes.settings'
                  .col-md-6
                    %input.form-control{ :id => 'options_payconiq_transaction_costs', :name => 'payconiq_transaction_costs', :value => Settings.payconiq_transaction_costs, :placeholder => '' }
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'payconiq_relation_code.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'payconiq_relation_code.description', scope: 'activerecord.attributes.settings'
                  .col-md-6
                    %input.form-control{ :id => 'options_payconiq_relation_code', :name => 'payconiq_relation_code', :value => Settings.payconiq_relation_code, :placeholder => '' }
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'ideal_relation_code.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'ideal_relation_code.description', scope: 'activerecord.attributes.settings'
                  .col-md-6
                    %input.form-control{ :id => 'options_ideal_relation_code', :name => 'ideal_relation_code', :value => Settings.ideal_relation_code, :placeholder => '' }
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'payment_condition_code.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'payment_condition_code.description', scope: 'activerecord.attributes.settings'
                  .col-md-6
                    %input.form-control{ :id => 'options_payment_condition_code', :name => 'payment_condition_code', :value => Settings.payment_condition_code, :placeholder => '' }
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'mongoose_ledger_number.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'mongoose_ledger_number.description', scope: 'activerecord.attributes.settings'
                  .col-md-6
                    %input.form-control{ :id => 'options_mongoose_ledger_number', :name => 'mongoose_ledger_number', :value => Settings.mongoose_ledger_number, :placeholder => '' }
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'accountancy_ledger_number.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'accountancy_cost_location.description', scope: 'activerecord.attributes.settings'
                  .col-md-6
                    %input.form-control{ :id => 'options_accountancy_ledger_number', :name => 'accountancy_ledger_number', :value => Settings.accountancy_ledger_number, :placeholder => '' }
              %li.list-group-item
                .container.row
                  .col-md-6
                    %b= I18n.t 'accountancy_cost_location.name', scope: 'activerecord.attributes.settings'
                    %p= I18n.t 'accountancy_cost_location.description', scope: 'activerecord.attributes.settings'
                  .col-md-6
                    %input.form-control{ :id => 'options_accountancy_cost_location', :name => 'accountancy_cost_location', :value => Settings.accountancy_cost_location, :placeholder => '' }


      .col-md-6
        = form_for :admin, :url => profile_settings_path, method: :patch, :html => { :class => 'form-validation signature' } do |f|
          .card
            .card-header
              %i.fa.fa-fw.fa-user
              = I18n.t('admin.settings.admin_title')
            .card-body
              = f.hidden_field :id, :value => @admin.id, :class => 'id'

              .form-group
                .image-group
                  - if @admin.avatar.attached?
                    = image_tag @admin.avatar, class: 'avatar'
              
                .row
                  .col-md-4
                    %label{for: ''}
                    = I18n.t('admin.members.name')
                    = f.text_field :first_name, :value => @admin.first_name, :class => 'form-control'
                  .col-md-3
                    %label{for: ''}
                    = I18n.t('admin.members.infix')
                    = f.text_field :infix, :value => @admin.infix, :class => 'form-control'
                  .col-md-5
                    %label{for: ''}
                    = I18n.t('admin.members.surname')
                    = f.text_field :last_name, :value => @admin.last_name, :class => 'form-control'

              .form-group
                .row
                  .col-md-12
                    %label{for: ''}
                    = I18n.t('activerecord.attributes.member.language')
                    = f.select :language, options_for_select([["Nederlands", :nl], ["English", :en]], selected: @user.language)

                .row
                  .col-lg-12
                    = label(:admin, :avatar)
                    .input-group
                      %input#output.form-control{ :readonly => '', :value => ("#{@admin.avatar.filename}" if @admin.avatar.attached?) }

                      .input-group-append
                        %div.btn.btn-primary.file-input-wrapper
                          %span
                            = I18n.t('files.upload')
                          = f.file_field :avatar, { 'data-ui-file-upload' => '' }
                      .input-group-append
                        %button.btn.btn-primary.dropdown-toggle{ 'data-toggle' => 'dropdown', :type => 'button', :class => ( 'disabled' unless @admin.avatar.attached? ) }
                          %span.caret
                        %ul.dropdown-menu
                          %li
                            - if @admin.avatar.attached?
                              = link_to 'Download', @admin.avatar, :download => '', :class => 'dropdown-item'
                          %li.divider
                          %li
                            = link_to I18n.t('files.delete'), '#', :class => 'dropdown-item remove'

              .form-group.signature
                = f.hidden_field :signature, value: @admin.signature

                %label{for: ''} Ondertekening

                #editor
                  != @admin.signature

                = f.text_area :signature, :rows => 8, :value => @admin.signature, :class => 'form-control', :id => 'html'

              %button.btn.btn-success{type: 'submit'}
                = I18n.t('editing.save')

        .card
          .card-header
            %i.fa.fa-fw.fa-rocket
            = I18n.t('admin.settings.external_apps')
          %table.table.table-striped.table-linked
            - @applications.each do |application|
              %tr
                %td= link_to application.name, application.redirect_uri
                %td= application.redirect_uri
