- content_for(:page, 'settings')

- content_for(:title, 'Constipated koala | settings')

%section#content
  = render 'layouts/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-fw.fa-wrench
            Instellingen
          %ul.list-group#settings
            = form_tag settings_url do

              %li.list-group-item
                .col-md-6
                  %b= I18n.t 'mongoose_ideal_costs.name', scope: 'activerecord.attributes.settings'
                  %p= I18n.t 'mongoose_ideal_costs.description', scope: 'activerecord.attributes.settings'

                .col-md-6
                  %input.form-control{ :id => 'options_mongoose_ideal_costs', :name => 'mongoose_ideal_costs', :value => Settings.mongoose_ideal_costs, :placeholder => '' }

              %li.list-group-item
                .col-md-6
                  %b= I18n.t 'liquor_time.name', scope: 'activerecord.attributes.settings'
                  %p= I18n.t 'liquor_time.description', scope: 'activerecord.attributes.settings'

                .col-md-6
                  %input.form-control{ :id => 'options_liquor_time', :name => 'liquor_time', :value => Settings.liquor_time, :placeholder => 'hh:mm' }



              %li.list-group-item
                .col-md-6
                  %b= I18n.t 'begin_study_year.name', scope: 'activerecord.attributes.settings'
                  %p= I18n.t 'begin_study_year.description', scope: 'activerecord.attributes.settings'

                .col-md-6
                  %input.form-control{ :id => 'options_begin_study_year', :name => 'begin_study_year', :value => Settings.begin_study_year, :placeholder => 'yyyy-mm-dd' }


              %li.list-group-item
                .col-md-6
                  %b= I18n.t 'intro_membership.name', scope: 'activerecord.attributes.settings'
                  %p= I18n.t 'intro_membership.description', scope: 'activerecord.attributes.settings'

                .col-md-6
                  %input.form-control{ :id => 'options_intro_membership', :name => 'intro_membership', :value => Settings.intro_membership.join(',') }

              %li.list-group-item
                .col-md-6
                  %b= I18n.t 'intro_activities.name', scope: 'activerecord.attributes.settings'
                  %p= I18n.t 'intro_activities.description', scope: 'activerecord.attributes.settings'

                .col-md-6
                  %input.form-control{ :id => 'options_intro_activities', :name => 'intro_activities', :value => Settings.intro_activities.join(','), :placeholder => 'gescheiden met komma\'s' }


              %li.list-group-item
                .col-md-6
                  %b= I18n.t 'additional_committee_positions.name', scope: 'activerecord.attributes.settings'
                  %p= I18n.t 'additional_committee_positions.description', scope: 'activerecord.attributes.settings'

                .col-md-6
                  %input.form-control{ :id => 'options_additional_committee_positions', :name => 'additional_committee_positions', :value => Settings.additional_committee_positions.join(','), :placeholder => 'gescheiden met komma\'s' }

              %li.list-group-item
                .col-md-6
                  %b= I18n.t 'additional_moot_positions.name', scope: 'activerecord.attributes.settings'
                  %p= I18n.t 'additional_moot_positions.description', scope: 'activerecord.attributes.settings'

                .col-md-6
                  %input.form-control{ :id => 'options_additional_moot_positions', :name => 'additional_moot_positions', :value => Settings.additional_moot_positions.join(','), :placeholder => 'gescheiden met komma\'s' }


      .col-md-6
        = form_for :admin, :url => profile_settings_path, method: :patch, :class => 'form-validation' do |f|
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-user
              Admin gegevens
            .panel-body
              = f.hidden_field :id, :value => @admin.id, :class => 'id'

              .form-group
                .row
                  .col-md-5
                    %label{for: ''} Voornaam
                    = f.text_field :first_name, :value => @admin.first_name, :class => 'form-control'
                  .col-md-2
                    %label{for: ''} Tussenvoegsel
                    = f.text_field :infix, :value => @admin.infix, :class => 'form-control'
                  .col-md-5
                    %label{for: ''} Achternaam
                    = f.text_field :last_name, :value => @admin.last_name, :class => 'form-control'

              .form-group#mail
                %label{for: ''} Ondertekening
                = render 'layouts/editor'

                #textarea.form-control{ :contenteditable => 'true' }
                  :preserve
                    #{@admin.signature}

                = f.text_area :signature, :rows => 8, :value => @admin.signature, :class => 'form-control', :id => 'html'

              %button.btn.btn-success{type: 'submit'} Opslaan

        - if @advert.errors.any?
          .alert.alert-danger
            %button.close{ type: "button" } ×
            %span Oh snap, niet alles is goed ingevuld;
            %ul
            - @advert.errors.full_messages.each do |msg|
              %li= msg

        .panel.panel-default#advertisements
          .panel-heading
            %i.fa.fa-fw.fa-fw.fa-desktop
            Advertenties
          .table-responsive
            %table.table.table-bordered.table-striped.table-linked

              - @advertisements.each do |advertisement|
                %tr{ :data => { 'id' => advertisement.id }}
                  %td
                    = advertisement.name
                    = link_to "#{advertisement.poster.url}", advertisement.poster.url, :download => ''
                  %td.buttons
                    .btn-group
                      %button.btn.btn-default.destroy
                        %i.fa.fa-fw.fa-trash-o

          = form_for :advertisement, url: advertisement_settings_path, method: :post, :class => 'form-validation' do |f|
            .form-group
              .input-group
                = f.text_field :name, { :class => 'form-control', :placeholder => 'Omschrijving' }
                .input-group-btn
                  %div.btn.btn-primary.file-input-wrapper
                    %span Uploaden
                    = f.file_field :poster, { 'data-ui-file-upload' => '' }
                  %button.btn.btn-success.wait{type: 'submit'} Opslaan

        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-rocket
            Externe applicaties
          %table.table.table-striped.table-linked
            - @applications.each do |application|
              %tr
                %td= link_to application.name, application.redirect_uri
                %td= application.redirect_uri

:javascript
  $(document).on('ready page:load', function(){  
    $('form').editor();
  });
