- content_for(:page, 'settings')
- content_for(:subpage, 'logs')
- content_for(:title, 'Logs')

%section#content
  = render 'layouts/partials/search'

  .page.page-table
    %section.panel.panel-default.table-dynamic
      .table-responsive
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th
                .th
                  Datum
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Gebruiker
              %th
                .th
                  Object
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Actie
              %th
                .th
                  IP-adres

          - @impressions.each do |impression|
            %tr
              %td= I18n.l impression.created_at
              %td
                - if !impression.user_id.nil?
                  = User.find( impression.user_id ).email
              %td
                - if impression.impressionable.nil?
                  = impression.impressionable_type
                - else
                  - case impression.impressionable_type
                  - when 'Member', 'Group', 'Activity'
                    = link_to impression.impressionable.name, impression.impressionable
                  - when 'Participant'
                    = link_to impression.impressionable.activity.name, impression.impressionable.activity, :class => 'inline'

                    - if impression.impressionable.member.present?
                      = link_to impression.impressionable.member.name, impression.impressionable.member, :class => 'inline'
                  - when 'GroupMember'
                    = link_to impression.impressionable.group.name, impression.impressionable.group, :class => 'inline'

                    - if impression.impressionable.member.present?
                      = link_to impression.impressionable.member.name, impression.impressionable.member, :class => 'inline'
                  - else
                    = impression.controller_name

              %td
                - if impression.impressionable.nil?
                  - if !impression.message.nil?
                    = impression.message
                  - else
                    = I18n.t 'admin.logs.impressionable.deleted'
                - else
                  - if impression.impressionable_type == 'GroupMember'
                    = impression.impressionable.log_action(impression.action_name)
                  - else
                    = I18n.t impression.action_name, scope: [ :activerecord, :attributes, :impression, impression.impressionable_type.downcase]

              %td= impression.ip_address


      %footer.table-footer
        .row
          .col-md-6.page-num-info.hidden-xs{ :data => { :limit => @limit, :pagination => 4, :search => @search, :all => @all } }
            %span
              Toon
              = select_tag 'limit', options_for_select([20,50,100], @limit)
              regels per pagina

          .col-md-6.text-right.pagination-container
            %ul.pagination-sm.pagination
              %li{ :class => ( 'disabled' if @offset == 0)}
                %a{ :data => { :offset => @offset - @limit < 0 ? 0 : @offset - @limit }} vorige

              %li{ :class => ( 'disabled' if @offset + @limit >= @total_log_items )}
                %a{ :data => { :offset => @offset + @limit }} volgende
