- content_for(:page, 'activities')
- content_for(:title, I18n.t('admin.activities.title'))

%section#content

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token} }
    .row
      .col-md-6
        = render 'admin/activities/partials/edit', activity_textfield: I18n.t('admin.activities.new'), url: activities_path, method: :post

      .col-md-6
        .card
          .card-header.year
            %i.fa.fa-fw.fa-ticket-alt
            = I18n.t('admin.activities.title')
            = select_tag :year, options_for_select( @years, params['year'] )
          %table.table.table-striped.table-linked#activity_table
            %tbody
              - @activities.each do |activity|
                %tr
                  %td= link_to activity.name, activity

                  - if !activity.group.nil?
                    %td
                      - if activity.group.board?
                        %span.badge.badge-primary= activity.group.name.upcase
                      - elsif activity.group.committee?
                        %span.badge.badge-success= activity.group.name.upcase
                      - else
                        %span.label.badge-warning= activity.group.name.upcase
                  - else
                    %td
                      %span



                  %td.d-none.d-md-block= link_to I18n.l(activity.start_date, :format => :day_month), activity

                  - if activity.ended?
                    %td.d-none.d-md-block
                      %span.badge.badge-info
                        = I18n.t('admin.activities.ended')
                  - else
                    %td.d-none.d-md-block
                      %span
