- content_for(:page, 'activities')
- content_for(:title, 'Constipated koala | activiteiten')

%section#content
  = render 'layouts/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token} }
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-ticket
            Niet betaalde activiteiten

          .panel-body#participants.filtered-search
            - @detailed.each do |activity|
              %table.table.table-striped.table-linked{ :data => { 'id' => activity.id } }
                %thead
                  %tr{ :style => 'font-size: 1.1em;' }
                    %td{ :colspan => 3 }= link_to "#{activity.name}", activity, :style => 'left: -10px; position: relative;'

                %tbody
                  - activity.participants.joins(:member).order('members.first_name', 'members.last_name').where(:paid => false).each do |participant|
                    - if !participant.currency.nil? && participant.currency > 0
                      %tr{ :class => ('red' unless participant.currency.nil? || participant.paid), :data => { :'activities-id' => activity.id, :id => participant.id, :email => participant.member.email, :name => participant.member.name } }
                        %td= link_to "#{participant.member.name}", participant.member

                        - if !participant.currency.nil?
                          %td= link_to "#{number_to_currency(participant.currency, :unit => '€')}", participant.member

                        %td.buttons
                          .btn-group
                            - if participant.paid
                              %button.btn.btn-primary.unpaid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 )}
                                %i.fa.fa-fw.fa-check
                            - else
                              %button.btn.btn-warning.paid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 )}
                                %i.fa.fa-fw.fa-times
                            %button.btn.btn-default.destroy
                              %i.fa.fa-fw.fa-trash-o

      .col-md-6
        = render 'layouts/activity', activity_textfield: t('Nieuwe Activiteit'), url: activities_path, method: :post
        .panel.panel-default
          .panel-heading.year
            %i.fa.fa-fw.fa-ticket
            Activiteiten
            .ui-select
              = select_tag :year, options_for_select( @years, params['year'] )

          %table.table.table-striped.table-linked
            %tbody
              - @activities.each do |activity|
                %tr
                  %td= link_to "#{activity.name}", activity

                  - if !activity.group.nil?
                    %td.hidden-sm
                      - if activity.group.board?
                        %span.label.label-primary= activity.group.name.upcase
                      - elsif activity.group.committee?
                        %span.label.label-success= activity.group.name.upcase
                      - else
                        %span.label.label-warning= activity.group.name.upcase
                  - else
                    %td.hidden-sm

                  %td.hidden-xs= link_to "#{I18n.l(activity.start_date, :format => :day_month)}", activity
