- content_for(:page, 'activities')
- content_for(:title, "Activiteiten | #{@activity.name}")
- content_for(:template, 'activities/activity.html.js')

%section#content

  .page
    .row
      .col-md-6
        = render 'admin/activities/partials/edit', activity_textfield: 'Activiteit', url: activity_path(@activity), method: :patch
        = render 'layouts/partials/mail', mail: 'participants/inform', subject: @activity.name, recipients: @recipients, id: @activity.id

      .col-md-6#participants
        .card
          .card-header
            %i.fa.fa-fw.fa-user

            %span#attendeecount
              -if @activity.participant_limit.nil?
                = @activity.attendees.count
              -else
                = "#{@activity.attendees.count}/#{@activity.participant_limit}"
            = t 'activerecord.models.participants.attendees.other'


          %template#attendee-table-row
            %tr.in-debt{"data-data-activities-id" => "2", "data-email" => "{3}", "data-id" => "{0}", "data-reservist" => "false"}
              %td
                %a{:href => "/members/{1}"}
                  {2}
              %td.price-input-td
                %input.price{:autocomplete => "off", :type => "text", :value => "10.00"}
              %td.notes-td
              %td.buttons
                .btn-group
                  %button.btn.btn-warning.paid
                    %i.fa.fa-fw.fa-times
                  %button.btn.btn-light.destroy
                    %i.fa.fa-fw.fa-trash

          %table#participants-table.table.table-striped.table-linked{ :data => { 'id' => @activity.id }}
            %thead
              %tr
                %td Naam
                %td Prijs

                -if @activity.notes
                  %td= @activity.notes

                %td.buttons

            %tbody
              - @attendees.each do |participant|
                %tr{ :class => ('in-debt' unless participant.currency.nil? || participant.currency == 0 || participant.paid), :data => { :id => participant.id || '{0}', :'data-activities-id' => @activity.id, :email => participant.member.email || '{3}', reservist: participant.reservist.to_s || 'false' }  }
                  %td
                    - if participant.member_id.nil?
                      = I18n.t('former', scope: 'activerecord.attributes.group')
                    - else
                      = link_to participant.member.name, participant.member

                  %td
                    %input.price{ :type => 'text', :value => number_to_currency(participant.currency, :unit => ''), :autocomplete=>'off'}

                  - if @activity.notes
                    %td
                      - if participant.notes
                        = participant.notes

                  %td.buttons
                    .btn-group
                      - if participant.paid
                        %button.btn.btn-primary.unpaid{ :class => ('d-none' if participant.currency.nil? || participant.currency == 0 ) }
                          %i.fa.fa-fw.fa-check
                      - else
                        %button.btn.btn-warning.paid{ :class => ('d-none' if participant.currency.nil? || participant.currency == 0)}
                          %i.fa.fa-fw.fa-times
                      %button.btn.btn-light.destroy
                        %i.fa.fa-fw.fa-trash


              %tr
                %td
                  %input#participant.col-md-11{ :tabindex => '-1' }
                  %ul.dropdown-menu.col-md-11
                %td
                  - if !@activity.price.nil?
                    %span= number_to_currency(@activity.price, :unit => '€')
                %td{ colspan: ('2' if @activity.notes)}


        .card
          .card-header
            %i.fa.fa-fw.fa-user
            %span#reservistcount= @activity.reservists.count
            Reserves

          %table#reservists-table.table.table-striped.table-linked{ :data => { 'id' => @activity.id }}
            %thead
              %tr
                %td
                  Naam
                %td
                  Prijs
                %td
                  -if @activity.notes
                    =@activity.notes
                %td.buttons

            %tbody
              - @reservists.each do |participant|
                %tr{data: { id: participant.id, :'data-activities-id' => @activity.id, email: participant.member.email, member_id: participant.member.id, reservist: "true" }  }
                  %td= link_to "#{participant.member.name}", participant.member
                  %td
                    %input.price{ :type => 'text', :value => number_to_currency(participant.currency, :unit => '')}

                  -if @activity.notes
                    %td
                      -if participant.notes
                        = participant.notes

                  %td.buttons
                    .btn-group
                      %button.btn.btn-success.toparticipant
                        %i.fa.fa-fw.fa-plus
                      %button.btn.btn-light.destroy
                        %i.fa.fa-fw.fa-trash
