- content_for(:page, 'activities')
- content_for(:title, "#{I18n.t('admin.activities.title')} | #{@activity.name}")
- content_for(:template, 'activities/activity.html.js')

%section#content

  .page{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-md-6
        = render 'admin/activities/partials/edit', activity_textfield: I18n.t('admin.activities.single'), url: activity_path(@activity), method: :patch
        = render 'layouts/partials/mail', mail: 'participants/inform', subject: @activity.name, recipients: @recipients, id: @activity.id

      .col-md-6#participants
        .card
          .card-header
            %i.fa.fa-fw.fa-user
            -if @activity.participant_limit.nil?
              - fullness = @activity.attendees.count + @reservists.count
            -else
              - fullness = "#{@activity.attendees.count}/#{@activity.participant_limit}"
            %span#attendeecount
              = fullness
            = t 'activerecord.models.participants.attendees.other'
            %span#pricesum= " / €"+(number_with_precision(@activity.price_sum, :precision => 2) || 0)
            %span#paidsum= "€"+(number_with_precision(@activity.paid_sum, :precision => 2) || 0)


          %template#attendee-table-row
            = render 'admin/activities/partials/attendee_table_row', participant: Participant.new(activity: @activity, member: Member.new)
          %table#participants-table.table.table-striped.table-linked{ :data => { 'id' => @activity.id }}
            %thead
              %tr
                %td{ :style => 'min-width: 30%; width: 30%;' }
                  = I18n.t('activerecord.attributes.activity.name')
                %td{ :style => 'padding: 0px; min-width: 10%; width: 10%; text-align:left;' }
                  = I18n.t('activerecord.attributes.activity.price')
                - if !@is_summarized.nil?
                  %td
                    = I18n.t('activerecord.attributes.activity.notes')
                  %td
                    = I18n.t('activerecord.attributes.activity.member_payed')
                  %td
                    = I18n.t('activerecord.attributes.activity.member_is_spare')
            %tbody
              - [@attendees.map {|participant| {"entity" => participant, "is_reservist" => false}},
                 @reservists.map{| reservist | {"entity" => reservist,   "is_reservist" => true}}].reduce([], :concat).each do |member|
                - if !@is_summarized.nil?
                  = render 'admin/activities/partials/attendee_table_row_summary', member: member
                - elsif !member["is_reservist"]
                  = render 'admin/activities/partials/attendee_table_row', participant: member["entity"]

              - if (@activity.end_date || @activity.start_date) > Date.today
                - @activity.participants.where(:member_id => nil).each do |participant|
                  %tr{ :class => ('in-debt' unless participant.currency.nil? || participant.currency == 0 || participant.paid), :data => { :id => participant.id, :'data-activities-id' => @activity.id, reservist: 'false' }  }
                    %td
                      %span= I18n.t('former', scope: 'activerecord.attributes.group')

                    %td.price-input-td{:style => 'padding: 0px; min-width: 10%; width: 10%; text-align:left;' }
                      %input.price{ :type => 'text', :value => number_to_currency(participant.currency, :unit => ''), :autocomplete=>'off'}
                    %td.notes-td
                    %td.buttons
                      .btn-group
                        - if participant.paid
                          %button.btn.btn-primary.unpaid{ :class => ('d-none' if participant.currency.nil? || participant.currency == 0 ) }
                            %i.fa.fa-fw.fa-check
                        - else
                          %button.btn.btn-warning.paid{ :class => ('d-none' if participant.currency.nil? || participant.currency == 0)}
                            %i.fa.fa-fw.fa-times
                        %button.btn.btn-danger.destroy
                          %i.fa.fa-fw.fa-trash

              %tr
                %td{ :style => 'position: relative;'}
                  %input#participant.col-md-11{ :style => 'margin-left: -3px;', :tabindex => '-1' }
                  %ul.dropdown-menu.col-md-11
                %td{ :style => 'text-align: left;' }
                  - if !@activity.price.nil?
                    %span= number_to_currency(@activity.price, :unit => '€')
                %td
                %td

        - if @is_summarized.nil?
          .card
            .card-header
              %i.fa.fa-fw.fa-user
              %span#reservistcount
                = @activity.reservists.count
                = I18n.t('activerecord.models.participants.reservists.other')

            %table#reservists-table.table.table-striped.table-linked{ :data => { 'id' => @activity.id }}
              %thead
                %tr
                  %td
                    = I18n.t('activerecord.attributes.activity.name')
                  %td{ :style => 'padding: 0px; min-width: 10%; width: 10%; text-align:left;' }
                    = I18n.t('activerecord.attributes.activity.price')
                  %td{ :style => 'min-width: 50%; width: 50%;' }
                    -if @activity.notes
                      =@activity.notes
                  %td.buttons

              %tbody
                - @reservists.each do |participant|
                  %tr{data: { id: participant.id, :'data-activities-id' => @activity.id, email: participant.member.email, member_id: participant.member.id, reservist: "true" }  }
                    %td= link_to "#{participant.member.name}", participant.member
                    %td{ :style => 'padding: 0px; min-width: 10%; width: 10%;' }
                      %input.price{ :type => 'text', :value => number_to_currency(participant.currency, :unit => '')}
                    %td.notes-td{ :style => 'min-width: 50%; width: 50%;' }
                      -if participant.notes
                        %p= participant.notes
                      -else
                        %p

                    %td.buttons
                      .btn-group
                        %button.btn.btn-success.toparticipant
                          %i.fa.fa-fw.fa-plus
                        %button.btn.btn-default.destroy
                          %i.fa.fa-fw.fa-trash
