- content_for(:page, 'activities')
- content_for(:title, "Activiteiten | #{@activity.name}")
- content_for(:template, 'activities/activity.html.js')

%section#content
  = render 'layouts/partials/search'

  .page{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-md-6
        = render 'admin/activities/partials/edit', activity_textfield: 'Activiteit', url: activity_path(@activity), method: :patch
        = render 'layouts/partials/mail', mail: 'participants/inform', subject: @activity.name, recipients: @recipients, id: @activity.id

      .col-md-6#participants
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-user
            -if @activity.participant_limit.nil?
              - fullness = @activity.attendees.count
            -else
              - fullness = "#{@activity.attendees.count}/#{@activity.participant_limit}"
            %span#attendeecount
              = fullness
            = t 'activerecord.models.participants.attendees.other'
            %span#pricesum= " / €"+(number_with_precision(@activity.price_sum, :precision => 2) || 0)
            %span#paidsum= "€"+(number_with_precision(@activity.paid_sum, :precision => 2) || 0)


          %template#attendee-table-row
            = render 'admin/activities/partials/attendee_table_row', participant: Participant.new(activity: @activity, member: Member.new)
          %table#participants-table.table.table-striped.table-linked{ :data => { 'id' => @activity.id }}
            %thead
              %tr
                %td{ :style => 'text-align:left;' }
                  Naam
                %td{ :style => 'padding: 0px; min-width: 10%; width: 10%; text-align:left;' }
                  Prijs
                %td{ :style => 'min-width: 50%; width: 50%;' }
                  -if @activity.notes
                    =@activity.notes
                %td.buttons
            %tbody
              - @attendees.each do |participant|
                = render 'admin/activities/partials/attendee_table_row', participant: participant

              %tr
                %td{ :style => 'position: relative;'}
                  %input#participant.col-md-11{ :style => 'margin-left: -3px;', :tabindex => '-1' }
                  %ul.dropdown-menu.col-md-11
                %td{ :style => 'text-align: left;' }
                  - if !@activity.price.nil?
                    %span{ :style => 'line-height: 39px; margin-left: 8px;' }= number_to_currency(@activity.price, :unit => '€')
                  - else
                    %span{ :style => 'line-height: 39px; margin-left: 8px;' } -
                %td
                %td

        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-user
            %span#reservistcount= @activity.reservists.count
            Reserves

          %table#reservists-table.table.table-striped.table-linked{ :data => { 'id' => @activity.id }}
            %thead
              %tr
                %td
                  Naam
                %td{ :style => 'padding: 0px; min-width: 10%; width: 10%; text-align:left;' }
                  Prijs
                %td{ :style => 'min-width: 50%; width: 50%;' }
                  -if @activity.notes
                    =@activity.notes
                %td.buttons

            %tbody
              - @reservists.each do |participant|
                %tr{data: { id: participant.id, :'data-activities-id' => @activity.id, email: participant.member.email, member_id: participant.member.id, reservist: "true" }  }
                  %td= link_to "#{participant.member.name}", participant.member
                  %td{ :style => 'padding: 0px; min-width: 10%; width: 10%;' }
                    %input.price{ :type => 'text', :value => number_to_currency(participant.currency, :unit => '')}
                  %td.notes-td{ :style => 'min-width: 50%; width: 50%;' }
                    -if participant.notes
                      %p= participant.notes
                    -else
                      %p

                  %td.buttons
                    .btn-group
                      %button.btn.btn-success.toparticipant
                        %i.fa.fa-fw.fa-plus
                      %button.btn.btn-default.destroy
                        %i.fa.fa-fw.fa-trash-o
