- content_for(:page, 'activities')
- content_for(:title, "Constipated koala | activiteiten | #{@activity.name}")
- content_for(:template, 'activities/activity.html.js')

= render 'admin/activities/activity.html.js'

%section#content
  = render 'layouts/search'

  .page{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-md-6
        = form_for :activity, url: activity_path(@activity), method: :patch, :class => 'form-validation' do |f|
          - if @activity.errors.any?
            .alert.alert-danger
              %button.close{ type: "button" } ×
              %span Oeps, niet alles is goed ingevuld;
              %ul
              - @activity.errors.full_messages.each do |msg|
                %li= msg


          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-ticket
              Activiteit
            .panel-body
              .form-group
                .row
                  .col-md-8
                    = label(:activity, :name)
                    = f.text_field :name, :value => @activity.name, :class => 'form-control'
                  .col-md-4
                    = label(:activity, :price)
                    = f.text_field :price, :value => number_to_currency(@activity.price, :unit => ''), :class => 'form-control'

              .form-group.poster
                .row
                  .col-md-12
                    = label(:activity, :description)
                    = f.text_area :description, :value => @activity.description, :class => 'form-control', :rows => 8

              .form-group.poster
                .row
                  .col-md-12
                    = label(:activity, :poster)
                    .input-group
                      %input#output.form-control{ :readonly => '', :value => ("#{@activity.poster.url(:medium)}" if !@activity.poster_file_name.nil?) }

                      .input-group-btn
                        %div.btn.btn-primary.file-input-wrapper
                          %span uploaden
                          = f.file_field :poster, { 'data-ui-file-upload' => '' }
                        %button.btn.btn-primary.dropdown-toggle{ 'data-toggle' => 'dropdown', :type => 'button', :class => ( 'disabled' if @activity.poster_file_name.nil? ) }
                          %span.caret
                        %ul.dropdown-menu
                          %li
                            = link_to 'download', @activity.poster.url(:medium), :download => ''
                          %li.divider
                          %li
                            = link_to 'verwijder', '#', :class => 'remove'

                    = f.hidden_field :_destroy, :class => 'remove_poster'

              %span.poster.hidden-xs
                - if !@activity.poster_file_name.nil?
                  =image_tag @activity.poster.url(:thumb)

              .form-group
                .row
                  .col-md-4
                    = label(:activity, :start_date)
                    = f.date_field :start_date, :value => @activity.start_date, :class => 'form-control'
                  .col-md-4
                    = label(:activity, :end_date)
                    = f.date_field :end_date, :value => @activity.end_date, :class => 'form-control'
                  .col-md-4
                    = label(:activity, :organized_by)
                    .ui-select
                      = f.select :organized_by, options_for_select(Group.has_members.order(:category, :name).map{ |group| [group.name, group.id] }, @activity.organized_by), :include_blank => '-'


              .form-group
                = label(:activity, :comments)
                = f.text_area :comments, :value => @activity.comments, :class => 'form-control'

              %button.btn.btn-success.wait{type: 'submit'} Opslaan
              = link_to 'Back', :back, { :class => 'button btn btn-default' }
              = link_to 'Verwijderen', activity_path(@activity.id), { :class => 'button btn btn-danger pull-right', 'data-method' => :delete }

        = render 'layouts/mail', mail: 'participants/inform', subject: @activity.name, recipients: @recipients, id: @activity.id

      .col-md-6#participants
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-user
            %span.number= @activity.participants.count
            deelnemers

          %table.table.table-striped.table-linked{ :data => { 'id' => @activity.id }}
            %tbody
              - @activity.participants.joins(:member).order('members.first_name', 'members.last_name').each do |participant|
                %tr{ :class => ('red' unless participant.currency.nil? || participant.currency == 0 || participant.paid), :data => { :id => participant.id, :'data-activities-id' => @activity.id, :email => participant.member.email }  }
                  %td= link_to "#{participant.member.name}", participant.member

                  %td{ :style => 'padding: 0px; min-width: 60%; width: 25%;' }
                    %input.price{ :type => 'text', :value => number_to_currency(participant.currency, :unit => '')}
                  %td.buttons
                    .btn-group
                      - if participant.paid
                        %button.btn.btn-primary.unpaid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 )}
                          %i.fa.fa-fw.fa-check
                      - else
                        %button.btn.btn-warning.paid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 )}
                          %i.fa.fa-fw.fa-times
                      %button.btn.btn-default.destroy
                        %i.fa.fa-fw.fa-trash-o

              %tr
                %td{ :style => 'position: relative;'}
                  %input#participant.col-md-11{ :style => 'margin-left: -3px;', :tabindex => '-1' }
                  %ul.dropdown-menu.col-md-11
                %td{ :style => 'text-align: left;' }
                  - if !@activity.price.nil?
                    %span{ :style => 'line-height: 39px; margin-left: 8px;' }= number_to_currency(@activity.price, :unit => '€')
                  - else
                    %span{ :style => 'line-height: 39px; margin-left: 8px;' } -
                %td
