- content_for(:title, "Constipated koala | #{@member.name}")

.navbar.navbar-default.navbar-fixed-top
  %ul.nav-right.list-unstyled
    %li.dropdown
      = link_to '#', { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' }
        .image
          =image_tag "https://secure.gravatar.com/avatar/#{current_user.gravatar}?d=mm&s=40", :class => 'img-circle'
        %h1= @member.name
        %i.fa.fa-bars.pull-right
        
        %ul.dropdown-menu
          %li
            = link_to 'Gegevens bewerken', users_edit_path
          %li
            = link_to 'Uitloggen', '/sign_out', { 'data-method' => :delete }
            
            

= form_for :member, method: :patch, :class => 'form-validation' do |f|
  .row{ :style => 'margin-top: 60px;'}
    .container  
      - if @member.errors.any?
        .col-md-12
          .alert.alert-danger
            %button.close{ type: "button" } ×
            %span Oh snap, niet alles is goed ingevuld;
            %ul
            - @member.errors.full_messages.each do |msg|
              %li= msg
      
      .col-md-12
        .form-group
          .row
            .col-md-5
              %label{for: ''} Voornaam
              = f.text_field :first_name, :value => @member.first_name, :class => 'form-control'
            .col-md-2
              %label{for: ''} Tussenvoegsel
              = f.text_field :infix, :value => @member.infix, :class => 'form-control'
            .col-md-5
              %label{for: ''} Achternaam
              = f.text_field :last_name, :value => @member.last_name, :class => 'form-control'
        
        .form-group
          .row
            .col-md-6
              %label{for: ''} Geslacht
              .ui-select
                = f.select :gender, options_for_select([["MAN", "m"], ["VROUW", "f"]], @member.gender)
            .col-md-6
              %label{for: ''} Geboortedatum
              = f.date_field :birth_date, :value => @member.birth_date, :class => 'form-control'
        
        .form-group
          .row
            .col-md-8
              %label{for: ''} Adres
              = f.text_field :address, :value => @member.address, :class => 'form-control'
            .col-md-4
              %label{for: ''} Huisnummer
              = f.text_field :house_number, :value => @member.house_number, :class => 'form-control'
        
        .form-group
          .row
            .col-md-6
              %label{for: ''} Postcode
              = f.text_field :postal_code, :value => @member.postal_code, :class => 'form-control'
            .col-md-6
              %label{for: ''} Woonplaats
              = f.text_field :city, :value => @member.city, :class => 'form-control'
        
        .form-group
          %label{for: ''} Telefoonnummer
          = f.telephone_field :phone_number, :value => @member.phone_number, :class => 'form-control'
        
        .form-group
          %label{for: ''} E-mailadres
          = f.email_field :email, :value => @member.email, :class => 'form-control'
          .help-block Dit kan niet een uu email zijn!
                              
  .row
    .container
      .col-md-12
        %button.btn.btn-success{type: 'submit'} Opslaan
        = link_to 'Annuleren', users_root_path, { :class => 'button btn btn-default' }
