- content_for(:title, "Constipated koala | #{@member.name}")

%header


%section.light
  .col-sm-12
    .panel.text-center
      =image_tag "https://secure.gravatar.com/avatar/#{current_user.gravatar}?d=mm&s=250", :class => 'img-circle'
    
      %h1
        #{@member.name}
      %p 
        #{@member.phone_number}
        %br
        #{@member.email}
 
= link_to 'Persoonsgegevens wijzigen', users_edit_path, { :class => 'button btn btn-primary' }
= link_to 'Mongoose opwaarderen', users_edit_path, { :class => 'button btn btn-info' }
/ form plaatsen

= link_to 'Uitloggen', '/sign_out', { :class => 'button btn btn-info', 'data-method' => :delete }
