- content_for(:title, "Constipated koala | #{@member.name}")

%section
  .page.page-for
    .row{ :style => 'margin-top: 50px;'}

      .col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-user
          .panel-body

            = link_to "https://secure.gravatar.com/profile/#{current_user.gravatar}" do
              =image_tag "https://secure.gravatar.com/avatar/#{current_user.gravatar}?d=mm&s=200"

            %p
              %i.fa.fa-envelope-o
              = link_to @member.email, "mailto:#{@member.email}"

            %p
              %i.fa.fa-phone
              = link_to @member.phone_number, "tel:#{@member.phone_number}"

        .row
          - if !@balance.nil?
            .col-md-6
              .panel.panel-box.info-box
                .panel-left.panel-item.bg-info
                  %i.fa.fa-shopping-cart.text-large.stat-icon
                .panel-right.panel-item.bg-reverse
                  %p.size-h2
                    = number_to_currency( @balance.balance, :unit => '' )
                  %p.text-muted Mongoose tegoed
          - else
            .col-md-6
              .panel.panel-box.info-box
                .panel-left.panel-item.bg-success
                  %i.fa.fa-ticket.text-large.stat-icon
                .panel-right.panel-item.bg-reverse
                  %p.size-h2
                    = @member.activities.uniq.count
                  %p.text-muted Activiteiten gedaan

          .col-md-6
            .panel.panel-box.info-box
              .panel-left.panel-item.bg-warning
                %i.fa.fa-ticket.text-large.stat-icon
              .panel-right.panel-item.bg-reverse
                %p.size-h2
                  = number_to_currency( @default, :unit => '' )
                %p.text-muted Openstaande betalingen

      .col-md-6
        .panel.panel-default.table-dynamic
          .panel-heading
            %i.fa.fa-fw.fa-fw.fa-ticket
            Activiteiten

          %table.table.table-striped.table-linked
            %tbody
              - @participants.each do |activity|
                %tr{ :class => ('red' unless activity.currency(@member).nil? || activity.participants.where(:member => @member).first.paid)}
                  %td= activity.name

                  - if !activity.start_date.nil?
                    %td.hidden-xs
                      - if activity.end_date.nil?
                        = I18n.l activity.start_date
                      - else
                        "#{I18n.l activity.start_date} - #{I18n.l activity.end_date}"

                  - if !activity.currency(@member).nil?
                    %td= number_to_currency(activity.currency(@member), :unit => '€')
                  - else
                    %td

                  %td.text-center.hidden-xs
                    - if activity.participants.where(:member => @member).first.paid
                      %span.label.label-success betaald
                    - else
                      %span.label.label-warning niet betaald

      .col-md-6
        = form_for :ideal_transaction, :url => :mongoose, :method=> :post, :class => 'form-validation' do |f|
          .panel.panel-default.table-dynamic
            .panel-heading
              %i.fa.fa-fw.fa-fw.fa-shopping-cart
              Mongoose transacties

            %table.table.table-striped.table-linked
              %tbody
                - @transactions.each do |transaction|
                  %tr
                    %td #{I18n.l transaction.created_at}
                    %td.hidden-sm= transaction.products
                    %td
                      = number_to_currency(transaction.price, :unit => '€')
                      - if transaction.price > 0
                        %span.fa.fa-sort-asc.pull-right
                      - else
                        %span.fa.fa-sort-desc.pull-right


                %tr.form
                  %td
                    = f.number_field :amount, :placeholder => 'tegoed', :min => 1, :pattern => '^\d+(\.|\,)\d{2}$', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'Er wordt €0,45 transactiekosten in rekening gebracht'
                  %td
                    .ui-select{ :style => 'margin-top: 5px;' }
                      = f.select :bank, options_for_select([['ABN AMRO','ABNANL2A'], ['ING BANK', 'INGBNL2A'], ['KNAB', 'KNABNL2H'], ['RABOBANK', 'RABONL2U'], ['SNS BANK', 'SNSBNL2A'], ['ASN BANK','ASNBNL21'], ['REGIOBANK', 'RBRBNL21'], ['TRIODOS BANK','TRIONL2U'], ['VAN LANSCHOT BANKIERS', 'FVLBNL22']])
                  %td
                    %button.btn.btn-success.btn-sm{ :type => 'submit'} opwaarderen
