- content_for(:title, "Constipated koala | #{@member.name}")

/  
  %section#header
  .top-nav      
    =image_tag "https://secure.gravatar.com/avatar/#{current_user.gravatar}?d=mm&s=30", :class => 'img-circle'
    %span #{current_user.email }

    %a{ href: '#' }
      %i.fa.fa-bars

%section
  .col-sm-12
    .panel.text-center
      =image_tag "https://secure.gravatar.com/avatar/#{current_user.gravatar}?d=mm&s=250", :class => 'img-circle'
    
      %h1
        #{@member.name}
      %p 
        #{@member.phone_number}
        %br
        #{@member.email}
 
    = link_to 'Persoonsgegevens wijzigen', users_edit_path, { :class => 'button btn btn-primary ' }
    = link_to 'Mongoose opwaarderen', users_edit_path, { :class => 'button btn btn-primary' }
    / form plaatsen
    
    = link_to 'Uitloggen', '/sign_out', { :class => 'button btn btn-warning', 'data-method' => :delete }

%section
  %ul.posters.col-sm-12
    - @activities.each do |activity|
      %li
        = link_to activity do
          =image_tag 'https://sticky-posters.s3.amazonaws.com/activities/89/medium/Pikken_paupers_borrel.png?1433613679', :alt => activity.name
          %i.fa.fa-external-link