- content_for(:title, "Constipated koala | leden | #{@member.name}")

%section#header
  %header.clearfix
    .logo.hidden-xs
      %a{ href: '/' }
        %span Constipated koala
    .top-nav      
      =image_tag "https://secure.gravatar.com/avatar/#{current_user.gravatar}?d=mm&s=30", :class => 'img-circle'
      %span #{current_user.email }

      %a{ href: '#' }
        %i.fa.fa-bars

%section#content
  .page
    .row
      %div
        .col-sm-12
          .panel.panel-default.text-center
            .panel-body
              =image_tag "https://secure.gravatar.com/avatar/#{current_user.gravatar}?d=mm&s=250", :class => 'img-circle'
            
              %p
                %strong #{@member.name} (#{@member.gender})
                %br
                - if !@member.birth_date.nil?
                  = I18n.l @member.birth_date
              %p 
                #{@member.address} #{@member.house_number} 
                %br
                #{@member.postal_code} #{@member.city}
              %p 
                #{@member.phone_number}
                %br
                #{@member.email}
         
          = link_to 'Persoonsgegevens wijzigen', users_edit_path, { :class => 'button btn btn-primary' }
          = link_to 'Mongoose opwaarderen', users_edit_path, { :class => 'button btn btn-primary' }
          = link_to 'Uitloggen', '/sign_out', { :class => 'button btn btn-warning', 'data-method' => :delete }
         
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-ticket
              Activiteiten
            .panel-body
              %table.table.table-striped.table-linked#participants
                %thead
                  %tr
                    %th Activiteit
                    %th Prijs
                    %th.hidden-xs Datum
                %tbody
                  - @activities.each do |activity|
                    %tr{ :class => ('red' unless activity.currency(@member).nil? || activity.participants.where(:member => @member).first.paid), :data => { :id => activity.participants.where(:member => @member).first.id } }
                      %td= link_to "#{activity.name}", activity
                      
                      - if !activity.currency(@member).nil?
                        %td= link_to "#{number_to_currency(activity.currency(@member), :unit => '€')}", activity
                      - else
                        %td= link_to '-', activity, :style => 'text-decoration: none;'
                      
                      - if !activity.start_date.nil?  
                        - if activity.end_date.nil?
                          %td.hidden-xs= link_to "#{I18n.l activity.start_date}", activity
                        - else
                          %td.hidden-xs= link_to "#{I18n.l activity.start_date} - #{I18n.l activity.end_date}", activity
          
          - if @member.checkout_cards.length > 0
            .panel.panel-default
              .panel-heading
                %i.fa.fa-fw.fa-shopping-cart
                Checkout
              .panel-body                    
                %table.table.table-striped.table-linked#transactions
                  %thead
                    %tr
                      %th Datum
                      %th Prijs
                      %th.hidden-xs Kaart
                  %tbody
                    - @transactions.each do |transaction|
                      %tr
                        %td #{I18n.l transaction.created_at}
                        %td
                          = number_to_currency(transaction.price, :unit => '€')
                          - if transaction.price > 0
                            %span.fa.fa-sort-asc.pull-right{ :style => 'padding-up: 3px;'}
                          - else
                            %span.fa.fa-sort-desc.pull-right
                        
                        %td.hidden-xs
                          - if !transaction.checkout_card.nil?
                            = transaction.checkout_card.uuid
                          - else
                            \-