!!!
%html
  %head
    %title= "Studievereniging Sticky | #{I18n.t(:subscribe, scope: 'headers')}"
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %a#menu-toggle.btn.btn-primary.btn-lg.visible-xs.toggle{href: "#"}
      %i.fa.fa-bars
    #sidebar-wrapper.visible-xs
      %ul.sidebar-nav
        %a#menu-close.btn.btn-default.btn-lg.pull-right.toggle{href: "#"}
          %i.fa.fa-times
        %li.sidebar-brand
          = t '.title'
        %li
          %a{href: "#top"}= I18n.t(:home, scope: 'headers')
        %li
          %a{href: "#over"}= I18n.t(:about, scope: 'headers')
        %li
          %a{href: "#doenwat"}= I18n.t(:activities, scope: 'headers')
        %li
          %a{href: "#inschrijven"}= I18n.t(:subscribe, scope: 'headers')
        %li
          %a{href: "#contact"}= I18n.t(:contact, scope: 'headers')

    - if flash[:notice]
      .container{ :style => 'position: fixed; z-index: 2; width: 100%; top: 10px;' }
        .alert.alert-success.center-block{ :style => 'width: 500px;' }
          %button.click.close{ type: 'button' } ×
          .notice= flash[:notice]


    .languages{ :style => 'position: absolute; z-index: 2'}
      = link_to image_tag('nl.png', { :style => 'height: 15px; width: 25px;' }), '/?l=nl', { :style => 'margin: 10px; float:left; '}
      = link_to image_tag('gb.png', { :style => 'height: 15px; width: 25px;' }), '/?l=en', { :style => 'margin: 10px; margin-left: 0px; float:left;'}

    .header-bg
    #top.header
      .vert-text
        %h1= I18n.t('.title')
        %br
        %a.btn.btn-default.btn-lg{href: "#over"}= I18n.t(:about, scope: 'headers')
        %a.btn.btn-success.btn-lg{href: "#inschrijven"}= I18n.t(:subscribe, scope: 'headers')

    #over.intro
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            %h2= I18n.t(:sticky, scope: 'headers')
            %p.lead= I18n.t(:lead)

    #doenwat.services
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            %h2= I18n.t(:activities, scope: 'headers')
            %hr
        .row
          .col-md-2.col-md-offset-2.text-center
            .service-item
              %i.service-icon.fa.fa-group
              %h4= I18n.t(:title, scope: 'gezelligheid')
              %p= I18n.t(:text, scope: 'gezelligheid')
          .col-md-2.text-center
            .service-item
              %i.service-icon.fa.fa-rocket
              %h4= I18n.t(:title, scope: 'activities')
              %p= I18n.t(:text, scope: 'activities')
          .col-md-2.text-center
            .service-item
              %i.service-icon.fa.fa-book
              %h4= I18n.t(:title, scope: 'orientation')
              %p= I18n.t(:text, scope: 'orientation')
          .col-md-2.text-center
            .service-item
              %i.service-icon.fa.fa-glass
              %h4= I18n.t(:title, scope: 'drinks')
              %p= I18n.t(:text, scope: 'drinks')

    #callout-overlay.vert-text
      %h2= I18n.t('.callout')
    #callout.carousel.slide{:data => {'data-ride' => 'carousel'}}
      .carousel-inner
        #item1.item.active
        #item2.item
        #item3.item
        #item4.item
        
    #inschrijven.portfolio
      .container
        = form_for :member, url: public_path, method: :post, :class => 'form-validation' do |f|
          .row
            - if @member.errors.any?
              .alert.alert-danger
                %button.click.close{ type: 'button' } ×
                %span= I18n.t(:incomplete, scope: 'activerecord.errors')
                %ul
                - @member.errors.full_messages.uniq.each do |msg|
                  %li= msg
            %h4
              %i.fa.fa-user
              = I18n.t(:general, scope: 'headers')

            .form-group
              = f.hidden_field :join_date, :value => Time.new
              .row
                .col-md-5
                  %label{for: ''}= I18n.t(:first_name, scope: 'activerecord.attributes.member')
                  = f.text_field :first_name, :value => @member.first_name, :class => 'form-control'
                .col-md-2
                  %label{for: ''}= I18n.t(:infix, scope: 'activerecord.attributes.member')
                  = f.text_field :infix, :value => @member.infix, :class => 'form-control'
                .col-md-5
                  %label{for: ''}= I18n.t(:last_name, scope: 'activerecord.attributes.member')
                  = f.text_field :last_name, :value => @member.last_name, :class => 'form-control'
            .form-group
              .row
                .col-md-6
                  %label{for: ''}= I18n.t(:gender, scope: 'activerecord.attributes.member')
                  .ui-select
                    = f.select :gender, options_for_select([['MAN', 'm'], ['VROUW', 'f']], @member.gender)
                .col-md-6
                  %label{for: ''}= I18n.t(:birth_date, scope: 'activerecord.attributes.member')
                  = f.date_field :birth_date, :value => @member.birth_date, :class => 'form-control'
            .form-group
              .row
                .col-md-8
                  %label{for: ''}= I18n.t(:address, scope: 'activerecord.attributes.member')
                  = f.text_field :address, :value => @member.address, :class => 'form-control'
                .col-md-4
                  %label{for: ''}= I18n.t(:house_number, scope: 'activerecord.attributes.member')
                  = f.text_field :house_number, :value => @member.house_number, :class => 'form-control'
            .form-group
              .row
                .col-md-6
                  %label{for: ''}= I18n.t(:postal_code, scope: 'activerecord.attributes.member')
                  = f.text_field :postal_code, :value => @member.postal_code, :class => 'form-control'
                .col-md-6
                  %label{for: ''}= I18n.t(:city, scope: 'activerecord.attributes.member')
                  = f.text_field :city, :value => @member.city, :class => 'form-control'
            .form-group
              %label{for: ''}= I18n.t(:phone_number, scope: 'activerecord.attributes.member')
              = f.telephone_field :phone_number, :value => @member.phone_number, :class => 'form-control'
            .form-group
              %label{for: ''}= I18n.t(:email, scope: 'activerecord.attributes.member')
              = f.email_field :email, :value => @member.email, :class => 'form-control'
              .help-block= I18n.t('email', scope: 'activerecord.annotations.member')
                    
          .row
            .col-md-5
              %h4
                %i.fa.fa-graduation-cap
                = I18n.t(:study, scope: 'headers')
              
              .form-group
                %label{for: ''}= I18n.t(:student_id, scope: 'activerecord.attributes.member')
                = f.text_field :student_id, :value => @member.student_id, :class => 'form-control'
              
              .form-group.studies
                %label{for: ''}
                  = I18n.t(:study, scope: 'activerecord.models')
                    
                - @member.educations.each do |education|
                  = f.fields_for 'educations_attributes[]', education do |fs|
                    .form-group
                      .row
                        .col-md-12
                          .ui-select
                            = fs.select :study_id, options_for_select(Study.where( :active => true ).map{|s| [ I18n.t(s.code.downcase, scope: 'activerecord.attributes.study.names'), s.id, { 'data-masters' => s.masters }]}, education.study_id), :include_blank => "--"
            
            .col-md-5.activities                 
              %h4
                %i.fa.fa-ticket
                = I18n.t(:activities, scope: 'activerecord.models')
              .col-md-6
                .form-group

                  - @membership.each do |membership|
                    = f.fields_for 'participant_attributes[]', membership do |fa|
                      %label.ui-checkbox
                        = fa.hidden_field :id, :value => membership.id
                        = fa.check_box :participate, :checked => 'checked', :disabled => 'disabled'
                        %span
                          = membership.name
                          %span{ :style => 'color: grey; font-size: 0.8em;' } (#{number_to_currency(membership.price, :unit => '€')})
    
                  - @activities.each do |activity|
                    = f.fields_for 'participant_attributes[]', activity do |fa|
                      %label.ui-checkbox
                        = fa.hidden_field :id, :value => activity.id
                        = fa.check_box :participate, :checked => 'checked'
                        %span
                          = activity.name
                          %span{ :style => 'color: grey; font-size: 0.8em;' } (#{number_to_currency(activity.price, :unit => '€')})

              .col-md-6  
                .ui-select
                  = select_tag 'method', options_for_select(['IDEAL', 'CONTANT'])
                .ui-select{ :style => 'margin-top: 5px;' }
                  = select_tag 'bank', options_for_select([['ABN AMRO','ABNANL2A'], ['ING BANK', 'INGBNL2A'], ['KNAB', 'KNABNL2H'], ['RABOBANK', 'RABONL2U'], ['SNS BANK', 'SNSBNL2A'], ['ASN BANK','ASNBNL21'], ['REGIOBANK', 'RBRBNL21'], ['TRIODOS BANK','TRIONL2U'], ['VAN LANSCHOT BANKIERS', 'FVLBNL22']])
  
          %button.btn.btn-success{type: 'submit'}= I18n.t(:subscribe, scope: 'headers')

    %footer
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            %ul.list-inline
              %li
                %a{href: '//www.facebook.com/stickyutrecht', target: '_blank' }
                  %i.fa.fa-facebook.fa-3x
              %li
                %a{href: '//twitter.com/StickyUtrecht', target: '_blank' }
                  %i.fa.fa-twitter.fa-3x
              %li
                %a{href: '//www.linkedin.com/company/1125476', target: '_blank' }
                  %i.fa.fa-linkedin.fa-3x
            .top-scroll
              %a{href: "#top"}
                %i.fa.fa-circle-arrow-up.scroll.fa-4x
                
- if @member.errors.any?
  :javascript
    $('html,body').animate({
      scrollTop: $('#inschrijven').offset().top
    }, 0);
