- if flash[:errors]
  .col-md-12.no-margin
    .alert.alert-danger
      %span #{I18n.t('activerecord.errors.default')};
      %ul
      - flash[:errors].each do |_, msg|
        %li= msg.first

.col-md-12
  %h2
    Hallo
    %span #{@member.first_name},


  %p Op het moment ben je ingeschreven bij Studievereniging Sticky. Hieronder vind je studiegegevens die bij ons bekend zijn, het is belangrijk om deze gegevens bij te houden. Studievereniging Sticky bewaart je gegevens tijdens je studie maar ook erna, zodra je geen actieve studie meer hebt vragen we je hieronder wat we met je gegevens mogen doen. Voor vragen neem contact op met #{mail_to('bestuur@svsticky.nl')}.


= form_for :member, :url => status_path(:token => @token.token), :class => 'form-validation', :remote => true, :authenticity_token => true do |f|

  .col-md-12.studies

    - @member.educations.each do |education|
      = f.fields_for 'educations_attributes[]', education do |fs|
        .form-group

          - if education.study.present?
            = fs.hidden_field :id, :class => 'id'

            .col-md-6.bottom-border
              = I18n.t(education.study.code.downcase, scope: 'activerecord.attributes.study.names')

          - else
            .col-md-6.no-padding
              .ui-select
                = fs.select :study_id, options_for_select(Study.where( :active => true ).map{|s| [ I18n.t(s.code.downcase, scope: 'activerecord.attributes.study.names'), s.id]}, education.study_id), :include_blank => ''

          .col-md-6
            .ui-select
              = fs.select :status, options_for_select(Education.statuses.map{ |name, id| [I18n.t(name, scope: 'activerecord.attributes.education.status'), name]}, education.status), :include_blank => education.study.blank?

  .col-md-12.consent
    %h2
      %span Bewaren
      persoonsgegevens

    %p
      Geen student meer? Studievereniging Sticky bewaard je gegevens totdat je aangeeft dit niet meer te willen. Hieronder kun je aangeven wat wij met je gegevens mogen doen; mogen we ze bewaren, moeten we het over een jaar nog een keer vragen of wil je meteen al je gegevens verwijderen. Als je achteraf toch je gegevens wil verwijderen dan kan dat natuurlijk via de ledenpagina of neem contact op met #{mail_to('bestuur@svsticky.nl')}.

    %br

    .form-group
      %dt Nog niet helemaal zeker wat je wil, we kunnen je over een jaar nogmaals de vraag stellen.
      %dd
        %label.ui-checkbox
          = check_box_tag 'yearly'
          %span Ik geef toestemming mijn gegevens nog één jaar te bewaren.

      %dt Wij mogen al je gegevens bewaren totdat jij anders aangeeft, dit kan via #{link_to('koala', users_edit_url)}.

      %dd
        %label.ui-checkbox
          = check_box_tag 'indefinite'
          %span Ik geef toestemming mijn gegevens te bewaren totdat ik anders aangeef.


  .col-md-12.buttons
    %button.btn.btn-success{type: 'submit'} Opslaan

    %p Na opslaan van bovenstaande gegevens is de gebruikte link onbruikbaar, ga naar koala om je gegevens te bekijken of verwijderen.


  .col-md-12
    %h2
      %span Verwijderen
      persoonsgegevens

    %p Ben je geen student meer en heb je hierboven geen toestemming gegeven om je gegevens te bewaren dan kun je je persoonsgegevens direct verwijderen. Mocht je later weer lid willen worden zal je opnieuw contributie moeten betalen.

    - if @member.destroyable?
      .panel.panel-warning
        %button.btn.btn-danger{formaction: status_destroy_url(token: params[:token]), type: 'submit', onclick: 'return confirm("Je staat op het punt al je persoonsgegevens te verwijderen bij Studievereniging Sticky, weet je het zeker?");'} Verwijderen je gegevens
        %p Na verwijderen kan je niet meer inloggen of inschrijven voor activiteiten, je deelname aan toekomstige activiteiten wordt verwijderd en je verliest je mongoose tegoed.
    - else
      %p Omdat je nog financiele verplichtingen hebt kun je je account niet verwijderen. Zorg dat je de laatste activiteiten betaald en verwijder je account door deze link te volgen of in #{link_to('koala', users_edit_url)}.
