- @scope = [:pages, :public, :status]

%nav.navbar
  = link_to 'https://svsticky.nl', :class => 'navbar-brand' do
    = t :association_name

  .languages
    = link_to image_tag('nl.png', { :style => 'height: 15px; width: 25px;' }), status_path(:token => @token.token, :l => 'nl'), { :style => 'margin: 10px; float:left; '}
    = link_to image_tag('gb.png', { :style => 'height: 15px; width: 25px;' }), status_path(:token => @token.token, :l => 'en'), { :style => 'margin: 10px; margin-left: 0px; float:left;'}

.container
  - if flash[:errors]
    .col-12.no-margin
      .alert.alert-danger
        %span #{I18n.t('activerecord.errors.default')};
        %ul
        - flash[:errors].each do |_, msg|
          %li= msg.first

  .row
    .col-12
      %h2
        = I18n.t :hi, scope: @scope
        %span #{@member.first_name},


      %p= raw I18n.t :description, scope: @scope, url: mail_to('bestuur@svsticky.nl')

  %hr

  = form_for :member, :url => status_path(:token => @token.token), :class => 'form-validation', :remote => true, :authenticity_token => true do |f|
    .row
      .col-12.studies
        - @member.educations.each do |education|
          = f.fields_for 'educations_attributes[]', education do |fs|
            .form-group.row

              - if education.study.present?
                = fs.hidden_field :id, :class => 'id'

                .col-6.bottom-border
                  = I18n.t(education.study.code.downcase, scope: 'activerecord.attributes.study.names')

              - else
                .col-6.no-padding
                  .ui-select
                    = fs.select :study_id, options_for_select(Study.where( :active => true ).map{|s| [ I18n.t(s.code.downcase, scope: 'activerecord.attributes.study.names'), s.id]}, education.study_id), :include_blank => ''

              .col-6
                .ui-select
                  = fs.select :status, options_for_select(Education.statuses.map{ |name, id| [I18n.t(name, scope: 'activerecord.attributes.education.status'), name]}, education.status), :include_blank => education.study.blank?

    .row
      .col-12.consent
        %h2= raw I18n.t :store_info, scope: @scope
        %p= raw I18n.t :store_description, scope: @scope, url: mail_to('bestuur@svsticky.nl')

        %br

        .form-group
          %dt= I18n.t :yearly, scope: @scope
          %dd
            %label.ui-checkbox
              = check_box_tag 'yearly'
              %span= I18n.t :yearly_consent, scope: @scope

          %dt= raw I18n.t :indefinite, scope: @scope, url: link_to('koala', users_edit_url)
          %dd
            %label.ui-checkbox
              = check_box_tag 'indefinite'
              %span= I18n.t :indefinite_consent, scope: @scope
          - Rails.configuration.mailchimp_interests_alumni.each do |name, key|
            .row
              .col-md-12
                %label.ui-checkbox
                  = check_box_tag "mailchimp_interests[#{key}]", "", @member.mailchimp_interests[key]
                  %span= I18n.t("#{name}.title_gpdr", scope: 'activerecord.annotations.member')
                  .callout.callout-info= I18n.t("#{name}.description_gpdr", scope: 'activerecord.annotations.member')

    %hr

    .row
      .col-12
        .card.text-center.border-success
          .card-body
            %p= I18n.t :save_note, scope: @scope
            %button.btn.btn-success{type: 'submit'}= I18n.t :save, scope: @scope

    %hr

    .row
      .col-12
        %h2= raw I18n.t :remove_info, scope: @scope
        %p= I18n.t :remove_description, scope: @scope

        - if @member.destroyable?
          .card.text-center.border-danger
            .card-body
              %p.card-title= I18n.t :destroyable, scope: @scope

              %button.btn.btn-danger{formaction: status_destroy_url(token: params[:token]), type: 'submit', onclick: "return confirm('#{I18n.t :warning, scope: @scope}');"}= I18n.t :destroy, scope: @scope
        - else
          %p= raw I18n.t :not_destroyable, scope: @scope, url: link_to('koala', users_edit_url)

  %hr
