- content_for(:page, 'activities')
- content_for(:title, 'Constipated koala | activiteiten') 

%section#content
  = render 'layouts/search'

  .page
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-ticket
            Activiteiten
          .panel-body
            - @activities.each do |activity|
              %table.table.table-striped.table-linked#activities
                %thead
                  %tr
                    %td= link_to "#{activity.name}", activity
                %tbody
                  - activity.participants.where(:paid => false).each do |participant|
                    - if !participant.currency.nil?
                      %tr{ :class => ('red' unless participant.currency.nil? || participant.paid), :data => { :id => participant.id }  }
                        %td.col-md-8= link_to "#{participant.member.first_name} #{participant.member.infix} #{participant.member.last_name}", participant.member
                        
                        - if !participant.currency.nil?
                          %td.col-md-2
                            %span{ :style => 'line-height: 39px;' }= number_to_currency(participant.currency, :unit => '€')
                        %td.col-md-2
                          .btn-group{ :style => 'margin-top: 3px; margin-right:3px; float: right;'}
                            - if !participant.currency.nil?
                              - if participant.paid
                                %button.btn.btn-primary
                                  %i.fa.fa-fw.fa-check
                              - else
                                %button.btn.btn-warning.paid
                                  %i.fa.fa-fw.fa-times
                            %button.btn.btn-default.destroy
                              %i.fa.fa-fw.fa-trash-o