- content_for(:page, 'activities')
- content_for(:title, 'Constipated koala | activiteiten') 
- content_for(:template, 'activities/activity.html.js')

= render 'activities/activity.html.js'

%section#content
  = render 'layouts/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-ticket
            Activiteiten
            
          .panel-body#activities
            - @activities.each do |activity|
              %table.table.table-striped.table-linked{ :data => { 'id' => activity.id }, :style => 'margin: 0px;' }
                %thead
                  %tr{ :style => 'font-size: 1.1em;' } 
                    %td{ :colspan => 3 }= link_to "#{activity.name}", activity, :style => 'left: -10px; position: relative;'
                    
                %tbody
                  - activity.participants.where(:paid => false).each do |participant|
                    - if !participant.currency.nil?
                      %tr{ :class => ('red' unless participant.currency.nil? || participant.paid), :data => { :id => participant.id }  }
                        %td.col-md-8= link_to "#{participant.member.first_name} #{participant.member.infix} #{participant.member.last_name}", participant.member
                
                        - if !participant.currency.nil?
                          %td.col-md-2
                            %span{ :style => 'line-height: 39px;' }= number_to_currency(participant.currency, :unit => '€')
                        %td.col-md-2
                          .btn-group{ :style => 'margin-top: 3px; margin-right:3px; float: right;'}
                            - if participant.paid
                              %button.btn.btn-primary.unpaid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 )}
                                %i.fa.fa-fw.fa-check
                            - else
                              %button.btn.btn-warning.paid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 )}
                                %i.fa.fa-fw.fa-times
                            %button.btn.btn-default.destroy
                              %i.fa.fa-fw.fa-trash-o
                              
                  - if !activity.start_date.past?
                    %tr
                      %td.col-md-8{ :style => 'position: relative;'}
                        %input.participant.col-md-11{ :style => 'heigth: 30px; margin: 5px 0; margin-left: 8px; padding: 1px;'}
                        %ul.dropdown-menu.col-md-11{ :style => 'display: none; position: absolute; left: 8px; top: 30px;' }
                      %td.col-md-2
                        - if !activity.price.nil?
                          %span{ :style => 'line-height: 39px;' }= number_to_currency(activity.price, :unit => '€')
                        - else
                          %span{ :style => 'line-height: 39px;' } -
                      %td.col-md-2
                  - if activity.participants.count > 0 && activity.participants.where(:paid => false).count != 0
                    %tr
                      %td{ :colspan => 3 }
                        = link_to "toon alle #{activity.participants.count} deelnemers", activity, :style => 'text-align: center; font-size: 0.8em;'
                      

      = form_for :activity, url: activities_path, method: :post, :class => 'form-validation' do |f|   
        - if @activity.errors.any?
          .col-md-6
            .alert.alert-danger
              %button.close{ type: "button" } ×
              %span Oeps, niet alles is goed ingevuld;
              %ul
              - @activity.errors.full_messages.each do |msg|
                %li= msg
        
        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-ticket
              Nieuwe activiteit
            .panel-body
            
              .form-group
                .row
                  .col-md-9                
                    = label(:activity, :name)
                    = f.text_field :name, :value => @activity.name, :class => 'form-control'
                  .col-md-3
                    = label(:activity, :price)
                    = f.text_field :price, :value => number_to_currency(@activity.price, :unit => ''), :class => 'form-control'
                
              .form-group
                .row
                  .col-md-4
                    = label(:activity, :start_date)
                    = f.date_field :start_date, :value => @activity.start_date, :class => 'form-control'
                  .col-md-4
                    = label(:activity, :end_date)
                    = f.date_field :end_date, :value => @activity.end_date, :class => 'form-control'
                  .col-md-4

              %button.btn.btn-success{type: 'submit'} Opslaan
              = link_to 'Annuleren', activities_path, { :class => 'button btn btn-default' }