-#
  @param {integer}  id            - Id of the activity
  @param {?}        recipients    - List of members for name and email
  @param {string}   subject
  @param {string}   mail          - Name of the template used in this mail

.card
  .card-body
    %form.form-horizontal#mail{ :data => { :id => id }, :action => mail_activity_participants_path( :activity_id => id ), :method => :post }
      .form-group.row
        %label.col-lg-2.d-none.d-md-block{ :style => 'height: 34px; line-height: 34px; padding-right: 0px;'}= I18n.t("layouts.partials.mail.addressees")
        .col-lg-10.col-sm-12
          .row#recipients
            .col-lg-8
              %input#bbc.form-control{:name => 'recipients', :type => 'text', :value => recipients.map{ |recipient| "#{recipient.member.name} <#{recipient.email}>"}.join(', '), :readonly => true }
            .col-lg-4
              .ui-select
                %select.form-control{ :name => 'recipients', :style => 'width: 100%;'}
                  %option{ :value => 'attendees' }= I18n.t("layouts.partials.mail.attendees")
                  %option{ :value => 'all' }= I18n.t("layouts.partials.mail.all_participants")
                  %option{ :value => 'reservists' }= I18n.t("layouts.partials.mail.reservists")
                  %option{ :value => 'debtors', :selected => 'selected' }= I18n.t("layouts.partials.mail.non_payers")
      .form-group.row
        %label.col-lg-2.d-none.d-md-block{ :style => 'height: 34px; line-height: 34px;'}= I18n.t("layouts.partials.mail.subject")
        .col-lg-10.col-sm-12
          %input#onderwerp.form-control{ :name => 'subject', :type => 'text', :value => "#{I18n.t("association_name")} | #{subject}" }

      = render 'layouts/partials/editor'

      #textarea.form-control{ :contenteditable => 'true' }
        - if mail.present?
          = render :template => "mailings/#{mail}", :locals => { subject: subject }

      %textarea#html.form-control
        - if mail.present?
          = render :template => "mailings/#{mail}", :locals => { subject: subject }

      .mail-actions
        %button.btn.btn-primary{ type: 'submit' }= I18n.t("layouts.partials.mail.send")
        .btn.btn-default.disabled{ :disabled => 'disabled' }= I18n.t("layouts.partials.mail.draft")
