-# The link variable is set to a proc that returns the link tag.
- link = pagy_anchor(pagy, anchor_string: 'class="page-link"')

%nav{"aria-label" => "pager", :role => "navigation"}
  %ul.pagination
    - if pagy.prev
      %li.page-item!= link.(pagy.prev, '&larr;', classes: nil, aria_label: "previous")
    - else
      %li.page-item.disabled
    - pagy.series.each do |item|
      - if item.is_a?(Integer)
        %li.page-item!= link.(item)
      - elsif item.is_a?(String)
        %li.page-item.active!= link.(item)
      - elsif item == :gap
        %li.page-item.disabled.gap
          %a.page-link{:href => "#"}!= pagy_t('pagy.nav.gap')

    - if pagy.next
      %li.page-item!= link.(pagy.next, '&rarr;', classes: nil, aria_label: "next")
    - else
      %li.page-item.disabled
