.panel.panel-default
  .panel-body
    %form.form-horizontal#mail{ :data => { 'id' => id }, :action => mail_path, :method => :post }
      .form-group
        %label.col-md-2.hidden-xs{ :style => 'height: 34px; line-height: 34px;'} Geadresseerden
        .col-md-10.col-xs-12
          .row#recipients
            .col-md-8
              %input#bbc.form-control{:name => 'recipients', :type => 'text', :value => geadresseerden.map{ |recipient| "#{recipient.first_name} #{recipient.infix} #{recipient.last_name} <#{recipient.email}>"}.join(', ') }
            .col-md-4
              .ui-select
                %select.form-control{ :name => 'recipients', :style => 'width: 100%;'}
                  %option{ :value => 'all' } ALLE DEELNEMERS
                  %option{ :value => 'debtors', :selected => 'selected' } NOG BETALERS
                  %option{ :value => 'edited', :disabled => 'disabled' } AANGEPAST
      .form-group
        %label.col-md-2.hidden-xs{ :style => 'height: 34px; line-height: 34px;'} Onderwerp
        .col-md-10.col-xs-12
          %input#onderwerp.form-control{ :name => 'subject', :type => 'text', :value => "Studievereniging Sticky #{onderwerp.downcase}" }
          
      .ui-editor.ta-root.focussed
        .ta-toolbar.btn-toolbar.focussed
        
          .btn-group
            %button.btn.btn-default.dropdown-toggle{ 'data-toggle' => 'dropdown' }
              %i.fa.fa-text-height
              %span.caret
            
            %ul.dropdown-menu
              %li{ :style => 'font-size: 0.8em;' }
                %a{name: 'small', tabindex: '-1', type: 'button', unselectable: 'on'}
                  klein
              %li{ :style => 'font-size: 1em;' } 
                %a{name: 'default', tabindex: '-1', type: 'button', unselectable: 'on'}
                  standaard
              %li{ :style => 'font-size: 1.2em;' }
                %a{name: 'large', tabindex: '-1', type: 'button', unselectable: 'on'}
                  groot
              
          .btn-group
            %button.btn.btn-default{name: 'bold', tabindex: '-1', type: 'button', unselectable: 'on'}
              %i.fa.fa-bold
            %button.btn.btn-default{name: 'italics', tabindex: '-1', type: 'button', unselectable: 'on'}
              %i.fa.fa-italic
            %button.btn.btn-default{name: 'underline', tabindex: '-1', type: 'button', unselectable: 'on'}
              %i.fa.fa-underline
          .btn-group
            %button.btn.btn-default{name: 'ul', tabindex: '-1', type: 'button', unselectable: 'on'}
              %i.fa.fa-list-ul
            %button.btn.btn-default{name: 'ol', tabindex: '-1', type: 'button', unselectable: 'on'}
              %i.fa.fa-list-ol
              
      -#text.form-control{ :contenteditable => 'true' }
      %textarea.form-control#text{ :name => 'mail', :rows => '12' }
        :preserve
          Hoi %recipient.first_name%,
          
          Je bent onlangs meegeweest naar %recipient.activity%. Deze activiteit kostte %recipient.price%. Zou je dit bedrag zo snel mogelijk willen overmaken naar NL61INGB0002877106 t.n.v. Studievereniging Sticky o.v.v. %recipient.first_name% %recipient.infix% %recipient.last_name% %recipient.activity%?
          
          Met vriendelijke groet,
          
          Martijn Casteel
          Penningmeester kandidaatsbestuur 2014
          Studievereniging Sticky
          
          +316 12 18 34 80
          penningmeester@stickyutrecht.nl
          http://www.stickyutrecht.nl
      
      %br
      .mail-actions
        %button.btn.btn-primary{ type: 'submit', :disabled => 'disabled' } Verstuur
        .btn.btn-default.disabled{ :disabled => 'disabled' } Draft
        
:javascript
  $(document).on('ready page:load', function(){
    
    $('form#mail .ta-toolbar button').on('click', function(){
      var textarea = $('textarea#text');
    
      switch ( $(this).attr('name') ){
        default :
          alert('test');
          break;
      }
    });
    
    $('form#mail .mail-actions .btn.btn-primary').on('click', function( e ){
      e.preventDefault();  
    
      $.ajax({
        url: '/mail',
        type: 'POST',
        data: {
          id: $('form#mail').attr('data-id'),
          recipients: $('form#mail #recipients input#bbc').val(),
          subject: $('form#mail input#onderwerp').val(),
          text: $('form#mail textarea#text').val()
          }
      }).done(function( data ){
        console.log(data)
        alert('mail is verstuurd');
      }).fail(function( data ){
        alert('mail is niet verstuurd', 'error');
      });
    });
  
  });
