!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Constipated koala'
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller], 'data-turbolinks-track' => true
    = render 'layouts/alert.html.js'
    = csrf_meta_tags
  %body#app
    %div
      %div
        %section#header.top-header
          %header.clearfix
            .logo
              %a{href: '/'}
                %span Constipated koala
            .top-nav      
              %ul.nav-right.pull-right.list-unstyled
                %li.dropdown.text-normal.nav-profile
                  %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                    =image_tag "https://secure.gravatar.com/avatar/#{current_user.gravatar}?d=mm", :class => 'img-circle img30_30'
                    %span.hidden-xs
                      %span #{current_user.email }
                  %ul.dropdown-menu.with-arrow{ :style => 'right: 0;' }
                    %li
                      %a{href: '/sign_out', 'data-method' => :delete}
                        %i.fa.fa-sign-out
                        %span Log uit
                        
      .view-container
        = yield
        
    #toast-container.toast-bottom-right  
      