!!! 5
%html
  %head
    %title
      = t :association_name

      - if content_for?(:title)
        |
        = yield(:title)

    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no, minimal-ui", name: "viewport"}
    %meta{content: "yes", name:"apple-mobile-web-app-capable"}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

    %link{:href => "/assets/images/apple-icon-koala-144.png", :rel => "apple-touch-icon"}
    %link{:href => "/assets/images/apple-icon-koala-114.png", :rel => "apple-touch-icon"}
    %link{:href => "/assets/images/apple-icon-koala-72.png", :rel => "apple-touch-icon"}
    %link{:href => "/assets/images/apple-icon-koala-57.png", :rel => "apple-touch-icon"}

    %template#alert
      .toast{:class => "toast-{1}"}
        %button.toast-close-button
          ×
        .toast-message
          {0}
    = csrf_meta_tags
  %body#app
    %div
      %section#header.top-header
        %header.clearfix
          = link_to '#', :class => 'toggle-min visible-xs visible-small menu-button' do
            .icon-bar
            .icon-bar
            .icon-bar
          = link_to root_path, :class => 'logo' do
            - if content_for?(:title)
              %span.hidden-xs
                = t :association_name
                |
              %span
                = yield(:title)
            - else
              %span
                = t :association_name
          .top-nav
            .email.hidden-xs
              %span= current_user.email

            .hidden-xs
              = link_to destroy_user_session_path, 'data-method' => :delete do
                %i.fa.fa-sign-out

      = render 'layouts/partials/navigation'

      .view-container
        = yield

    #toast-container.toast-bottom-right
