!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Constipated koala'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag :defaults
    = csrf_meta_tags
  %body#app
    %div
      %div
        = render 'layouts/header'
        = render 'layouts/nav'  
      .view-container
        = yield
        / nav-min in de eerste div