!!! 5
%html
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
        |
      = t :association_name
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    %template#alert
      .toast{:class => "toast-{1}"}
        %button.toast-close-button
          ×
        .toast-message
          {0}
    = csrf_meta_tags
  %body#app
    %div
      %div
        = render 'layouts/header'

        - if current_user.admin?
          = render 'layouts/nav'
        - else
          = render 'layouts/nav_user'

      .view-container
        = yield
    #toast-container.toast-bottom-right
