<!DOCTYPE html>
<html>
<head>
  <title>ConstipatedKoala</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<% if notice %>
  <p><%= notice %></p>
<% end %>
<% if alert %>
  <div class="ui error form segment">
    <div class="ui error message">
      <div class="header">Er is iets foutgegaan...</div>
      <p><%= alert %></p>
    </div>
  </div>
<% end %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
