!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Constipated koala'
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}

    = stylesheet_link_tag 'doorkeeper', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'doorkeeper', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    .container
      .row
        %h1 Studievereniging Sticky

        - if current_user.present?
          %h2
            Hoi
            %b #{current_user.credentials.first_name},
            bent u niet #{current_user.credentials.name}?
            = link_to destroy_user_session_path, 'data-method' => :delete do
              klik dan hier

      = yield
