!!! 5
%html.h-full
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
        |
      = I18n.t :association_name

    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, user-scalable=no', name: 'viewport'}

    = stylesheet_link_tag 'doorkeeper', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_pack_tag 'doorkeeper', 'data-turbolinks-track': 'reload'

    = csrf_meta_tags
  %body.h-full.flex.flex-col
    .flex-grow.flex.flex-col.flex-grow.w-full.max-h-full.items-center.justify-center
      %img.w-64{src:"https://public.svsticky.nl/logos/logo_compact_kleur.svg"}

      .shadow.px-10.py-4.mt-5.rounded-md
        %h1.text-center.text-2xl
          = "Inloggen"

        - if current_user.present?
          %h2
            =I18n.t('layouts.doorkeeper.hi')
            %b= current_user.credentials.first_name
            = I18n.t('layouts.doorkeeper.identity_confirmation', name: current_user.credentials.name)
            = link_to destroy_user_session_path, 'data-method' => :delete do
              = I18n.t('layouts.doorkeeper.click_here')

        = yield

      %span.right-0.bottom-0.p-2.text-black
        = "Koala " + ConstipatedKoala::Application::VERSION.to_s

    = render 'layouts/partials/footer'
