!!! 5
%html.h-full
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
        |
      = I18n.t :association_name

    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, user-scalable=no', name: 'viewport'}

    = stylesheet_link_tag 'doorkeeper', media: 'all', 'data-turbolinks-track' => 'reload'

    = stylesheet_pack_tag 'doorkeeper', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'doorkeeper', 'data-turbolinks-track': 'reload'

    = csrf_meta_tags
  %body.h-full.flex.flex-col.bg-gray-100.dark:bg-gray-900
    .flex.flex-col.flex-grow.justify-center
      %img.w-64.mx-auto.p-4.dark:hidden{src:"https://public.svsticky.nl/logos/logo_compact_outline_kleur.svg"}
      %img.w-64.mx-auto.p-4.hidden.dark:block{src:"https://public.svsticky.nl/logos/logo_compact_outline_wit.svg"}

      .shadow.px-10.py-4.rounded-md.bg-white.mx-auto.dark:bg-gray-800.dark

        - if current_user.present? and current_user.credentials.first_name?
          %h2.mt-2.dark:text-white
            = I18n.t('layouts.doorkeeper.hi')
            %b= current_user.credentials.first_name
            = I18n.t('layouts.doorkeeper.identity_confirmation', name: current_user.credentials.name)
            = link_to destroy_user_session_path, 'data-method' => :delete do
              = I18n.t('layouts.doorkeeper.click_here')

        = yield

      %span.p-2.text-gray-500.mx-auto
        = "Koala " + ConstipatedKoala::Application::VERSION.to_s

    = render 'layouts/partials/footer'
