!!! 5
= javascript_pack_tag 'application'

%html
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
        |
      = I18n.t :association_name

    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, user-scalable=no', name: 'viewport'}

    = stylesheet_link_tag 'doorkeeper', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'doorkeeper', 'data-turbolinks-track' => 'reload'

    = csrf_meta_tags
  %body
    .container-fluid
      .row
        %h1.bg-gray-dark.rounded-lg.col-xl-6
          = I18n.t :association_name

        - if current_user.present?
          %h2
            =I18n.t('layouts.doorkeeper.hi')
            %b= current_user.credentials.first_name
            = I18n.t('layouts.doorkeeper.identity_confirmation', name: current_user.credentials.name)
            = link_to destroy_user_session_path, 'data-method' => :delete do
              = I18n.t('layouts.doorkeeper.click_here')

      = yield

    %span.version
      = ConstipatedKoala::Application::VERSION.to_s
