!!! 5
%html
  %head
    %title
      = t :association_name

      - if content_for?(:title)
        |
        = yield(:title)

    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}

    = stylesheet_link_tag 'members', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'members', 'data-turbolinks-track' => 'reload'

  %body#app
    .nav-min
      %nav.navbar-default{:role => "navigation"}
        = link_to '#', :class => 'toggle-min d-block d-md-none menu-button' do
          %i.fa.fa-bars

        = link_to root_path, :class => 'navbar-brand' do
          = t :association_name

        %ul.nav
          %li{:class => ('active' if yield(:page) == 'home')}
            = link_to :root do
              %i.fa.fa-laptop
              %span.nav-label= I18n.t("navigation.home")

          %li{:class => ('active' if yield(:page) == 'activities')}
            = link_to activities_path do
              %i.fa.fa-ticket-alt
              %span.nav-label= I18n.t("activerecord.models.activity")


          %li{:class => ('active' if yield(:page) == 'edit')}
            = link_to :users_edit do
              %i.fa.fa-user
              %span.nav-label= I18n.t("members.navigation.profile")

          %li.d-none.d-md-block
            = link_to destroy_user_session_path, 'data-method' => :delete do
              %i.fa.fa-sign-out-alt
              %span.nav-label= I18n.t("members.navigation.sign_out")

          %hr

          %li
            = link_to "https://fotos.svsticky.nl/" do
              %i.fa.fa-camera
              %span= I18n.t("members.navigation.pictures")

          %li
            = link_to "https://files.svsticky.nl/" do
              %i.fa.fa-file
              %span= I18n.t("members.navigation.files")

          %li
            = link_to "https://digidecs.svsticky.nl/" do
              %i.fa.fa-receipt
              %span= I18n.t("members.navigation.declarations")

          %li
            = link_to "https://svsticky.nl/boeken" do
              %i.fa.fa-book
              %span= I18n.t("members.navigation.books")

          %li
            = link_to "https://svsticky.nl/carriere/vacatures" do
              %i.fa.fa-briefcase
              %span= I18n.t("members.navigation.vacancies")

    #page-container
      .row
        %nav.navbar.navbar-static-top
          %ul.nav.d-md-none
            %li
              %span.text-muted= current_user.email
            %li
              = link_to destroy_user_session_path, 'data-method' => :delete do
                %i.fa.fa-sign-out-alt
                %span.nav-label= I18n.t("members.navigation.sign_out")

      = yield

    #toast-container.toast-bottom-right
