!!! 5
%html
  %head
    %title
      = t :association_name

      - if content_for?(:title)
        |
        = yield(:title)

    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}

    = stylesheet_link_tag 'members', media: 'all', 'data-turbolinks-track' => 'reload'

    = javascript_pack_tag 'members', 'data-turbolinks-track': 'reload'

    %template#alert
      .toast{:class => "toast-{1}"}
        %button.toast-close-button
          ×
        .toast-message
          {0}
    = csrf_meta_tags
  %body#app
    %div
      %section.header.bg-dark
        %header.clearfix
          = link_to '#', :class => 'toggle-min d-block d-md-none menu-button' do
            %i.fa.fa-bars

          = link_to root_path, :class => 'logo' do
            %span
              = t :association_name

          .top-nav
            .email.d-none.d-md-block
              %span= current_user.email

            .d-none.d-md-block
              = link_to destroy_user_session_path, 'data-method' => :delete do
                %i.fa.fa-sign-out-alt

      %aside#sidebar-container{role: 'navigation'}
        #sidebar-wrapper
          .list-group.list-group-flush{'data-collapse-nav' => '', 'data-slim-scroll' => '', 'data-highlight-active' => '' }
            = link_to :root, :class => 'list-group-item list-group-item-action' do
              %span= I18n.t('navigation.home')
              %i.fa.fa-desktop{:class => ('active' if yield(:page) == 'home')}

            = link_to activities_path, :class => 'list-group-item list-group-item-action' do
              %span= I18n.t('navigation.activity')
              %i.fa.fa-ticket-alt{:class => ('active' if yield(:page) == 'activities')}
            = link_to :member_payments, :class => 'list-group-item list-group-item-action' do
              %span= I18n.t('members.navigation.payments')
              %i.fa.fa-money-bill-wave{:class => ('active' if yield(:page) == 'member_payments')}

            = link_to :users_edit, :class => 'list-group-item list-group-item-action' do
              %span= I18n.t('members.navigation.edit_profile')
              %i.fa.fa-user{:class => ('active' if yield(:page) == 'edit')}
            = link_to '', :class => 'list-group-item list-group-item-action',
              'data-toggle' => 'collapse', 'href' => '#sub-apps' do
              %span= I18n.t('members.navigation.links')
              %i.fa.fa-caret-down
            .collapse.list-group#sub-apps
              = link_to "https://mongoose.svsticky.nl/", :class => "list-group-item list-group-item-action" do
                %span= "Mongoose"
                %i.fa.fa-credit-card
              = link_to "https://fotos.svsticky.nl/", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.pictures')
                %i.fa.fa-camera
              = link_to "https://files.svsticky.nl/", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.files')
                %i.fa.fa-file
              = link_to "https://digidecs.svsticky.nl/", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.declarations')
                %i.fa.fa-receipt
              = link_to "https://svsticky.nl/boeken", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.books')
                %i.fa.fa-book
              = link_to "https://svsticky.nl/carriere/vacatures", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.vacancies')
                %i.fa.fa-briefcase
              = link_to "https://github.com/svsticky/", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.github')
                %i.fab.fa-github
              = link_to "https://svsticky.nl/discord", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.discord')
                %i.fab.fa-discord
              = link_to "https://wiki.svsticky.nl/", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.wiki')
                %i.fa.fa-info-circle
              = link_to "https://voeljeveilig.svsticky.nl/", :class => 'list-group-item list-group-item-action' do
                %span= I18n.t('members.navigation.voeljeveilig')
                %i.fa.fa-shield-alt
            -# Signout button for mobile
            = link_to destroy_user_session_path, 'data-method' => :delete, :class => 'list-group-item list-group-item-action d-md-none' do
              %span= I18n.t('devise.sessions.new.sign_out')
              %i.fa.fa-sign-out-alt
      .view-container
        %section
          .page#content
            - if not current_user.unconfirmed_email.nil?
              .alert.alert-warning
                %span= I18n.t('members.home.edit.email_confirmation')
            = yield

    #toast-container.toast-bottom-right

    %iframe{referrerpolicy: "no-referrer", sandbox: "allow-scripts allow-same-origin", src: "https://twirre.io/clippy/iframe", style: "position: fixed; right: 0; bottom: 0; height: 100%; border: none; color-scheme: auto"}
