!!! 5
%html
  %head
    %title
      = t :association_name

      - if content_for?(:title)
        |
        = yield(:title)

    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name: "viewport"}

    = stylesheet_link_tag 'members', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'members', 'data-turbolinks-track' => 'reload'

    %template#alert
      .toast{:class => "toast-{1}"}
        %button.toast-close-button
          ×
        .toast-message
          {0}
    = csrf_meta_tags
  %body#app
    %div
      %section.header.bg-dark
        %header.clearfix
          = link_to '#', :class => 'toggle-min d-block d-md-none menu-button' do
            %i.fa.fa-bars

          = link_to root_path, :class => 'logo' do
            %span
              = t :association_name

          .top-nav
            .email.d-none.d-md-block
              %span= current_user.email

            .d-none.d-md-block
              = link_to destroy_user_session_path, 'data-method' => :delete do
                %i.fa.fa-sign-out-alt

      %aside#sidebar-container{role: 'navigation'}
        #sidebar-wrapper
          .list-group.list-group-flush{'data-collapse-nav' => '', 'data-slim-scroll' => '', 'data-highlight-active' => '' }
            = link_to :root, :class => 'list-group-item list-group-item-action' do
              %span= I18n.t("navigation.home")
              %i.fa.fa-desktop{:class => ('active' if yield(:page) == 'home')}

            = link_to activities_path, :class => 'list-group-item list-group-item-action' do
              %span= I18n.t("activerecord.models.activity")
              %i.fa.fa-ticket-alt{:class => ('active' if yield(:page) == 'activities')}

            = link_to :users_edit, :class => 'list-group-item list-group-item-action' do
              %span= I18n.t("members.navigation.edit_profile")
              %i.fa.fa-user{:class => ('active' if yield(:page) == 'edit')}

      .view-container
        %section
          .page#content
            = yield

    #toast-container.toast-bottom-right
