<h1 class="ui dividing header">Aanpassen lid: <%= @member.first_name %> <%= @member.infix %> <%= @member.last_name %> </h1>

<% if @member.errors.any? %>
  <div class="ui error form segment" id="error_explanation">
    <div class="ui error message">
      <div class="header">Er is een fout opgetreden.</div>
      <ul class="list">
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="ui form segment">
<%= form_for :member, url: member_path(@member), method: :patch do |f| %>
    <div class="three fields">
      <div class="field">
        <label>Voornaam</label>
        <%= f.text_field :first_name, :value => @member.first_name %>
      </div>
      <div class="field">
        <label>Tussenvoegsel</label>
        <%= f.text_field :infix, :value => @member.infix %>
      </div>
      <div class="field">
        <label>Achternaam</label>
        <%= f.text_field :last_name, :value => @member.last_name %>
    </div>
  </div>
  <div class="five fields">
    <div class="field">
      <label>Adres</label>
      <%= f.text_field :address, :value => @member.address %>
    </div>
    <div class="field">
      <label>Huisnummer</label>
      <%= f.text_field :house_number, :value => @member.house_number %>
    </div>
    <div class="field">
      <label>Postcode</label>
      <%= f.text_field :postal_code, :value => @member.postal_code %>
    </div>
    <div class="field">
      <label>Woonplaats</label>
      <%= f.text_field :city, :value => @member.city %>
    </div>
      <div class="field">
        <label>Geslacht</label>
        <div class="ui selection dropdown">
        <% if @member.gender == 'm' %>
        <div class="default text">Man</div>
        <% else %>
        <div class="default text">Vrouw</div>
        <% end %>  
        <i class="dropdown icon"></i>
        <input type="hidden" name="member_gender"></input>
        <div class="menu">
            <div class="item" data-value="m">Man</div>
            <div class="item" data-value="f">Vrouw</div>
        </div>
      </div>
      <script>
        $('.ui.selection.dropdown')
        .dropdown();
      </script>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Telefoonnummer</label>
      <%= f.telephone_field :phone_number, :value => @member.phone_number %>
    </div>
    <div class="field">
      <label>Email</label>
      <%= f.email_field :email, :value => @member.email %>
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Studentnummer</label>
      <%= f.number_field :student_id, :value => @member.student_id %>
    </div>
    <div class="field">
      <label>Geboortedatum</label>
      <%= f.date_field :birth_date, :value => @member.birth_date %>
    </div>
    <div class="field">
      <label>Lid geworden op</label>
      <%= f.date_field :join_date, :value => @member.join_date %>
    </div>
    </div>
      <div class="field">
        <label>Comments</label>
        <%= f.text_area :comments, :value => @member.comments %>
      </div>
      <button class="ui positive small button" type="submit">Opslaan</button>
      <%= link_to 'Annuleren', member_path, { :class => "ui small button" } %>
    </div>
  </div>
<% end %>
