- content_for(:page, 'members')
- content_for(:title, 'Constipated koala | leden') 

%section#content
  = render 'layouts/search' 

  .page.page-table
    %section.panel.panel-default.table-dynamic
      .panel-heading
        %i.fa.fa-fw.fa-fw.fa-user
        Leden
        %a.close{ :type => 'button', :href => '/members/new' } +
      .table-responsive
        %table.table.table-bordered.table-striped.table-linked
          %thead
            %tr
              %th
                .th
                  Voornaam
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Tussenvoegsel
              %th
                .th
                  Achternaam
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
              %th
                .th
                  Telefoonnummer
              %th
                .th
                  E-mailadres
              %th
                .th
                  Studentnummer
              %th
                .th
                  Studie
                  -#
                    %span.glyphicon.glyphicon-chevron-up
                    %span.glyphicon.glyphicon-chevron-down
                    
          - @members.each do |member|
            %tr
              %td= link_to "#{member.first_name}", member
              %td= link_to "#{member.infix}", member
              %td= link_to "#{member.last_name}", member
              %td= link_to "#{member.phone_number}", member
              %td= link_to "#{member.email}", member
              %td= link_to "#{member.student_id}", member
              %td= link_to "#{member.studies}", member
              
      %footer.table-footer
        .row
          .col-md-6.page-num-info{ :data => { :limit => @limit } }
            %span
              Toon
              = select_tag 'limit', options_for_select([20,50,100], @limit)
              leden per pagina
              
          .col-md-6.text-right.pagination-container
            %ul.pagination-sm.pagination
              %li{ :class => ( 'disabled' if @offset == 0) }
                %a{ :data => { :offset => @offset - @limit }} vorige
                
              - (0 .. @pages).each do |i|
                - if i * @limit == @offset
                  %li.active
                    %a{ :data => { :offset => @limit * i }}= i+1
                - else
                  %li
                    %a{ :data => { :offset => @limit * i }}= i+1    
                    
              %li{ :class => ( 'disabled' if @offset == @limit * @pages) }
                %a{ :data => { :offset => @offset + @limit }} volgende