<h1 class="ui dividing header">Ledenoverzicht v1.2</h1>

<table class="ui table segment">
  <th>Id</th>
  <th>Voornaam</th>
  <th>Tussenvoegsel</th>
  <th>Achternaam</th>
  <th>Adres</th>
  <th>Huisnummer</th>
  <th>Postcode</th>
  <th>Woonplaats</th>
  <th>Telefoonnummer</th>
  <th>Email</th>
  <th>Geslacht</th>
  <th>Studentnummer</th>
  <th>Comments</th>
  <% @members.each do |member| %>
    <tr>
      <td><%= link_to "#{member.id}", member %></td>
      <td><%= member.first_name %></td>
      <td><%= member.infix %></td>
      <td><%= member.last_name %></td>
      <td><%= member.address %></td>
      <td><%= member.house_number %></td>
      <td><%= member.postal_code %></td>
      <td><%= member.city %></td>
      <td><%= member.phone_number %></td>
      <td><%= member.email %></td>
      <td><%= member.gender %></td>
      <td><%= member.student_id %></td>
      <td><%= member.comments %></td>
    </tr>
  <% end %>
</table>
