- content_for(:page, 'members')
- content_for(:title, 'Constipated koala | leden')

%section#content
  .page.page-form
    .row
      = form_for :member, url: members_path, method: :post, :class => 'form-validation' do |f|
      
        - if @member.errors.any?
          .col-md-12
            .alert.alert-danger
              %button.close{ type: "button" } ×
              %span Oh snap, niet alles is goed ingevuld;
              %ul
              - @member.errors.full_messages.each do |msg|
                %li= msg
      
        .col-md-6
          .panel.panel-default
            .panel-heading
              %span.glyphicon.glyphicon-th
              Algemene gegevens
            .panel-body
              .form-group
                .row
                  .col-md-5
                    %label{for: ''} Voornaam
                    = f.text_field :first_name, :value => @member.first_name, :class => 'form-control'
                  .col-md-2
                    %label{for: ''} Tussenvoegsel
                    = f.text_field :infix, :value => @member.infix, :class => 'form-control'
                  .col-md-5
                    %label{for: ''} Achternaam
                    = f.text_field :last_name, :value => @member.last_name, :class => 'form-control'
              .form-group
                .row
                  .col-md-6
                    %label{for: ''} Geslacht
                    .ui-select{style: ' width: 200px; '}
                      = f.select :gender, options_for_select([["MAN", "m"], ["VROUW", "f"]], @member.gender)
                  .col-md-6
                    %label{for: ''} Geboortedatum
                    = f.date_field :birth_date, :value => @member.birth_date, :class => 'form-control'
              .form-group
                .row
                  .col-md-8
                    %label{for: ''} Adres
                    = f.text_field :address, :value => @member.address, :class => 'form-control'
                  .col-md-4
                    %label{for: ''} Huisnummer
                    = f.text_field :house_number, :value => @member.house_number, :class => 'form-control'
              .form-group
                .row
                  .col-md-6
                    %label{for: ''} Postcode
                    = f.text_field :postal_code, :value => @member.postal_code, :class => 'form-control'
                  .col-md-6
                    %label{for: ''} Woonplaats
                    = f.text_field :city, :value => @member.city, :class => 'form-control'
              .form-group
                %label{for: ''} Telefoonnummer
                = f.telephone_field :phone_number, :value => @member.phone_number, :class => 'form-control'
              .form-group
                %label{for: ''} E-mailadres
                = f.email_field :email, :value => @member.email, :class => 'form-control'
              /
                .form-group
                  %label{for: ''} Tags
                  = f.select :tags, Tag.list, {:include_blank => true}, :multiple => true, :multiple => true, :name => 'member[tags_name_ids][]', :class => 'form-control'
              .form-group
                %label{for: ''} Comments
                = f.text_area :comments, :value => @member.comments, :class => 'form-control'
        .col-md-6
          .panel.panel-default
            .panel-heading
              %span.glyphicon.glyphicon-th
              Profielfoto
            .panel-body
        .col-md-6
          .panel.panel-default
            .panel-heading
              %span.glyphicon.glyphicon-th
              Studie gegevens
            .panel-body
              .form-group
                %label{for: ''} Studentnummer
                = f.text_field :student_id, :value => @member.student_id, :class => 'form-control'
              .form-group
                %label{for: ''} 
                  Studie
                  %a.close{ :type => 'button' } +
                - @member.educations.each do |education|
                  = f.fields_for 'educations_attributes[]', education do |fs|
                    .form-group.copyable
                      .row
                        .col-md-4
                          .ui-select
                            = fs.select :name_id, options_for_select(education.list, education.name_id) 
                        .col-md-4{ :style => 'padding-left: 0px; padding-right: 0px; width: 202px;'}
                          = fs.date_field :start_date, :class => 'form-control', :placeholder => 'begin datum'
                        .col-md-4{ :style => 'padding-right: 0px; width: 202px; '}                    
                          = fs.date_field :end_date, :class => 'form-control', :placeholder => 'eind datum'
                        = fs.hidden_field :_destroy, :class => 'destroy'
                        %a.btn.btn-default.destroy{ :type => 'button', :style => 'margin-left: 15px; border-color: rgb(203, 213, 221); height: 34px;width: 38px;'}
                          %span.fa.fa-trash-o
                .callout.callout-info
                  %p Om een wijziging door te voeren moet je op de opslaan knop drukken.
        .col-md-6
          .panel.panel-default
            .panel-heading
              %span.glyphicon.glyphicon-th
              Sticky
            .panel-body
              .form-group
                %label{for: ''} Lidmaatschap
                = f.date_field :join_date, :value => @member.join_date, :class => 'form-control'
              .form-group
                %label{for: ''} Groepen
                commissies
        .col-md-12
          .panel.panel-default
            .panel-body
              %button.btn.btn-success{type: 'submit'} Opslaan
              = link_to 'Annuleren', members_path, { :class => 'button btn btn-default' }