- content_for(:page, 'members')
- content_for(:title, "Constipated koala | leden | #{@member.first_name} #{@member.infix} #{@member.last_name}")

%section#content
  = render 'layouts/search' 

  .page{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      %div
        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-user
              Algemene gegevens
            .panel-body
              %p
                %strong #{@member.first_name} #{@member.infix} #{@member.last_name} 
                (#{@member.gender})
              %p 
                #{@member.address} #{@member.house_number} 
                %br
                #{@member.postal_code} #{@member.city}
              %p 
                #{@member.phone_number}
                %br
                #{@member.email}
              %p= @member.comments
              
              - @member.tags.each do |tag|
                .btn.btn-xs.btn-primary.disabled
                  %i.fa.fa-fw.fa-tag
                  = tag.name(tag)
         
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-ticket
              Activiteiten
            .panel-body
              %table.table.table-striped.table-linked#activities
                %thead
                  %tr
                    %th Activiteit
                    %th Prijs
                    %th.hidden-xs Datum
                    %th{ :style => 'text-align: center;' } Betaald
                %tbody
                  - @activities.each do |activity|
                    %tr{ :class => ('red' unless activity.currency(@member).nil? || activity.participants.where(:member => @member).first.paid), :data => { :id => activity.participants.where(:member => @member).first.id } }
                      %td= link_to "#{activity.name}", activity
                      
                      - if !activity.currency(@member).nil?
                        %td= link_to "#{number_to_currency(activity.currency(@member), :unit => '€')}", activity
                      - else
                        %td= link_to '-', activity, :style => 'text-decoration: none;'
                        
                      - if activity.end_date.nil?
                        %td.hidden-xs= link_to "#{activity.start_date}", activity
                      - else
                        %td.hidden-xs= link_to "#{activity.start_date} - #{activity.end_date}", activity
                        
                      %td
                        .btn-group{ :style => 'margin-top: 3px; margin-right:3px; float: right;'}
                          - if !activity.participants.where(:member => @member).first.currency.nil?
                            - if activity.participants.where(:member => @member).first.paid
                              %button.btn.btn-primary.unpaid{ :class => ('hidden' unless activity.currency(@member) > 0 )}
                                %i.fa.fa-fw.fa-check
                            - else
                              %button.btn.btn-warning.paid{ :class => ('hidden' unless activity.currency(@member) > 0 )}
                                %i.fa.fa-fw.fa-times
                          %button.btn.btn-default.destroy
                            %i.fa.fa-fw.fa-trash-o
     
        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-graduation-cap
              Studie gegevens
            .panel-body
              %dl.dl-horizontal
                %dt #
                %dd= @member.student_id
              %dl.dl-horizontal
                - @member.educations.each do |study|
                  %dt= study.name(study)
                  - if study.end_date.nil?
                    %dd #{study.start_date}
                  -else
                    %dd #{study.start_date}  -  #{study.end_date}
          
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-users
              Commissies
            .panel-body
              commissies 

          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-dashboard
              Stats
            .panel-body
              %dl.dl-horizontal
                %dt Lid sinds
                %dd= @member.join_date
                %dt Activiteiten
                %dd= @member.activities.length

          .panel.panel-default
            .panel-body
              = link_to 'Back', :back, { :class => 'button btn btn-default' }
              = link_to 'Edit', edit_member_path(@member.id), { :class => 'button btn btn-warning' }