<h1 class="ui dividing header">Lid gegevens</h1>

<div class="ui segment">
    <h5 class="ui dividing header">NAW gegevens</h5>
    <p><%= @member.first_name %>
    <% if @member.infix != '' %>
      <%= @member.infix %>
    <% end %>
    <%= @member.last_name %><br>
    <%= @member.address %> <%= @member.house_number %><br>
    <%= @member.postal_code %> <%= @member.city %><br>
  </p>
  <h5 class="ui dividing header">Contactgegevens</h5>
  <p>
    Telefoonnummer: <%= @member.phone_number %><br>
    Email: <%= @member.email %><br>
  </p>
  <h5 class="ui dividing header">Studiegerelateerd</h5>
  <p>
    Studentnummer: <%= @member.student_id %><br>
  </p>
  <h5 class="ui dividing header">Overig</h5>
  <p>
    Geboortedatum: <%= @member.birth_date %><br>
    Lid geworden op: <%= @member.join_date %><br>
  </p>
    <% if @member.comments != '' %>
      Comments: <%= @member.comments %><br>
    <% end %>
</div>

<%= link_to 'Back', members_path, { :class => "ui small button" } %>
<%= link_to 'Edit', edit_member_path(@member.id), { :class => "ui small button" } %>
