<h1><%= @member.first_name %> <%= @member.infix %> <%= @member.last_name %> </h1>
<p><%= link_to 'Back', members_path %><br><%= link_to 'Edit', edit_member_path(@member.id) %></p>

<table>
  <tr><td><%= @member.first_name %><td></tr>
      <% if @member.infix != '' %>
        <tr><td><%= @member.infix %></tr>
      <% end %>
  <tr><td><%= @member.last_name %></td></tr>
  <tr><td><%= @member.address %></td></tr>
  <tr><td><%= @member.house_number %></td></tr>
  <tr><td><%= @member.postal_code %></td></tr>
  <tr><td><%= @member.phone_number %></td></tr>
  <tr><td><%= @member.email %></td></tr>
  <tr><td><%= @member.gender %></td></tr>
  <tr><td><%= @member.student_id %></td></tr>
  <tr><td><%= @member.birth_date %></td></tr>
  <tr><td><%= @member.join_date %></td></tr>
  <% if @member.comments != '' %>
    <tr><td><%= @member.comments %></tr>
  <% end %>
</table>
