<h1><%= @member.first_name %> <%= @member.infix %> <%= @member.last_name %> </h1>

<table>
  <tr><td><%= @member.first_name %><td></tr>
  <tr><td><%= @member.infix %></tr>
  <tr><td><%= @member.last_name %></td></tr>
  <tr><td><%= @member.address %></td></tr>
  <tr><td><%= @member.house_number %></td></tr>
  <tr><td><%= @member.postal_code %></td></tr>
  <tr><td><%= @member.phone_number %></td></tr>
  <tr><td><%= @member.email %></td></tr>
  <tr><td><%= @member.gender %></td></tr>
  <tr><td><%= @member.student_id %></td></tr>
  <tr><td><%= @member.birth_date %></td></tr>
  <tr><td><%= @member.join_date %></td></tr>
  <tr><td><%= @member.comments %></td></tr>
</table>
