- content_for(:page, 'members')
- content_for(:title, "Constipated koala | leden | #{@member.first_name} #{@member.infix} #{@member.last_name}")

%section#content
  = render 'layouts/search' 

  .page
    .row
      %div
        .col-md-7
          .panel.panel-default
            .panel-heading
              %span.glyphicon.glyphicon-th
              Algemene gegevens
            .panel-body
              %p #{@member.first_name} #{@member.infix} #{@member.last_name} (#{@member.gender})
              %p 
                #{@member.address} #{@member.house_number} 
                %br
                #{@member.postal_code} #{@member.city}
              %p 
                #{@member.phone_number}
                %br
                #{@member.email}
              %p= @member.comments
              
              - @member.tags.each do |tag|
                .btn.btn-xs.btn-primary.disabled
                  #{tag.name(tag)}
        .col-md-5
          .panel.panel-default
            .panel-heading
              %span.glyphicon.glyphicon-th
              Studie gegevens
            .panel-body
              %dl.dl-horizontal
                %dt #
                %dd= @member.student_id
  
              %dl.dl-horizontal
                - @member.educations.each do |study|
                  %dt= study.name(study)
                  %dd #{study.start_date}  -  #{study.end_date}
          .panel.panel-default
            .panel-heading
              %span.glyphicon.glyphicon-th
              Sticky
            .panel-body
              %p= @member.join_date
              commissies 
              = @member.gravatar
          .panel.panel-default
            .panel-body
              = link_to 'Back', members_path, { :class => 'button btn btn-default' }
              = link_to 'Edit', edit_member_path(@member.id), { :class => 'button btn btn-warning' }