- content_for(:page, 'settings')
- content_for(:subpage, 'profile')

- content_for(:title, 'Constipated koala | instellingen | profiel')

%section#content
  .page.page-form
    .row
      = form_for :user, as: 'user', url: edit_registration_path, method: :patch, :class => 'form-validation', :html => { :id => 'editor', :autocomplete => 'off' } do |f|
      
        - if @user.errors.any?
          .col-md-12
            .alert.alert-danger
              %button.close{ type: "button" } ×
              %span Oh snap, niet alles is goed ingevuld;
              %ul
              - @user.errors.full_messages.each do |msg|
                %li= msg
      
        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-lock
              Inlog gegevens
            .panel-body
              .form-group
                %label{for: ''} E-mailadres
                = f.email_field :email, :value => @user.email, :class => 'form-control'
                
                - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  %span.help-block #{resource.unconfirmed_email} moet nog bevestigd worden.

              .form-group
                .row
                  .col-md-6
                    %label{for: ''} Nieuw wachtwoord
                    = f.password_field :password, :class => 'form-control'
                  .col-md-6
                    %label{for: ''} Wachtwoord herhalen
                    = f.password_field :password_confirmation, :class => 'form-control'

          - if @user.admin?  
            = f.fields_for :credentials do |admin|
              .panel.panel-default
                .panel-heading
                  %i.fa.fa-fw.fa-user
                  Admin gegevens
                .panel-body
                  = admin.hidden_field :id, :value => @user.credentials_id, :class => 'id' 

                  .form-group
                    .row
                      .col-md-5
                        %label{for: ''} Voornaam
                        = admin.text_field :first_name, :value => @user.credentials.first_name, :class => 'form-control'
                      .col-md-2
                        %label{for: ''} Tussenvoegsel
                        = admin.text_field :infix, :value => @user.credentials.infix, :class => 'form-control'
                      .col-md-5
                        %label{for: ''} Achternaam
                        = admin.text_field :last_name, :value => @user.credentials.last_name, :class => 'form-control'
                        
                  .form-group
                    %label{for: ''} Ondertekening
                    = render 'layouts/editor'
                    
                    #textarea.form-control{ :contenteditable => 'true' }
                      :preserve
                        #{@user.credentials.signature}
                        
                    = admin.text_area :signature, :rows => 8, :value => @user.credentials.signature, :class => 'form-control', :id => 'html'
              
        .col-md-6
          .panel.panel-default
            .panel-heading
              %i.fa.fa-fw.fa-photo
              Profielfoto
            .panel-body

        .col-md-12
          .panel.panel-default
            .panel-body
              .form-group{ :style => 'margin: 0px;'}
                .row
                  .col-md-3
                    = f.password_field :current_password, :class => 'form-control', :placeholder => 'huidig wachtwoord'
                  .col-md-3
                    %button.btn.btn-success{type: 'submit'} Opslaan
                    = link_to 'Annuleren', :back, { :class => 'button btn btn-default' }